<?xml version="1.0" encoding="UTF-8" ?> 

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.glaf.matrix.combination.mapper.CombinationHistoryMapper">

	<resultMap id="combinationHistoryResultMap" type="com.glaf.matrix.combination.domain.CombinationHistory">
		<id property="id" column="ID_" jdbcType="BIGINT" />
		<result property="syncId" column="SYNCID_" jdbcType="BIGINT" />
		<result property="deploymentId" column="DEPLOYMENTID_"
			jdbcType="VARCHAR" />
		<result property="databaseId" column="DATABASEID_" jdbcType="BIGINT" />
		<result property="databaseName" column="DATABASENAME_"
			jdbcType="VARCHAR" />
		<result property="status" column="STATUS_" jdbcType="INTEGER" />
		<result property="totalTime" column="TOTALTIME_" jdbcType="INTEGER" />
		<result property="createBy" column="CREATEBY_" jdbcType="VARCHAR" />
		<result property="createTime" column="CREATETIME_" jdbcType="TIMESTAMP" />
	</resultMap>


	<insert id="insertCombinationHistory" parameterType="com.glaf.matrix.combination.domain.CombinationHistory">
		insert into SYS_COMBINATION_HISTORY
		<trim prefix="(" suffix=")" suffixOverrides=",">
			ID_
			<if test="syncId != null">
				,SYNCID_
			</if>
			<if test="deploymentId != null">
				,DEPLOYMENTID_
			</if>
			<if test="databaseId != null">
				,DATABASEID_
			</if>
			<if test="databaseName != null">
				,DATABASENAME_
			</if>
			<if test="status != null">
				,STATUS_
			</if>
			<if test="totalTime != null">
				,TOTALTIME_
			</if>
			<if test="createBy != null">
				,CREATEBY_
			</if>
			<if test="createTime != null">
				,CREATETIME_
			</if>
		</trim>

		<trim prefix=" values (" suffix=")" suffixOverrides=",">
			#{id, jdbcType=BIGINT}

			<if test="syncId != null">
				,#{syncId, jdbcType=BIGINT}
			</if>
			<if test="deploymentId != null">
				,#{deploymentId, jdbcType=VARCHAR}
			</if>
			<if test="databaseId != null">
				,#{databaseId, jdbcType=BIGINT}
			</if>
			<if test="databaseName != null">
				,#{databaseName, jdbcType=VARCHAR}
			</if>
			<if test="status != null">
				,#{status, jdbcType=INTEGER}
			</if>
			<if test="totalTime != null">
				,#{totalTime, jdbcType=INTEGER}
			</if>
			<if test="createBy != null">
				,#{createBy, jdbcType=VARCHAR}
			</if>
			<if test="createTime != null">
				,#{createTime, jdbcType=TIMESTAMP}
			</if>
		</trim>
	</insert>


	<delete id="deleteCombinationHistoryById" parameterType="long">
		delete from
		SYS_COMBINATION_HISTORY
		where ID_ = #{id}
	</delete>


	<select id="getCombinationHistoryById" parameterType="long"
		resultMap="combinationHistoryResultMap">
		select * from SYS_COMBINATION_HISTORY where ID_ = #{id}
	</select>


	<select id="getCombinationHistorys" parameterType="com.glaf.matrix.combination.query.CombinationHistoryQuery"
		resultMap="combinationHistoryResultMap">
		select distinct E.*
		<include refid="selectCombinationHistorysSql" />
		<choose>
			<when test="orderBy != null">
				order by ${orderBy}
			</when>
			<otherwise>
				order by E.CREATETIME_ desc
			</otherwise>
		</choose>
	</select>


	<select id="getCombinationHistoryCount" parameterType="com.glaf.matrix.combination.query.CombinationHistoryQuery"
		resultType="int">
		select count(*)
		<include refid="selectCombinationHistorysSql" />
	</select>


	<sql id="selectCombinationHistorysSql">

		from SYS_COMBINATION_HISTORY E

		<where>
			1 = 1

			<if test="syncId != null">
				and E.SYNCID_ = #{syncId}
			</if>

			<if test="syncIds != null and syncIds.size() &gt; 0">
				and E.SYNCID_ IN
				<foreach item="x_syncId" index="index" collection="syncIds"
					open="(" separator="," close=")">
					#{x_syncId}
				</foreach>
			</if>

			<if test="deploymentId != null and deploymentId != '' ">
				and E.DEPLOYMENTID_ = #{deploymentId}
			</if>

			<if test="deploymentIds != null and deploymentIds.size() &gt; 0">
				and E.DEPLOYMENTID_ IN
				<foreach item="x_deploymentId" index="index" collection="deploymentIds"
					open="(" separator="," close=")">
					#{x_deploymentId}
				</foreach>
			</if>

			<if test="databaseId != null">
				and E.DATABASEID_ = #{databaseId}
			</if>

			<if test="databaseIds != null and databaseIds.size() &gt; 0">
				and E.DATABASEID_ IN
				<foreach item="x_databaseId" index="index" collection="databaseIds"
					open="(" separator="," close=")">
					#{x_databaseId}
				</foreach>
			</if>

			<if test="status != null">
				and E.STATUS_ = #{status}
			</if>

			<if test="totalTimeGreaterThanOrEqual != null">
				and E.TOTALTIME_ &gt;= #{totalTimeGreaterThanOrEqual}
			</if>

			<if test="totalTimeLessThanOrEqual != null">
				and E.TOTALTIME_ &lt;= #{totalTimeLessThanOrEqual}
			</if>

			<if test="createBy != null and createBy != '' ">
				and E.CREATEBY_ = #{createBy}
			</if>

			<if test="createTimeGreaterThanOrEqual != null">
				and E.CREATETIME_ &gt;= #{createTimeGreaterThanOrEqual}
			</if>

			<if test="createTimeLessThanOrEqual != null">
				and E.CREATETIME_ &lt;= #{createTimeLessThanOrEqual}
			</if>

		</where>
	</sql>

</mapper>