<?xml version="1.0" encoding="UTF-8" ?> 

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.glaf.heathcare.mapper.DietarySurveyMapper">

	<resultMap id="dietarySurveyResultMap" type="com.glaf.heathcare.domain.DietarySurvey">
		<id property="id" column="ID_" jdbcType="BIGINT" />
		<result property="tenantId" column="TENANTID_" jdbcType="VARCHAR" />
		<result property="foodId" column="FOODID_" jdbcType="BIGINT" />
		<result property="foodName" column="FOODNAME_" jdbcType="VARCHAR" />
		<result property="foodNodeId" column="FOODNODEID_" jdbcType="BIGINT" />
		<result property="typeId" column="TYPEID_" jdbcType="BIGINT" />
		<result property="mealTime" column="MEALTIME_" jdbcType="TIMESTAMP" />
		<result property="semester" column="SEMESTER_" jdbcType="INTEGER" />
		<result property="year" column="YEAR_" jdbcType="INTEGER" />
		<result property="month" column="MONTH_" jdbcType="INTEGER" />
		<result property="fullDay" column="FULLDAY_" jdbcType="INTEGER" />
		<result property="weight" column="WEIGHT_" jdbcType="DOUBLE" />
		<result property="weightPercent" column="WEIGHTPERCENT_"
			jdbcType="DOUBLE" />
		<result property="cookedWeight" column="COOKEDWEIGHT_"
			jdbcType="DOUBLE" />
		<result property="weightCookedPercent" column="WEIGHTCOOKEDPERCENT_"
			jdbcType="DOUBLE" />
		<result property="price" column="PRICE_" jdbcType="DOUBLE" />
		<result property="totalPrice" column="TOTALPRICE_" jdbcType="DOUBLE" />
		<result property="remark" column="REMARK_" jdbcType="VARCHAR" />
		<result property="createBy" column="CREATEBY_" jdbcType="VARCHAR" />
		<result property="createTime" column="CREATETIME_" jdbcType="TIMESTAMP" />
	</resultMap>


	<insert id="insertDietarySurvey" parameterType="com.glaf.heathcare.domain.DietarySurvey">
		insert into HEALTH_DIETARY_SURVEY
		<trim prefix="(" suffix=")" suffixOverrides=",">
			ID_
			<if test="tenantId != null">
				,TENANTID_
			</if>
			<if test="foodId != null">
				,FOODID_
			</if>
			<if test="foodName != null">
				,FOODNAME_
			</if>
			<if test="foodNodeId != null">
				,FOODNODEID_
			</if>
			<if test="typeId != null">
				,TYPEID_
			</if>
			<if test="mealTime != null">
				,MEALTIME_
			</if>
			<if test="semester != null">
				,SEMESTER_
			</if>
			<if test="year != null">
				,YEAR_
			</if>
			<if test="month != null">
				,MONTH_
			</if>
			<if test="fullDay != null">
				,FULLDAY_
			</if>
			<if test="weight != null">
				,WEIGHT_
			</if>
			<if test="weightPercent != null">
				,WEIGHTPERCENT_
			</if>
			<if test="cookedWeight != null">
				,COOKEDWEIGHT_
			</if>
			<if test="weightCookedPercent != null">
				,WEIGHTCOOKEDPERCENT_
			</if>
			<if test="price != null">
				,PRICE_
			</if>
			<if test="totalPrice != null">
				,TOTALPRICE_
			</if>
			<if test="remark != null">
				,REMARK_
			</if>
			<if test="createBy != null">
				,CREATEBY_
			</if>
			<if test="createTime != null">
				,CREATETIME_
			</if>
		</trim>

		<trim prefix=" values (" suffix=")" suffixOverrides=",">
			#{id, jdbcType=BIGINT}

			<if test="tenantId != null">
				,#{tenantId, jdbcType=VARCHAR}
			</if>
			<if test="foodId != null">
				,#{foodId, jdbcType=BIGINT}
			</if>
			<if test="foodName != null">
				,#{foodName, jdbcType=VARCHAR}
			</if>
			<if test="foodNodeId != null">
				,#{foodNodeId, jdbcType=BIGINT}
			</if>
			<if test="typeId != null">
				,#{typeId, jdbcType=BIGINT}
			</if>
			<if test="mealTime != null">
				,#{mealTime, jdbcType=TIMESTAMP}
			</if>
			<if test="semester != null">
				,#{semester, jdbcType=INTEGER}
			</if>
			<if test="year != null">
				,#{year, jdbcType=INTEGER}
			</if>
			<if test="month != null">
				,#{month, jdbcType=INTEGER}
			</if>
			<if test="fullDay != null">
				,#{fullDay, jdbcType=INTEGER}
			</if>
			<if test="weight != null">
				,#{weight, jdbcType=DOUBLE}
			</if>
			<if test="weightPercent != null">
				,#{weightPercent, jdbcType=DOUBLE}
			</if>
			<if test="cookedWeight != null">
				,#{cookedWeight, jdbcType=DOUBLE}
			</if>
			<if test="weightCookedPercent != null">
				,#{weightCookedPercent, jdbcType=DOUBLE}
			</if>
			<if test="price != null">
				,#{price, jdbcType=DOUBLE}
			</if>
			<if test="totalPrice != null">
				,#{totalPrice, jdbcType=DOUBLE}
			</if>
			<if test="remark != null">
				,#{remark, jdbcType=VARCHAR}
			</if>
			<if test="createBy != null">
				,#{createBy, jdbcType=VARCHAR}
			</if>
			<if test="createTime != null">
				,#{createTime, jdbcType=TIMESTAMP}
			</if>
		</trim>
	</insert>


	<insert id="bulkInsertDietarySurvey" parameterType="java.util.List">
		insert into HEALTH_DIETARY_SURVEY (
		ID_
		,TENANTID_
		,FOODID_
		,FOODNAME_
		,FOODNODEID_
		,TYPEID_
		,MEALTIME_
		,SEMESTER_
		,YEAR_
		,MONTH_
		,FULLDAY_
		,WEIGHT_
		,WEIGHTPERCENT_
		,COOKEDWEIGHT_
		,WEIGHTCOOKEDPERCENT_
		,PRICE_
		,TOTALPRICE_
		,REMARK_
		,CREATEBY_
		,CREATETIME_
		) values
		<foreach collection="list" item="dietarySurvey" index="index"
			separator=",">
			(
			#{dietarySurvey.id, jdbcType=BIGINT}
			,#{dietarySurvey.tenantId, jdbcType=VARCHAR}
			,#{dietarySurvey.foodId,
			jdbcType=BIGINT}
			,#{dietarySurvey.foodName, jdbcType=VARCHAR}
			,#{dietarySurvey.foodNodeId, jdbcType=BIGINT}
			,#{dietarySurvey.typeId, jdbcType=BIGINT}
			,#{dietarySurvey.mealTime,
			jdbcType=TIMESTAMP}
			,#{dietarySurvey.semester, jdbcType=INTEGER}
			,#{dietarySurvey.year, jdbcType=INTEGER}
			,#{dietarySurvey.month,
			jdbcType=INTEGER}
			,#{dietarySurvey.fullDay, jdbcType=INTEGER}
			,#{dietarySurvey.weight, jdbcType=DOUBLE}
			,#{dietarySurvey.weightPercent, jdbcType=DOUBLE}
			,#{dietarySurvey.cookedWeight, jdbcType=DOUBLE}
			,#{dietarySurvey.weightCookedPercent, jdbcType=DOUBLE}
			,#{dietarySurvey.price, jdbcType=DOUBLE}
			,#{dietarySurvey.totalPrice,
			jdbcType=DOUBLE}
			,#{dietarySurvey.remark, jdbcType=VARCHAR}
			,#{dietarySurvey.createBy, jdbcType=VARCHAR}
			,#{dietarySurvey.createTime, jdbcType=TIMESTAMP}
			)
		</foreach>
	</insert>


	<insert id="bulkInsertDietarySurvey_oracle" parameterType="java.util.List">
		INSERT ALL
		<foreach collection="list" item="dietarySurvey" index="index">
			insert
			into HEALTH_DIETARY_SURVEY (
			ID_
			,TENANTID_
			,FOODID_
			,FOODNAME_
			,FOODNODEID_
			,TYPEID_
			,MEALTIME_
			,SEMESTER_
			,YEAR_
			,MONTH_
			,FULLDAY_
			,WEIGHT_
			,WEIGHTPERCENT_
			,COOKEDWEIGHT_
			,WEIGHTCOOKEDPERCENT_
			,PRICE_
			,TOTALPRICE_
			,REMARK_
			,CREATEBY_
			,CREATETIME_
			) values (
			#{dietarySurvey.id, jdbcType=BIGINT}
			,#{dietarySurvey.tenantId,
			jdbcType=VARCHAR}
			,#{dietarySurvey.foodId, jdbcType=BIGINT}
			,#{dietarySurvey.foodName, jdbcType=VARCHAR}
			,#{dietarySurvey.foodNodeId, jdbcType=BIGINT}
			,#{dietarySurvey.typeId, jdbcType=BIGINT}
			,#{dietarySurvey.mealTime,
			jdbcType=TIMESTAMP}
			,#{dietarySurvey.semester, jdbcType=INTEGER}
			,#{dietarySurvey.year, jdbcType=INTEGER}
			,#{dietarySurvey.month,
			jdbcType=INTEGER}
			,#{dietarySurvey.fullDay, jdbcType=INTEGER}
			,#{dietarySurvey.weight, jdbcType=DOUBLE}
			,#{dietarySurvey.weightPercent, jdbcType=DOUBLE}
			,#{dietarySurvey.cookedWeight, jdbcType=DOUBLE}
			,#{dietarySurvey.weightCookedPercent, jdbcType=DOUBLE}
			,#{dietarySurvey.price, jdbcType=DOUBLE}
			,#{dietarySurvey.totalPrice,
			jdbcType=DOUBLE}
			,#{dietarySurvey.remark, jdbcType=VARCHAR}
			,#{dietarySurvey.createBy, jdbcType=VARCHAR}
			,#{dietarySurvey.createTime, jdbcType=TIMESTAMP}
			)
		</foreach>
		SELECT * FROM dual
	</insert>


	<update id="updateDietarySurvey" parameterType="com.glaf.heathcare.domain.DietarySurvey">
		update HEALTH_DIETARY_SURVEY
		set
		<trim prefix="" suffix="" suffixOverrides=",">
			<if test="mealTime != null">
				MEALTIME_ = #{mealTime, jdbcType=TIMESTAMP},
			</if>
			<if test="weight != null">
				WEIGHT_ = #{weight, jdbcType=DOUBLE},
			</if>
			<if test="weightPercent != null">
				WEIGHTPERCENT_ = #{weightPercent, jdbcType=DOUBLE},
			</if>
			<if test="cookedWeight != null">
				COOKEDWEIGHT_ = #{cookedWeight, jdbcType=DOUBLE},
			</if>
			<if test="weightCookedPercent != null">
				WEIGHTCOOKEDPERCENT_ = #{weightCookedPercent,
				jdbcType=DOUBLE},
			</if>
			<if test="price != null">
				PRICE_ = #{price, jdbcType=DOUBLE},
			</if>
			<if test="totalPrice != null">
				TOTALPRICE_ = #{totalPrice, jdbcType=DOUBLE},
			</if>
			<if test="remark != null">
				REMARK_ = #{remark, jdbcType=VARCHAR},
			</if>
		</trim>
		where
		ID_ = #{id, jdbcType=BIGINT}

	</update>


	<delete id="deleteDietarySurveyById" parameterType="long">
		delete from
		HEALTH_DIETARY_SURVEY
		where ID_ = #{id}
	</delete>


	<select id="getDietarySurveyById" parameterType="long"
		resultMap="dietarySurveyResultMap">
		select * from HEALTH_DIETARY_SURVEY where ID_ = #{id}
	</select>


	<select id="getDietarySurveys" parameterType="com.glaf.heathcare.query.DietarySurveyQuery"
		resultMap="dietarySurveyResultMap">
		select distinct E.*
		<include refid="selectDietarySurveysSql" />
		<choose>
			<when test="orderBy != null">
				order by ${orderBy}
			</when>
			<otherwise>
				order by E.ID_ desc
			</otherwise>
		</choose>
	</select>


	<select id="getDietarySurveyCount" parameterType="com.glaf.heathcare.query.DietarySurveyQuery"
		resultType="int">
		select count(*)
		<include refid="selectDietarySurveysSql" />
	</select>


	<sql id="selectDietarySurveysSql">

		from HEALTH_DIETARY_SURVEY E

		<where>
			1 = 1

			<if test="tenantId != null and tenantId != '' ">
				and E.TENANTID_ = #{tenantId}
			</if>

			<if test="tenantIds != null and tenantIds.size() &gt; 0">
				and E.TENANTID_ IN
				<foreach item="x_tenantId" index="index" collection="tenantIds"
					open="(" separator="," close=")">
					#{x_tenantId}
				</foreach>
			</if>

			<if test="foodId != null">
				and E.FOODID_ = #{foodId}
			</if>

			<if test="foodIds != null and foodIds.size() &gt; 0">
				and E.FOODID_ IN
				<foreach item="x_foodId" index="index" collection="foodIds"
					open="(" separator="," close=")">
					#{x_foodId}
				</foreach>
			</if>

			<if test="foodNameLike != null and foodNameLike != '' ">
				and E.FOODNAME_ like #{foodNameLike}
			</if>

			<if test="foodNodeId != null">
				and E.FOODNODEID_ = #{foodNodeId}
			</if>

			<if test="foodNodeIds != null and foodNodeIds.size() &gt; 0">
				and E.FOODNODEID_ IN
				<foreach item="x_foodNodeId" index="index" collection="foodNodeIds"
					open="(" separator="," close=")">
					#{x_foodNodeId}
				</foreach>
			</if>

			<if test="typeId != null">
				and E.TYPEID_ = #{typeId}
			</if>

			<if test="typeIds != null and typeIds.size() &gt; 0">
				and E.TYPEID_ IN
				<foreach item="x_typeId" index="index" collection="typeIds"
					open="(" separator="," close=")">
					#{x_typeId}
				</foreach>
			</if>

			<if test="semester != null">
				and E.SEMESTER_ = #{semester}
			</if>

			<if test="year != null">
				and E.YEAR_ = #{year}
			</if>

			<if test="month != null">
				and E.MONTH_ = #{month}
			</if>

			<if test="fullDay != null">
				and E.FULLDAY_ = #{fullDay}
			</if>

			<if test="remarkLike != null and remarkLike != '' ">
				and E.REMARK_ like #{remarkLike}
			</if>

			<if test="createBy != null and createBy != '' ">
				and E.CREATEBY_ = #{createBy}
			</if>

			<if test="createTimeGreaterThanOrEqual != null">
				and E.CREATETIME_ &gt;= #{createTimeGreaterThanOrEqual}
			</if>

			<if test="createTimeLessThanOrEqual != null">
				and E.CREATETIME_ &lt;= #{createTimeLessThanOrEqual}
			</if>

		</where>
	</sql>

</mapper>