<?xml version="1.0" encoding="UTF-8" ?> 

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.glaf.heathcare.mapper.DietaryTemplateMapper">

	<resultMap id="dietaryTemplateResultMap" type="com.glaf.heathcare.domain.DietaryTemplate">
		<id property="id" column="ID_" jdbcType="BIGINT" />
		<result property="tenantId" column="TENANTID_" jdbcType="VARCHAR" />
		<result property="name" column="NAME_" jdbcType="VARCHAR" />
		<result property="description" column="DESCRIPTION_" jdbcType="VARCHAR" />
		<result property="ageGroup" column="AGEGROUP_" jdbcType="VARCHAR" />
		<result property="province" column="PROVINCE_" jdbcType="VARCHAR" />
		<result property="region" column="REGION_" jdbcType="VARCHAR" />
		<result property="season" column="SEASON_" jdbcType="INTEGER" />
		<result property="type" column="TYPE_" jdbcType="VARCHAR" />
		<result property="typeId" column="TYPEID_" jdbcType="BIGINT" />
		<result property="heatEnergy" column="HEATENERGY_" jdbcType="DOUBLE" />
		<result property="protein" column="PROTEIN_" jdbcType="DOUBLE" />
		<result property="fat" column="FAT_" jdbcType="DOUBLE" />
		<result property="carbohydrate" column="CARBOHYDRATE_"
			jdbcType="DOUBLE" />
		<result property="vitaminA" column="VITAMINA_" jdbcType="DOUBLE" />
		<result property="vitaminB1" column="VITAMINB1_" jdbcType="DOUBLE" />
		<result property="vitaminB2" column="VITAMINB2_" jdbcType="DOUBLE" />
		<result property="vitaminB6" column="VITAMINB6_" jdbcType="DOUBLE" />
		<result property="vitaminB12" column="VITAMINB12_" jdbcType="DOUBLE" />
		<result property="vitaminC" column="VITAMINC_" jdbcType="DOUBLE" />
		<result property="carotene" column="CAROTENE_" jdbcType="DOUBLE" />
		<result property="retinol" column="RETINOL_" jdbcType="DOUBLE" />
		<result property="nicotinicCid" column="NICOTINICCID_"
			jdbcType="DOUBLE" />
		<result property="calcium" column="CALCIUM_" jdbcType="DOUBLE" />
		<result property="iron" column="IRON_" jdbcType="DOUBLE" />
		<result property="zinc" column="ZINC_" jdbcType="DOUBLE" />
		<result property="iodine" column="IODINE_" jdbcType="DOUBLE" />
		<result property="phosphorus" column="PHOSPHORUS_" jdbcType="DOUBLE" />
		<result property="year" column="YEAR_" jdbcType="INTEGER" />
		<result property="month" column="MONTH_" jdbcType="INTEGER" />
		<result property="day" column="DAY_" jdbcType="INTEGER" />
		<result property="dayOfWeek" column="DAYOFWEEK_" jdbcType="INTEGER" />
		<result property="week" column="WEEK_" jdbcType="INTEGER" />
		<result property="sortNo" column="SORTNO_" jdbcType="INTEGER" />
		<result property="suitNo" column="SUITNO_" jdbcType="INTEGER" />
		<result property="enableFlag" column="ENABLEFLAG_" jdbcType="VARCHAR" />
		<result property="instanceFlag" column="INSTANCEFLAG_"
			jdbcType="VARCHAR" />
		<result property="shareFlag" column="SHAREFLAG_" jdbcType="VARCHAR" />
		<result property="sysFlag" column="SYSFLAG_" jdbcType="VARCHAR" />
		<result property="verifyFlag" column="VERIFYFLAG_" jdbcType="VARCHAR" />
		<result property="businessStatus" column="BUSINESSSTATUS_"
			jdbcType="INTEGER" />
		<result property="confirmBy" column="CONFIRMBY_" jdbcType="VARCHAR" />
		<result property="confirmTime" column="CONFIRMTIME_" jdbcType="TIMESTAMP" />
		<result property="createBy" column="CREATEBY_" jdbcType="VARCHAR" />
		<result property="createTime" column="CREATETIME_" jdbcType="TIMESTAMP" />
		<result property="updateBy" column="UPDATEBY_" jdbcType="VARCHAR" />
		<result property="updateTime" column="UPDATETIME_" jdbcType="TIMESTAMP" />
	</resultMap>


	<insert id="insertDietaryTemplate" parameterType="com.glaf.heathcare.domain.DietaryTemplate">
		insert into HEALTH_DIETARY_TEMPLATE
		<trim prefix="(" suffix=")" suffixOverrides=",">
			ID_
			<if test="tenantId != null">
				,TENANTID_
			</if>
			<if test="name != null">
				,NAME_
			</if>
			<if test="description != null">
				,DESCRIPTION_
			</if>
			<if test="ageGroup != null">
				,AGEGROUP_
			</if>
			<if test="province != null">
				,PROVINCE_
			</if>
			<if test="region != null">
				,REGION_
			</if>
			<if test="season != null">
				,SEASON_
			</if>
			<if test="type != null">
				,TYPE_
			</if>
			<if test="typeId != null">
				,TYPEID_
			</if>
			<if test="heatEnergy != null">
				,HEATENERGY_
			</if>
			<if test="protein != null">
				,PROTEIN_
			</if>
			<if test="fat != null">
				,FAT_
			</if>
			<if test="carbohydrate != null">
				,CARBOHYDRATE_
			</if>
			<if test="vitaminA != null">
				,VITAMINA_
			</if>
			<if test="vitaminB1 != null">
				,VITAMINB1_
			</if>
			<if test="vitaminB2 != null">
				,VITAMINB2_
			</if>
			<if test="vitaminB6 != null">
				,VITAMINB6_
			</if>
			<if test="vitaminB12 != null">
				,VITAMINB12_
			</if>
			<if test="vitaminC != null">
				,VITAMINC_
			</if>
			<if test="carotene != null">
				,CAROTENE_
			</if>
			<if test="retinol != null">
				,RETINOL_
			</if>
			<if test="nicotinicCid != null">
				,NICOTINICCID_
			</if>
			<if test="calcium != null">
				,CALCIUM_
			</if>
			<if test="iron != null">
				,IRON_
			</if>
			<if test="zinc != null">
				,ZINC_
			</if>
			<if test="iodine != null">
				,IODINE_
			</if>
			<if test="phosphorus != null">
				,PHOSPHORUS_
			</if>
			<if test="year != null">
				,YEAR_
			</if>
			<if test="month != null">
				,MONTH_
			</if>
			<if test="day != null">
				,DAY_
			</if>
			<if test="dayOfWeek != null">
				,DAYOFWEEK_
			</if>
			<if test="week != null">
				,WEEK_
			</if>
			<if test="sortNo != null">
				,SORTNO_
			</if>
			<if test="suitNo != null">
				,SUITNO_
			</if>
			<if test="sysFlag != null">
				,SYSFLAG_
			</if>
			<if test="enableFlag != null">
				,ENABLEFLAG_
			</if>
			<if test="instanceFlag != null">
				,INSTANCEFLAG_
			</if>
			<if test="shareFlag != null">
				,SHAREFLAG_
			</if>
			<if test="verifyFlag != null">
				,VERIFYFLAG_
			</if>
			<if test="businessStatus != null">
				,BUSINESSSTATUS_
			</if>
			<if test="confirmBy != null">
				,CONFIRMBY_
			</if>
			<if test="confirmTime != null">
				,CONFIRMTIME_
			</if>
			<if test="createBy != null">
				,CREATEBY_
			</if>
			<if test="createTime != null">
				,CREATETIME_
			</if>
			<if test="updateBy != null">
				,UPDATEBY_
			</if>
			<if test="updateTime != null">
				,UPDATETIME_
			</if>
		</trim>

		<trim prefix=" values (" suffix=")" suffixOverrides=",">
			#{id, jdbcType=BIGINT}
			<if test="tenantId != null">
				,#{tenantId, jdbcType=VARCHAR}
			</if>
			<if test="name != null">
				,#{name, jdbcType=VARCHAR}
			</if>
			<if test="description != null">
				,#{description, jdbcType=VARCHAR}
			</if>
			<if test="ageGroup != null">
				,#{ageGroup, jdbcType=VARCHAR}
			</if>
			<if test="province != null">
				,#{province, jdbcType=VARCHAR}
			</if>
			<if test="region != null">
				,#{region, jdbcType=VARCHAR}
			</if>
			<if test="season != null">
				,#{season, jdbcType=INTEGER}
			</if>
			<if test="type != null">
				,#{type, jdbcType=VARCHAR}
			</if>
			<if test="typeId != null">
				,#{typeId, jdbcType=BIGINT}
			</if>
			<if test="heatEnergy != null">
				,#{heatEnergy, jdbcType=DOUBLE}
			</if>
			<if test="protein != null">
				,#{protein, jdbcType=DOUBLE}
			</if>
			<if test="fat != null">
				,#{fat, jdbcType=DOUBLE}
			</if>
			<if test="carbohydrate != null">
				,#{carbohydrate, jdbcType=DOUBLE}
			</if>
			<if test="vitaminA != null">
				,#{vitaminA, jdbcType=DOUBLE}
			</if>
			<if test="vitaminB1 != null">
				,#{vitaminB1, jdbcType=DOUBLE}
			</if>
			<if test="vitaminB2 != null">
				,#{vitaminB2, jdbcType=DOUBLE}
			</if>
			<if test="vitaminB6 != null">
				,#{vitaminB6, jdbcType=DOUBLE}
			</if>
			<if test="vitaminB12 != null">
				,#{vitaminB12, jdbcType=DOUBLE}
			</if>
			<if test="vitaminC != null">
				,#{vitaminC, jdbcType=DOUBLE}
			</if>
			<if test="carotene != null">
				,#{carotene, jdbcType=DOUBLE}
			</if>
			<if test="retinol != null">
				,#{retinol, jdbcType=DOUBLE}
			</if>
			<if test="nicotinicCid != null">
				,#{nicotinicCid, jdbcType=DOUBLE}
			</if>
			<if test="calcium != null">
				,#{calcium, jdbcType=DOUBLE}
			</if>
			<if test="iron != null">
				,#{iron, jdbcType=DOUBLE}
			</if>
			<if test="zinc != null">
				,#{zinc, jdbcType=DOUBLE}
			</if>
			<if test="iodine != null">
				,#{iodine, jdbcType=DOUBLE}
			</if>
			<if test="phosphorus != null">
				,#{phosphorus, jdbcType=DOUBLE}
			</if>
			<if test="year != null">
				,#{year, jdbcType=INTEGER}
			</if>
			<if test="month != null">
				,#{month, jdbcType=INTEGER}
			</if>
			<if test="day != null">
				,#{day, jdbcType=INTEGER}
			</if>
			<if test="dayOfWeek != null">
				,#{dayOfWeek, jdbcType=INTEGER}
			</if>
			<if test="week != null">
				,#{week, jdbcType=INTEGER}
			</if>
			<if test="sortNo != null">
				,#{sortNo, jdbcType=INTEGER}
			</if>
			<if test="suitNo != null">
				,#{suitNo, jdbcType=INTEGER}
			</if>
			<if test="sysFlag != null">
				,#{sysFlag, jdbcType=VARCHAR}
			</if>
			<if test="enableFlag != null">
				,#{enableFlag, jdbcType=VARCHAR}
			</if>
			<if test="instanceFlag != null">
				,#{instanceFlag, jdbcType=VARCHAR}
			</if>
			<if test="shareFlag != null">
				,#{shareFlag, jdbcType=VARCHAR}
			</if>
			<if test="verifyFlag != null">
				,#{verifyFlag, jdbcType=VARCHAR}
			</if>
			<if test="businessStatus != null">
				,#{businessStatus, jdbcType=INTEGER}
			</if>
			<if test="confirmBy != null">
				,#{confirmBy, jdbcType=VARCHAR}
			</if>
			<if test="confirmTime != null">
				,#{confirmTime, jdbcType=TIMESTAMP}
			</if>
			<if test="createBy != null">
				,#{createBy, jdbcType=VARCHAR}
			</if>
			<if test="createTime != null">
				,#{createTime, jdbcType=TIMESTAMP}
			</if>
			<if test="updateBy != null">
				,#{updateBy, jdbcType=VARCHAR}
			</if>
			<if test="updateTime != null">
				,#{updateTime, jdbcType=TIMESTAMP}
			</if>
		</trim>
	</insert>


	<insert id="bulkInsertDietaryTemplate" parameterType="java.util.List">
		insert into HEALTH_DIETARY_TEMPLATE (
		ID_
		,TENANTID_
		,NAME_
		,DESCRIPTION_
		,AGEGROUP_
		,PROVINCE_
		,REGION_
		,SEASON_
		,TYPE_
		,TYPEID_
		,HEATENERGY_
		,PROTEIN_
		,FAT_
		,CARBOHYDRATE_
		,VITAMINA_
		,VITAMINB1_
		,VITAMINB2_
		,VITAMINB6_
		,VITAMINB12_
		,VITAMINC_
		,CAROTENE_
		,RETINOL_
		,NICOTINICCID_
		,CALCIUM_
		,IRON_
		,ZINC_
		,IODINE_
		,PHOSPHORUS_
		,YEAR_
		,MONTH_
		,DAY_
		,DAYOFWEEK_
		,WEEK_
		,SORTNO_
		,SUITNO_
		,SYSFLAG_
		,ENABLEFLAG_
		,INSTANCEFLAG_
		,SHAREFLAG_
		,VERIFYFLAG_
		,BUSINESSSTATUS_
		,CONFIRMBY_
		,CONFIRMTIME_
		,CREATEBY_
		,CREATETIME_
		,UPDATEBY_
		,UPDATETIME_
		)
		values
		<foreach collection="list" item="dietaryTemplate" index="index"
			separator=",">
			(
			#{dietaryTemplate.id, jdbcType=BIGINT}
			,#{dietaryTemplate.tenantId, jdbcType=VARCHAR}
			,#{dietaryTemplate.name, jdbcType=VARCHAR}
			,#{dietaryTemplate.description, jdbcType=VARCHAR}
			,#{dietaryTemplate.ageGroup, jdbcType=VARCHAR}
			,#{dietaryTemplate.province, jdbcType=VARCHAR}
			,#{dietaryTemplate.region, jdbcType=VARCHAR}
			,#{dietaryTemplate.season, jdbcType=INTEGER}
			,#{dietaryTemplate.type,
			jdbcType=VARCHAR}
			,#{dietaryTemplate.typeId, jdbcType=BIGINT}
			,#{dietaryTemplate.heatEnergy, jdbcType=DOUBLE}
			,#{dietaryTemplate.protein, jdbcType=DOUBLE}
			,#{dietaryTemplate.fat,
			jdbcType=DOUBLE}
			,#{dietaryTemplate.carbohydrate, jdbcType=DOUBLE}
			,#{dietaryTemplate.vitaminA, jdbcType=DOUBLE}
			,#{dietaryTemplate.vitaminB1, jdbcType=DOUBLE}
			,#{dietaryTemplate.vitaminB2, jdbcType=DOUBLE}
			,#{dietaryTemplate.vitaminB6, jdbcType=DOUBLE}
			,#{dietaryTemplate.vitaminB12, jdbcType=DOUBLE}
			,#{dietaryTemplate.vitaminC, jdbcType=DOUBLE}
			,#{dietaryTemplate.carotene, jdbcType=DOUBLE}
			,#{dietaryTemplate.retinol, jdbcType=DOUBLE}
			,#{dietaryTemplate.nicotinicCid, jdbcType=DOUBLE}
			,#{dietaryTemplate.calcium, jdbcType=DOUBLE}
			,#{dietaryTemplate.iron,
			jdbcType=DOUBLE}
			,#{dietaryTemplate.zinc, jdbcType=DOUBLE}
			,#{dietaryTemplate.iodine, jdbcType=DOUBLE}
			,#{dietaryTemplate.phosphorus, jdbcType=DOUBLE}
			,#{dietaryTemplate.year, jdbcType=INTEGER}
			,#{dietaryTemplate.month,
			jdbcType=INTEGER}
			,#{dietaryTemplate.day, jdbcType=INTEGER}
			,#{dietaryTemplate.dayOfWeek, jdbcType=INTEGER}
			,#{dietaryTemplate.week, jdbcType=INTEGER}
			,#{dietaryTemplate.sortNo,
			jdbcType=INTEGER}
			,#{dietaryTemplate.suitNo, jdbcType=INTEGER}
			,#{dietaryTemplate.sysFlag, jdbcType=VARCHAR}
			,#{dietaryTemplate.enableFlag, jdbcType=VARCHAR}
			,#{dietaryTemplate.instanceFlag, jdbcType=VARCHAR}
			,#{dietaryTemplate.shareFlag, jdbcType=VARCHAR}
			,#{dietaryTemplate.verifyFlag, jdbcType=VARCHAR}
			,#{dietaryTemplate.businessStatus, jdbcType=INTEGER}
			,#{dietaryTemplate.confirmBy, jdbcType=VARCHAR}
			,#{dietaryTemplate.confirmTime, jdbcType=TIMESTAMP}
			,#{dietaryTemplate.createBy, jdbcType=VARCHAR}
			,#{dietaryTemplate.createTime, jdbcType=TIMESTAMP}
			,#{dietaryTemplate.updateBy, jdbcType=VARCHAR}
			,#{dietaryTemplate.updateTime, jdbcType=TIMESTAMP}
			)
		</foreach>
	</insert>


	<insert id="bulkInsertDietaryTemplate_oracle" parameterType="java.util.List">
		INSERT ALL
		<foreach collection="list" item="dietaryTemplate" index="index">
			insert into HEALTH_DIETARY_TEMPLATE (
			ID_
			,TENANTID_
			,NAME_
			,DESCRIPTION_
			,AGEGROUP_
			,PROVINCE_
			,REGION_
			,SEASON_
			,TYPE_
			,TYPEID_
			,HEATENERGY_
			,PROTEIN_
			,FAT_
			,CARBOHYDRATE_
			,VITAMINA_
			,VITAMINB1_
			,VITAMINB2_
			,VITAMINB6_
			,VITAMINB12_
			,VITAMINC_
			,CAROTENE_
			,RETINOL_
			,NICOTINICCID_
			,CALCIUM_
			,IRON_
			,ZINC_
			,IODINE_
			,PHOSPHORUS_
			,YEAR_
			,MONTH_
			,DAY_
			,DAYOFWEEK_
			,WEEK_
			,SORTNO_
			,SUITNO_
			,SYSFLAG_
			,ENABLEFLAG_
			,INSTANCEFLAG_
			,SHAREFLAG_
			,VERIFYFLAG_
			,BUSINESSSTATUS_
			,CONFIRMBY_
			,CONFIRMTIME_
			,CREATEBY_
			,CREATETIME_
			,UPDATEBY_
			,UPDATETIME_
			) values (
			#{dietaryTemplate.id,
			jdbcType=BIGINT}
			,#{dietaryTemplate.tenantId,
			jdbcType=VARCHAR}
			,#{dietaryTemplate.name,
			jdbcType=VARCHAR}
			,#{dietaryTemplate.description, jdbcType=VARCHAR}
			,#{dietaryTemplate.ageGroup, jdbcType=VARCHAR}
			,#{dietaryTemplate.province, jdbcType=VARCHAR}
			,#{dietaryTemplate.region, jdbcType=VARCHAR}
			,#{dietaryTemplate.season, jdbcType=INTEGER}
			,#{dietaryTemplate.type,
			jdbcType=VARCHAR}
			,#{dietaryTemplate.typeId, jdbcType=BIGINT}
			,#{dietaryTemplate.heatEnergy, jdbcType=DOUBLE}
			,#{dietaryTemplate.protein, jdbcType=DOUBLE}
			,#{dietaryTemplate.fat,
			jdbcType=DOUBLE}
			,#{dietaryTemplate.carbohydrate, jdbcType=DOUBLE}
			,#{dietaryTemplate.vitaminA, jdbcType=DOUBLE}
			,#{dietaryTemplate.vitaminB1, jdbcType=DOUBLE}
			,#{dietaryTemplate.vitaminB2, jdbcType=DOUBLE}
			,#{dietaryTemplate.vitaminB6, jdbcType=DOUBLE}
			,#{dietaryTemplate.vitaminB12, jdbcType=DOUBLE}
			,#{dietaryTemplate.vitaminC, jdbcType=DOUBLE}
			,#{dietaryTemplate.carotene, jdbcType=DOUBLE}
			,#{dietaryTemplate.retinol, jdbcType=DOUBLE}
			,#{dietaryTemplate.nicotinicCid, jdbcType=DOUBLE}
			,#{dietaryTemplate.calcium, jdbcType=DOUBLE}
			,#{dietaryTemplate.iron,
			jdbcType=DOUBLE}
			,#{dietaryTemplate.zinc, jdbcType=DOUBLE}
			,#{dietaryTemplate.iodine, jdbcType=DOUBLE}
			,#{dietaryTemplate.phosphorus, jdbcType=DOUBLE}
			,#{dietaryTemplate.year, jdbcType=INTEGER}
			,#{dietaryTemplate.month,
			jdbcType=INTEGER}
			,#{dietaryTemplate.day, jdbcType=INTEGER}
			,#{dietaryTemplate.dayOfWeek, jdbcType=INTEGER}
			,#{dietaryTemplate.week, jdbcType=INTEGER}
			,#{dietaryTemplate.sortNo,
			jdbcType=INTEGER}
			,#{dietaryTemplate.suitNo, jdbcType=INTEGER}
			,#{dietaryTemplate.sysFlag, jdbcType=VARCHAR}
			,#{dietaryTemplate.enableFlag, jdbcType=VARCHAR}
			,#{dietaryTemplate.instanceFlag, jdbcType=VARCHAR}
			,#{dietaryTemplate.shareFlag, jdbcType=VARCHAR}
			,#{dietaryTemplate.verifyFlag, jdbcType=VARCHAR}
			,#{dietaryTemplate.businessStatus, jdbcType=INTEGER}
			,#{dietaryTemplate.confirmBy, jdbcType=VARCHAR}
			,#{dietaryTemplate.confirmTime, jdbcType=TIMESTAMP}
			,#{dietaryTemplate.createBy, jdbcType=VARCHAR}
			,#{dietaryTemplate.createTime, jdbcType=TIMESTAMP}
			,#{dietaryTemplate.updateBy, jdbcType=VARCHAR}
			,#{dietaryTemplate.updateTime, jdbcType=TIMESTAMP}
			)
		</foreach>
		SELECT * FROM dual
	</insert>


	<update id="updateDietaryTemplate" parameterType="com.glaf.heathcare.domain.DietaryTemplate">
		update HEALTH_DIETARY_TEMPLATE
		set
		<trim prefix="" suffix="" suffixOverrides=",">
			<if test="name != null">
				NAME_ = #{name, jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				DESCRIPTION_ = #{description, jdbcType=VARCHAR},
			</if>
			<if test="ageGroup != null">
				AGEGROUP_ = #{ageGroup, jdbcType=VARCHAR},
			</if>
			<if test="province != null">
				PROVINCE_ = #{province, jdbcType=VARCHAR},
			</if>
			<if test="region != null">
				REGION_ = #{region, jdbcType=VARCHAR},
			</if>
			<if test="season != null">
				SEASON_ = #{season, jdbcType=INTEGER},
			</if>
			<if test="type != null">
				TYPE_ = #{type, jdbcType=VARCHAR},
			</if>
			<if test="typeId != null">
				TYPEID_ = #{typeId, jdbcType=BIGINT},
			</if>
			<if test="heatEnergy != null">
				HEATENERGY_ = #{heatEnergy, jdbcType=DOUBLE},
			</if>
			<if test="protein != null">
				PROTEIN_ = #{protein, jdbcType=DOUBLE},
			</if>
			<if test="fat != null">
				FAT_ = #{fat, jdbcType=DOUBLE},
			</if>
			<if test="carbohydrate != null">
				CARBOHYDRATE_ = #{carbohydrate, jdbcType=DOUBLE},
			</if>
			<if test="vitaminA != null">
				VITAMINA_ = #{vitaminA, jdbcType=DOUBLE},
			</if>
			<if test="vitaminB1 != null">
				VITAMINB1_ = #{vitaminB1, jdbcType=DOUBLE},
			</if>
			<if test="vitaminB2 != null">
				VITAMINB2_ = #{vitaminB2, jdbcType=DOUBLE},
			</if>
			<if test="vitaminB6 != null">
				VITAMINB6_ = #{vitaminB6, jdbcType=DOUBLE},
			</if>
			<if test="vitaminB12 != null">
				VITAMINB12_ = #{vitaminB12, jdbcType=DOUBLE},
			</if>
			<if test="vitaminC != null">
				VITAMINC_ = #{vitaminC, jdbcType=DOUBLE},
			</if>
			<if test="carotene != null">
				CAROTENE_ = #{carotene, jdbcType=DOUBLE},
			</if>
			<if test="retinol != null">
				RETINOL_ = #{retinol, jdbcType=DOUBLE},
			</if>
			<if test="nicotinicCid != null">
				NICOTINICCID_ = #{nicotinicCid, jdbcType=DOUBLE},
			</if>
			<if test="calcium != null">
				CALCIUM_ = #{calcium, jdbcType=DOUBLE},
			</if>
			<if test="iron != null">
				IRON_ = #{iron, jdbcType=DOUBLE},
			</if>
			<if test="zinc != null">
				ZINC_ = #{zinc, jdbcType=DOUBLE},
			</if>
			<if test="iodine != null">
				IODINE_ = #{iodine, jdbcType=DOUBLE},
			</if>
			<if test="phosphorus != null">
				PHOSPHORUS_ = #{phosphorus, jdbcType=DOUBLE},
			</if>
			<if test="year != null">
				YEAR_ = #{year, jdbcType=INTEGER},
			</if>
			<if test="month != null">
				MONTH_ = #{month, jdbcType=INTEGER},
			</if>
			<if test="day != null">
				DAY_ = #{day, jdbcType=INTEGER},
			</if>
			<if test="dayOfWeek != null">
				DAYOFWEEK_ = #{dayOfWeek, jdbcType=INTEGER},
			</if>
			<if test="week != null">
				WEEK_ = #{week, jdbcType=INTEGER},
			</if>
			<if test="sortNo != null">
				SORTNO_ = #{sortNo, jdbcType=INTEGER},
			</if>
			<if test="suitNo != null">
				SUITNO_ = #{suitNo, jdbcType=INTEGER},
			</if>
			<if test="sysFlag != null">
				SYSFLAG_ = #{sysFlag, jdbcType=VARCHAR},
			</if>
			<if test="enableFlag != null">
				ENABLEFLAG_ = #{enableFlag, jdbcType=VARCHAR},
			</if>
			<if test="shareFlag != null">
				SHAREFLAG_ = #{shareFlag, jdbcType=VARCHAR},
			</if>
			<if test="verifyFlag != null">
				VERIFYFLAG_ = #{verifyFlag, jdbcType=VARCHAR},
			</if>
			<if test="businessStatus != null">
				BUSINESSSTATUS_ = #{businessStatus, jdbcType=INTEGER},
			</if>
			<if test="confirmBy != null">
				CONFIRMBY_ = #{confirmBy, jdbcType=VARCHAR},
			</if>
			<if test="confirmTime != null">
				CONFIRMTIME_ = #{confirmTime, jdbcType=TIMESTAMP},
			</if>
			<if test="updateBy != null">
				UPDATEBY_ = #{updateBy, jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				UPDATETIME_ = #{updateTime, jdbcType=TIMESTAMP},
			</if>
		</trim>
		where
		ID_ = #{id, jdbcType=BIGINT}

	</update>


	<delete id="deleteDietaryTemplateById" parameterType="long">
		delete from
		HEALTH_DIETARY_TEMPLATE
		where ID_ = #{id}
	</delete>


	<select id="getDietaryTemplateById" parameterType="long"
		resultMap="dietaryTemplateResultMap">
		select * from HEALTH_DIETARY_TEMPLATE where ID_ = #{id}
	</select>


	<select id="getDietaryTemplates" parameterType="com.glaf.heathcare.query.DietaryTemplateQuery"
		resultMap="dietaryTemplateResultMap">
		select distinct E.*
		<include refid="selectDietaryTemplatesSql" />
		<choose>
			<when test="orderBy != null">
				order by ${orderBy}
			</when>
			<otherwise>
				order by E.SUITNO_ asc, DAYOFWEEK_ asc, E.TYPEID_ asc, E.SORTNO_ asc
			</otherwise>
		</choose>
	</select>


	<select id="getDietaryTemplateCount" parameterType="com.glaf.heathcare.query.DietaryTemplateQuery"
		resultType="int">
		select count(*)
		<include refid="selectDietaryTemplatesSql" />
	</select>


	<sql id="selectDietaryTemplatesSql">

		from HEALTH_DIETARY_TEMPLATE E

		<where>
			1 = 1

			<if test="ids != null and ids.size() &gt; 0">
				and E.ID_ IN
				<foreach item="x_id" index="index" collection="ids" open="("
					separator="," close=")">
					#{x_id}
				</foreach>
			</if>

			<if test="tenantId != null and tenantId != '' ">
				and E.TENANTID_ = #{tenantId}
			</if>

			<if test="tenantCanSee != null and tenantCanSee != '' ">
				and ( E.TENANTID_ = #{tenantId} or E.SHAREFLAG_ = 'Y' )
			</if>

			<if test="name != null and name != '' ">
				and E.NAME_ = #{name}
			</if>

			<if test="nameLike != null and nameLike != '' ">
				and E.NAME_ like #{nameLike}
			</if>

			<if test="descriptionLike != null and descriptionLike != '' ">
				and E.DESCRIPTION_ like #{descriptionLike}
			</if>

			<if test="ageGroup != null and ageGroup != '' ">
				and E.AGEGROUP_ = #{ageGroup}
			</if>

			<if test="province != null and province != '' ">
				and E.PROVINCE_ = #{province}
			</if>

			<if test="region != null and region != '' ">
				and E.REGION_ = #{region}
			</if>

			<if test="season != null">
				and E.SEASON_ = #{season}
			</if>

			<if test="type != null and type != '' ">
				and E.TYPE_ = #{type}
			</if>

			<if test="typeLike != null and typeLike != '' ">
				and E.TYPE_ like #{typeLike}
			</if>

			<if test="typeId != null">
				and E.TYPEID_ = #{typeId}
			</if>

			<if test="typeIds != null and typeIds.size() &gt; 0">
				and E.TYPEID_ IN
				<foreach item="x_typeId" index="index" collection="typeIds"
					open="(" separator="," close=")">
					#{x_typeId}
				</foreach>
			</if>

			<if test="heatEnergyGreaterThanOrEqual != null">
				and E.HEATENERGY_ &gt;= #{heatEnergyGreaterThanOrEqual}
			</if>

			<if test="heatEnergyLessThanOrEqual != null">
				and E.HEATENERGY_ &lt;= #{heatEnergyLessThanOrEqual}
			</if>

			<if test="proteinGreaterThanOrEqual != null">
				and E.PROTEIN_ &gt;= #{proteinGreaterThanOrEqual}
			</if>

			<if test="proteinLessThanOrEqual != null">
				and E.PROTEIN_ &lt;= #{proteinLessThanOrEqual}
			</if>

			<if test="fatGreaterThanOrEqual != null">
				and E.FAT_ &gt;= #{fatGreaterThanOrEqual}
			</if>

			<if test="fatLessThanOrEqual != null">
				and E.FAT_ &lt;= #{fatLessThanOrEqual}
			</if>

			<if test="carbohydrateGreaterThanOrEqual != null">
				and E.CARBOHYDRATE_ &gt;=
				#{carbohydrateGreaterThanOrEqual}
			</if>

			<if test="carbohydrateLessThanOrEqual != null">
				and E.CARBOHYDRATE_ &lt;= #{carbohydrateLessThanOrEqual}
			</if>

			<if test="vitaminAGreaterThanOrEqual != null">
				and E.VITAMINA_ &gt;= #{vitaminAGreaterThanOrEqual}
			</if>

			<if test="vitaminALessThanOrEqual != null">
				and E.VITAMINA_ &lt;= #{vitaminALessThanOrEqual}
			</if>

			<if test="vitaminB1GreaterThanOrEqual != null">
				and E.VITAMINB1_ &gt;= #{vitaminB1GreaterThanOrEqual}
			</if>

			<if test="vitaminB1LessThanOrEqual != null">
				and E.VITAMINB1_ &lt;= #{vitaminB1LessThanOrEqual}
			</if>

			<if test="vitaminB2GreaterThanOrEqual != null">
				and E.VITAMINB2_ &gt;= #{vitaminB2GreaterThanOrEqual}
			</if>

			<if test="vitaminB2LessThanOrEqual != null">
				and E.VITAMINB2_ &lt;= #{vitaminB2LessThanOrEqual}
			</if>

			<if test="vitaminB6GreaterThanOrEqual != null">
				and E.VITAMINB6_ &gt;= #{vitaminB6GreaterThanOrEqual}
			</if>

			<if test="vitaminB6LessThanOrEqual != null">
				and E.VITAMINB6_ &lt;= #{vitaminB6LessThanOrEqual}
			</if>

			<if test="vitaminB12GreaterThanOrEqual != null">
				and E.VITAMINB12_ &gt;= #{vitaminB12GreaterThanOrEqual}
			</if>

			<if test="vitaminB12LessThanOrEqual != null">
				and E.VITAMINB12_ &lt;= #{vitaminB12LessThanOrEqual}
			</if>

			<if test="vitaminCGreaterThanOrEqual != null">
				and E.VITAMINC_ &gt;= #{vitaminCGreaterThanOrEqual}
			</if>

			<if test="vitaminCLessThanOrEqual != null">
				and E.VITAMINC_ &lt;= #{vitaminCLessThanOrEqual}
			</if>

			<if test="caroteneGreaterThanOrEqual != null">
				and E.CAROTENE_ &gt;= #{caroteneGreaterThanOrEqual}
			</if>

			<if test="caroteneLessThanOrEqual != null">
				and E.CAROTENE_ &lt;= #{caroteneLessThanOrEqual}
			</if>

			<if test="retinolGreaterThanOrEqual != null">
				and E.RETINOL_ &gt;= #{retinolGreaterThanOrEqual}
			</if>

			<if test="retinolLessThanOrEqual != null">
				and E.RETINOL_ &lt;= #{retinolLessThanOrEqual}
			</if>

			<if test="nicotinicCidGreaterThanOrEqual != null">
				and E.NICOTINICCID_ &gt;=
				#{nicotinicCidGreaterThanOrEqual}
			</if>

			<if test="nicotinicCidLessThanOrEqual != null">
				and E.NICOTINICCID_ &lt;= #{nicotinicCidLessThanOrEqual}
			</if>

			<if test="calciumGreaterThanOrEqual != null">
				and E.CALCIUM_ &gt;= #{calciumGreaterThanOrEqual}
			</if>

			<if test="calciumLessThanOrEqual != null">
				and E.CALCIUM_ &lt;= #{calciumLessThanOrEqual}
			</if>

			<if test="ironGreaterThanOrEqual != null">
				and E.IRON_ &gt;= #{ironGreaterThanOrEqual}
			</if>

			<if test="ironLessThanOrEqual != null">
				and E.IRON_ &lt;= #{ironLessThanOrEqual}
			</if>

			<if test="zincGreaterThanOrEqual != null">
				and E.ZINC_ &gt;= #{zincGreaterThanOrEqual}
			</if>

			<if test="zincLessThanOrEqual != null">
				and E.ZINC_ &lt;= #{zincLessThanOrEqual}
			</if>

			<if test="year != null">
				and E.YEAR_ = #{year}
			</if>

			<if test="month != null">
				and E.MONTH_ = #{month}
			</if>

			<if test="day != null">
				and E.DAY_ = #{day}
			</if>

			<if test="dayOfWeek != null and dayOfWeek !=0 ">
				and E.DAYOFWEEK_ = #{dayOfWeek}
			</if>

			<if test="week != null">
				and E.WEEK_ = #{week}
			</if>

			<if test="suitNo != null">
				and E.SUITNO_ = #{suitNo}
			</if>

			<if test="sysFlag != null and sysFlag != '' ">
				and E.SYSFLAG_ = #{sysFlag}
			</if>

			<if test="enableFlag != null and enableFlag != '' ">
				and E.ENABLEFLAG_ = #{enableFlag}
			</if>

			<if test="instanceFlag != null and instanceFlag != '' ">
				and E.INSTANCEFLAG_ = #{instanceFlag}
			</if>

			<if test="shareFlag != null and shareFlag != '' ">
				and E.SHAREFLAG_ = #{shareFlag}
			</if>

			<if test="verifyFlag != null and verifyFlag != '' ">
				and E.VERIFYFLAG_ = #{verifyFlag}
			</if>

			<if test="businessStatus != null">
				and E.BUSINESSSTATUS_ = #{businessStatus}
			</if>

			<if test="createBy != null and createBy != '' ">
				and E.CREATEBY_ = #{createBy}
			</if>

			<if test="createTimeGreaterThanOrEqual != null">
				and E.CREATETIME_ &gt;= #{createTimeGreaterThanOrEqual}
			</if>

			<if test="createTimeLessThanOrEqual != null">
				and E.CREATETIME_ &lt;= #{createTimeLessThanOrEqual}
			</if>

			<if test="updateTimeGreaterThanOrEqual != null">
				and E.UPDATETIME_ &gt;= #{updateTimeGreaterThanOrEqual}
			</if>

			<if test="updateTimeLessThanOrEqual != null">
				and E.UPDATETIME_ &lt;= #{updateTimeLessThanOrEqual}
			</if>

			<if test="dataRequest != null and dataRequest.filter != null ">
				<include refid="com.glaf.global.GlobalMapper.dataRequestFilterCondition" />
			</if>

		</where>
	</sql>

</mapper>