<?xml version="1.0" encoding="UTF-8" ?> 

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.glaf.heathcare.mapper.DietaryItemMapper">

	<resultMap id="dietaryItemResultMap" type="com.glaf.heathcare.domain.DietaryItem">
		<id property="id" column="ID_" jdbcType="BIGINT" />
		<result property="tenantId" column="TENANTID_" jdbcType="VARCHAR" />
		<result property="name" column="NAME_" jdbcType="VARCHAR" />
		<result property="description" column="DESCRIPTION_" jdbcType="VARCHAR" />
		<result property="foodId" column="FOODID_" jdbcType="BIGINT" />
		<result property="foodName" column="FOODNAME_" jdbcType="VARCHAR" />
		<result property="dietaryId" column="DIETARYID_" jdbcType="BIGINT" />
		<result property="templateId" column="TEMPLATEID_" jdbcType="BIGINT" />
		<result property="typeId" column="TYPEID_" jdbcType="BIGINT" />
		<result property="quantity" column="QUANTITY_" jdbcType="DOUBLE" />
		<result property="unit" column="UNIT_" jdbcType="VARCHAR" />
		<result property="fullDay" column="FULLDAY_" jdbcType="INTEGER" />
		<result property="createBy" column="CREATEBY_" jdbcType="VARCHAR" />
		<result property="createTime" column="CREATETIME_" jdbcType="TIMESTAMP" />
		<result property="lastModified" column="LASTMODIFIED_"
			jdbcType="BIGINT" />
	</resultMap>


	<insert id="insertDietaryItem" parameterType="com.glaf.heathcare.domain.DietaryItem">
		insert into HEALTH_DIETARY_ITEM${tableSuffix}
		<trim prefix="(" suffix=")" suffixOverrides=",">
			ID_
			<if test="tenantId != null">
				,TENANTID_
			</if>
			<if test="name != null">
				,NAME_
			</if>
			<if test="description != null">
				,DESCRIPTION_
			</if>
			<if test="foodId != null">
				,FOODID_
			</if>
			<if test="foodName != null">
				,FOODNAME_
			</if>
			<if test="dietaryId != null">
				,DIETARYID_
			</if>
			<if test="templateId != null">
				,TEMPLATEID_
			</if>
			<if test="typeId != null">
				,TYPEID_
			</if>
			<if test="quantity != null">
				,QUANTITY_
			</if>
			<if test="unit != null">
				,UNIT_
			</if>
			<if test="fullDay != null">
				,FULLDAY_
			</if>
			<if test="createBy != null">
				,CREATEBY_
			</if>
			<if test="createTime != null">
				,CREATETIME_
			</if>
			<if test="lastModified != null">
				,LASTMODIFIED_
			</if>
		</trim>

		<trim prefix=" values (" suffix=")" suffixOverrides=",">
			#{id, jdbcType=BIGINT}
			<if test="tenantId != null">
				,#{tenantId, jdbcType=VARCHAR}
			</if>
			<if test="name != null">
				,#{name, jdbcType=VARCHAR}
			</if>
			<if test="description != null">
				,#{description, jdbcType=VARCHAR}
			</if>
			<if test="foodId != null">
				,#{foodId, jdbcType=BIGINT}
			</if>
			<if test="foodName != null">
				,#{foodName, jdbcType=VARCHAR}
			</if>
			<if test="dietaryId != null">
				,#{dietaryId, jdbcType=BIGINT}
			</if>
			<if test="templateId != null">
				,#{templateId, jdbcType=BIGINT}
			</if>
			<if test="typeId != null">
				,#{typeId, jdbcType=BIGINT}
			</if>
			<if test="quantity != null">
				,#{quantity, jdbcType=DOUBLE}
			</if>
			<if test="unit != null">
				,#{unit, jdbcType=VARCHAR}
			</if>
			<if test="fullDay != null">
				,#{fullDay, jdbcType=INTEGER}
			</if>
			<if test="createBy != null">
				,#{createBy, jdbcType=VARCHAR}
			</if>
			<if test="createTime != null">
				,#{createTime, jdbcType=TIMESTAMP}
			</if>
			<if test="lastModified != null">
				,#{lastModified, jdbcType=BIGINT}
			</if>
		</trim>
	</insert>


	<insert id="bulkInsertDietaryItem" parameterType="com.glaf.core.base.ListModel">
		insert into HEALTH_DIETARY_ITEM${tableSuffix} (
		ID_
		,TENANTID_
		,NAME_
		,DESCRIPTION_
		,FOODID_
		,FOODNAME_
		,DIETARYID_
		,TEMPLATEID_
		,TYPEID_
		,QUANTITY_
		,UNIT_
		,FULLDAY_
		,CREATEBY_
		,CREATETIME_
		,LASTMODIFIED_
		)
		values
		<foreach collection="list" item="dietaryItem" index="index"
			separator=",">
			(
			#{dietaryItem.id, jdbcType=BIGINT}
			,#{dietaryItem.tenantId,
			jdbcType=VARCHAR}
			,#{dietaryItem.name,
			jdbcType=VARCHAR}
			,#{dietaryItem.description, jdbcType=VARCHAR}
			,#{dietaryItem.foodId,
			jdbcType=BIGINT}
			,#{dietaryItem.foodName,
			jdbcType=VARCHAR}
			,#{dietaryItem.dietaryId, jdbcType=BIGINT}
			,#{dietaryItem.templateId, jdbcType=BIGINT}
			,#{dietaryItem.typeId,
			jdbcType=BIGINT}
			,#{dietaryItem.quantity,
			jdbcType=DOUBLE}
			,#{dietaryItem.unit,
			jdbcType=VARCHAR}
			,#{dietaryItem.fullDay,
			jdbcType=INTEGER}
			,#{dietaryItem.createBy,
			jdbcType=VARCHAR}
			,#{dietaryItem.createTime,
			jdbcType=TIMESTAMP}
			,#{dietaryItem.lastModified, jdbcType=BIGINT}
			)
		</foreach>
	</insert>


	<insert id="bulkInsertDietaryItem_oracle" parameterType="java.util.List">
		INSERT ALL
		<foreach collection="list" item="dietaryItem" index="index">
			insert
			into HEALTH_DIETARY_ITEM${tableSuffix} (
			ID_
			,TENANTID_
			,NAME_
			,DESCRIPTION_
			,FOODID_
			,FOODNAME_
			,DIETARYID_
			,TEMPLATEID_
			,TYPEID_
			,QUANTITY_
			,UNIT_
			,FULLDAY_
			,CREATEBY_
			,CREATETIME_
			,LASTMODIFIED_
			) values
			(
			#{dietaryItem.id,
			jdbcType=BIGINT}
			,#{dietaryItem.tenantId,
			jdbcType=VARCHAR}
			,#{dietaryItem.name,
			jdbcType=VARCHAR}
			,#{dietaryItem.description,
			jdbcType=VARCHAR}
			,#{dietaryItem.foodId,
			jdbcType=BIGINT}
			,#{dietaryItem.foodName,
			jdbcType=VARCHAR}
			,#{dietaryItem.dietaryId,
			jdbcType=BIGINT}
			,#{dietaryItem.templateId,
			jdbcType=BIGINT}
			,#{dietaryItem.typeId, jdbcType=BIGINT}
			,#{dietaryItem.quantity,
			jdbcType=DOUBLE}
			,#{dietaryItem.unit,
			jdbcType=VARCHAR}
			,#{dietaryItem.fullDay, jdbcType=INTEGER}
			,#{dietaryItem.createBy,
			jdbcType=VARCHAR}
			,#{dietaryItem.createTime,
			jdbcType=TIMESTAMP}
			,#{dietaryItem.lastModified, jdbcType=BIGINT}
			)
		</foreach>
		SELECT * FROM dual
	</insert>


	<update id="updateDietaryItem" parameterType="com.glaf.heathcare.domain.DietaryItem">
		update HEALTH_DIETARY_ITEM${tableSuffix}
		set
		<trim prefix="" suffix="" suffixOverrides=",">
			<if test="name != null">
				NAME_ = #{name, jdbcType=VARCHAR},
			</if>
			<if test="description != null">
				DESCRIPTION_ = #{description, jdbcType=VARCHAR},
			</if>
			<if test="foodId != null">
				FOODID_ = #{foodId, jdbcType=BIGINT},
			</if>
			<if test="foodName != null">
				FOODNAME_ = #{foodName, jdbcType=VARCHAR},
			</if>
			<if test="typeId != null">
				TYPEID_ = #{typeId, jdbcType=BIGINT},
			</if>
			<if test="quantity != null">
				QUANTITY_ = #{quantity, jdbcType=DOUBLE},
			</if>
			<if test="unit != null">
				UNIT_ = #{unit, jdbcType=VARCHAR},
			</if>
			<if test="lastModified != null">
				LASTMODIFIED_ = #{lastModified, jdbcType=BIGINT},
			</if>
		</trim>
		where
		ID_ = #{id, jdbcType=BIGINT}

	</update>


	<delete id="deleteDietaryItemById" parameterType="com.glaf.heathcare.query.DietaryItemQuery">
		delete from
		HEALTH_DIETARY_ITEM${tableSuffix}
		where ID_ = #{id}
	</delete>


	<delete id="deleteDietaryItemsByDietaryId" parameterType="com.glaf.heathcare.query.DietaryItemQuery">
		delete
		from
		HEALTH_DIETARY_ITEM${tableSuffix}
		where DIETARYID_ = #{dietaryId}
	</delete>


	<delete id="deleteDietaryItemsByTemplateId" parameterType="com.glaf.heathcare.query.DietaryItemQuery">
		delete from
		HEALTH_DIETARY_ITEM${tableSuffix}
		where TEMPLATEID_ =
		#{templateId}
	</delete>


	<select id="getDietaryItemById" parameterType="com.glaf.heathcare.query.DietaryItemQuery"
		resultMap="dietaryItemResultMap">
		select * from HEALTH_DIETARY_ITEM${tableSuffix} where ID_ =
		#{id}
	</select>


	<select id="getDietaryItemsByDietaryId" parameterType="com.glaf.heathcare.query.DietaryItemQuery"
		resultMap="dietaryItemResultMap">
		select * from HEALTH_DIETARY_ITEM${tableSuffix} where
		DIETARYID_ =
		#{dietaryId}
	</select>


	<select id="getDietaryItemsByTemplateId" parameterType="com.glaf.heathcare.query.DietaryItemQuery"
		resultMap="dietaryItemResultMap">
		select * from HEALTH_DIETARY_ITEM${tableSuffix} where
		TEMPLATEID_ =
		#{templateId}
	</select>


	<select id="getDietaryItems" parameterType="com.glaf.heathcare.query.DietaryItemQuery"
		resultMap="dietaryItemResultMap">
		select distinct E.*
		<include refid="selectDietaryItemsSql" />
		<choose>
			<when test="orderBy != null">
				order by ${orderBy}
			</when>
			<otherwise>
				order by E.ID_ desc
			</otherwise>
		</choose>
	</select>


	<select id="getDietaryItemCount" parameterType="com.glaf.heathcare.query.DietaryItemQuery"
		resultType="int">
		select count(*)
		<include refid="selectDietaryItemsSql" />
	</select>


	<sql id="selectDietaryItemsSql">

		from HEALTH_DIETARY_ITEM${tableSuffix} E

		<where>
			1 = 1

			<if test="tenantId != null and tenantId != '' ">
				and E.TENANTID_ = #{tenantId}
			</if>

			<if test="dietaryId != null">
				and E.DIETARYID_ = #{dietaryId}
			</if>

			<if test="dietaryIds != null and dietaryIds.size() &gt; 0">
				and E.DIETARYID_ IN
				<foreach item="x_dietaryId" index="index" collection="dietaryIds"
					open="(" separator="," close=")">
					#{x_dietaryId}
				</foreach>
			</if>

			<if test="templateId != null">
				and E.TEMPLATEID_ = #{templateId}
			</if>

			<if test="templateIds != null and templateIds.size() &gt; 0">
				and E.TEMPLATEID_ IN
				<foreach item="x_templateId" index="index" collection="templateIds"
					open="(" separator="," close=")">
					#{x_templateId}
				</foreach>
			</if>

			<if test="typeId != null">
				and E.TYPEID_ = #{typeId}
			</if>

			<if test="typeIds != null and typeIds.size() &gt; 0">
				and E.TYPEID_ IN
				<foreach item="x_typeId" index="index" collection="typeIds"
					open="(" separator="," close=")">
					#{x_typeId}
				</foreach>
			</if>

			<if test="name != null and name != '' ">
				and E.NAME_ = #{name}
			</if>

			<if test="nameLike != null and nameLike != '' ">
				and E.NAME_ like #{nameLike}
			</if>

			<if test="descriptionLike != null and descriptionLike != '' ">
				and E.DESCRIPTION_ like #{descriptionLike}
			</if>

			<if test="foodId != null">
				and E.FOODID_ = #{foodId}
			</if>

			<if test="foodIds != null and foodIds.size() &gt; 0">
				and E.FOODID_ IN
				<foreach item="x_foodId" index="index" collection="foodIds"
					open="(" separator="," close=")">
					#{x_foodId}
				</foreach>
			</if>

			<if test="foodNameLike != null and foodNameLike != '' ">
				and E.FOODNAME_ like #{foodNameLike}
			</if>

			<if test="quantityGreaterThanOrEqual != null">
				and E.QUANTITY_ &gt;= #{quantityGreaterThanOrEqual}
			</if>

			<if test="quantityLessThanOrEqual != null">
				and E.QUANTITY_ &lt;= #{quantityLessThanOrEqual}
			</if>

			<if test="fullDay != null">
				and E.FULLDAY_ = #{fullDay}
			</if>

			<if test="createBy != null and createBy != '' ">
				and E.CREATEBY_ = #{createBy}
			</if>

			<if test="createTimeGreaterThanOrEqual != null">
				and E.CREATETIME_ &gt;= #{createTimeGreaterThanOrEqual}
			</if>

			<if test="createTimeLessThanOrEqual != null">
				and E.CREATETIME_ &lt;= #{createTimeLessThanOrEqual}
			</if>

			<if test="dataRequest != null and dataRequest.filter != null ">
				<include refid="com.glaf.global.GlobalMapper.dataRequestFilterCondition" />
			</if>

		</where>
	</sql>

</mapper>