<?xml version="1.0" encoding="UTF-8" ?> 

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.glaf.heathcare.mapper.DietaryStatisticsMapper">

	<resultMap id="dietaryStatisticsResultMap" type="com.glaf.heathcare.domain.DietaryStatistics">
		<id property="id" column="ID_" jdbcType="BIGINT" />
		<result property="tenantId" column="TENANTID_" jdbcType="VARCHAR" />
		<result property="name" column="NAME_" jdbcType="VARCHAR" />
		<result property="title" column="TITLE_" jdbcType="VARCHAR" />
		<result property="value" column="VALUE_" jdbcType="DOUBLE" />
		<result property="mealType" column="MEALTYPE_" jdbcType="VARCHAR" />
		<result property="sysFlag" column="SYSFLAG_" jdbcType="VARCHAR" />
		<result property="type" column="TYPE_" jdbcType="VARCHAR" />
		<result property="dayOfWeek" column="DAYOFWEEK_" jdbcType="INTEGER" />
		<result property="batchNo" column="BATCHNO_" jdbcType="VARCHAR" />
		<result property="sortNo" column="SORTNO_" jdbcType="INTEGER" />
		<result property="suitNo" column="SUITNO_" jdbcType="INTEGER" />
		<result property="semester" column="SEMESTER_" jdbcType="INTEGER" />
		<result property="year" column="YEAR_" jdbcType="INTEGER" />
		<result property="week" column="WEEK_" jdbcType="INTEGER" />
		<result property="createTime" column="CREATETIME_" jdbcType="TIMESTAMP" />
	</resultMap>


	<insert id="insertDietaryStatistics" parameterType="com.glaf.heathcare.domain.DietaryStatistics">
		insert into HEALTH_DIETARY_STATISTICS
		<trim prefix="(" suffix=")" suffixOverrides=",">
			ID_
			<if test="tenantId != null">
				,TENANTID_
			</if>
			<if test="name != null">
				,NAME_
			</if>
			<if test="title != null">
				,TITLE_
			</if>
			<if test="value != null">
				,VALUE_
			</if>
			<if test="mealType != null">
				,MEALTYPE_
			</if>
			<if test="sysFlag != null">
				,SYSFLAG_
			</if>
			<if test="type != null">
				,TYPE_
			</if>
			<if test="dayOfWeek != null">
				,DAYOFWEEK_
			</if>
			<if test="batchNo != null">
				,BATCHNO_
			</if>
			<if test="sortNo != null">
				,SORTNO_
			</if>
			<if test="suitNo != null">
				,SUITNO_
			</if>
			<if test="semester != null">
				,SEMESTER_
			</if>
			<if test="year != null">
				,YEAR_
			</if>
			<if test="week != null">
				,WEEK_
			</if>
			<if test="createTime != null">
				,CREATETIME_
			</if>
		</trim>

		<trim prefix=" values (" suffix=")" suffixOverrides=",">
			#{id, jdbcType=BIGINT}

			<if test="tenantId != null">
				,#{tenantId, jdbcType=VARCHAR}
			</if>
			<if test="name != null">
				,#{name, jdbcType=VARCHAR}
			</if>
			<if test="title != null">
				,#{title, jdbcType=VARCHAR}
			</if>
			<if test="value != null">
				,#{value, jdbcType=DOUBLE}
			</if>
			<if test="mealType != null">
				,#{mealType, jdbcType=VARCHAR}
			</if>
			<if test="sysFlag != null">
				,#{sysFlag, jdbcType=VARCHAR}
			</if>
			<if test="type != null">
				,#{type, jdbcType=VARCHAR}
			</if>
			<if test="dayOfWeek != null">
				,#{dayOfWeek, jdbcType=INTEGER}
			</if>
			<if test="batchNo != null">
				,#{batchNo, jdbcType=VARCHAR}
			</if>
			<if test="sortNo != null">
				,#{sortNo, jdbcType=INTEGER}
			</if>
			<if test="suitNo != null">
				,#{suitNo, jdbcType=INTEGER}
			</if>
			<if test="semester != null">
				,#{semester, jdbcType=INTEGER}
			</if>
			<if test="year != null">
				,#{year, jdbcType=INTEGER}
			</if>
			<if test="week != null">
				,#{week, jdbcType=INTEGER}
			</if>
			<if test="createTime != null">
				,#{createTime, jdbcType=TIMESTAMP}
			</if>
		</trim>
	</insert>


	<insert id="bulkInsertDietaryStatistics" parameterType="java.util.List">
		insert into HEALTH_DIETARY_STATISTICS (
		ID_
		,TENANTID_
		,NAME_
		,TITLE_
		,VALUE_
		,MEALTYPE_
		,SYSFLAG_
		,TYPE_
		,DAYOFWEEK_
		,BATCHNO_
		,SORTNO_
		,SUITNO_
		,SEMESTER_
		,YEAR_
		,WEEK_
		,CREATETIME_
		)
		values
		<foreach collection="list" item="dietaryStatistics" index="index"
			separator=",">
			(
			#{dietaryStatistics.id, jdbcType=BIGINT}
			,#{dietaryStatistics.tenantId, jdbcType=VARCHAR}
			,#{dietaryStatistics.name, jdbcType=VARCHAR}
			,#{dietaryStatistics.title, jdbcType=VARCHAR}
			,#{dietaryStatistics.value, jdbcType=DOUBLE}
			,#{dietaryStatistics.mealType, jdbcType=VARCHAR}
			,#{dietaryStatistics.sysFlag, jdbcType=VARCHAR}
			,#{dietaryStatistics.type, jdbcType=VARCHAR}
			,#{dietaryStatistics.dayOfWeek, jdbcType=INTEGER}
			,#{dietaryStatistics.batchNo, jdbcType=VARCHAR}
			,#{dietaryStatistics.sortNo, jdbcType=INTEGER}
			,#{dietaryStatistics.suitNo, jdbcType=INTEGER}
			,#{dietaryStatistics.semester, jdbcType=INTEGER}
			,#{dietaryStatistics.year, jdbcType=INTEGER}
			,#{dietaryStatistics.week, jdbcType=INTEGER}
			,#{dietaryStatistics.createTime, jdbcType=TIMESTAMP}
			)
		</foreach>
	</insert>


	<insert id="bulkInsertDietaryStatistics_oracle" parameterType="java.util.List">
		INSERT ALL
		<foreach collection="list" item="dietaryStatistics" index="index">
			insert into HEALTH_DIETARY_STATISTICS (
			ID_
			,TENANTID_
			,NAME_
			,TITLE_
			,VALUE_
			,MEALTYPE_
			,SYSFLAG_
			,TYPE_
			,DAYOFWEEK_
			,BATCHNO_
			,SORTNO_
			,SUITNO_
			,SEMESTER_
			,YEAR_
			,WEEK_
			,CREATETIME_
			)
			values (
			#{dietaryStatistics.id,
			jdbcType=BIGINT}
			,#{dietaryStatistics.tenantId, jdbcType=VARCHAR}
			,#{dietaryStatistics.name, jdbcType=VARCHAR}
			,#{dietaryStatistics.title, jdbcType=VARCHAR}
			,#{dietaryStatistics.value, jdbcType=DOUBLE}
			,#{dietaryStatistics.mealType, jdbcType=VARCHAR}
			,#{dietaryStatistics.sysFlag, jdbcType=VARCHAR}
			,#{dietaryStatistics.type, jdbcType=VARCHAR}
			,#{dietaryStatistics.dayOfWeek, jdbcType=INTEGER}
			,#{dietaryStatistics.batchNo, jdbcType=VARCHAR}
			,#{dietaryStatistics.sortNo, jdbcType=INTEGER}
			,#{dietaryStatistics.suitNo, jdbcType=INTEGER}
			,#{dietaryStatistics.semester, jdbcType=INTEGER}
			,#{dietaryStatistics.year, jdbcType=INTEGER}
			,#{dietaryStatistics.week, jdbcType=INTEGER}
			,#{dietaryStatistics.createTime, jdbcType=TIMESTAMP}
			)
		</foreach>
		SELECT * FROM dual
	</insert>


	<delete id="deleteDietaryStatisticsById" parameterType="long">
		delete
		from HEALTH_DIETARY_STATISTICS
		where ID_ = #{id}
	</delete>


	<delete id="deleteDietaryStatisticses" parameterType="com.glaf.heathcare.query.DietaryStatisticsQuery">
		delete from HEALTH_DIETARY_STATISTICS
		where (
		ID_ IN
		<foreach item="x_id" index="index" collection="ids" open="("
			separator="," close=")">
			#{x_id}
		</foreach>
		)
	</delete>

	<delete id="deleteDietaryStatisticsByBatchNo" parameterType="string">
		delete
		from HEALTH_DIETARY_STATISTICS
		where BATCHNO_ = #{batchNo}
	</delete>


	<select id="getDietaryStatisticsById" parameterType="long"
		resultMap="dietaryStatisticsResultMap">
		select * from HEALTH_DIETARY_STATISTICS where ID_ = #{id}
	</select>


	<select id="getDietaryStatisticss" parameterType="com.glaf.heathcare.query.DietaryStatisticsQuery"
		resultMap="dietaryStatisticsResultMap">
		select distinct E.*
		<include refid="selectDietaryStatisticssSql" />
		<choose>
			<when test="orderBy != null">
				order by ${orderBy}
			</when>
			<otherwise>
				order by E.SORTNO_ asc
			</otherwise>
		</choose>
	</select>


	<select id="getDietaryStatisticsCount" parameterType="com.glaf.heathcare.query.DietaryStatisticsQuery"
		resultType="int">
		select count(*)
		<include refid="selectDietaryStatisticssSql" />
	</select>


	<sql id="selectDietaryStatisticssSql">

		from HEALTH_DIETARY_STATISTICS E

		<where>
			1 = 1

			<if test="tenantId != null and tenantId != '' ">
				and E.TENANTID_ = #{tenantId}
			</if>

			<if test="tenantIds != null and tenantIds.size() &gt; 0">
				and E.TENANTID_ IN
				<foreach item="x_tenantId" index="index" collection="tenantIds"
					open="(" separator="," close=")">
					#{x_tenantId}
				</foreach>
			</if>

			<if test="name != null and name != '' ">
				and E.NAME_ = #{name}
			</if>

			<if test="nameLike != null and nameLike != '' ">
				and E.NAME_ like #{nameLike}
			</if>

			<if test="mealType != null and mealType != '' ">
				and E.MEALTYPE_ = #{mealType}
			</if>

			<if test="sysFlag != null and sysFlag != '' ">
				and E.SYSFLAG_ = #{sysFlag}
			</if>

			<if test="type != null and type != '' ">
				and E.TYPE_ = #{type}
			</if>

			<if test="dayOfWeek != null">
				and E.DAYOFWEEK_ = #{dayOfWeek}
			</if>

			<if test="year != null">
				and E.YEAR_ = #{year}
			</if>

			<if test="semester != null">
				and E.SEMESTER_ = #{semester}
			</if>

			<if test="week != null">
				and E.WEEK_ = #{week}
			</if>

			<if test="batchNo != null and batchNo != '' ">
				and E.BATCHNO_ = #{batchNo}
			</if>

			<if test="suitNo != null">
				and E.SUITNO_ = #{suitNo}
			</if>

		</where>
	</sql>

</mapper>