<?xml version="1.0" encoding="UTF-8" ?> 

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.glaf.heathcare.mapper.FoodRestrictionMapper">

	<resultMap id="foodRestrictionResultMap" type="com.glaf.heathcare.domain.FoodRestriction">
		<id property="id" column="ID_" jdbcType="BIGINT" />
		<result property="foodId" column="FOODID_" jdbcType="BIGINT" />
		<result property="restrictionFoodId" column="RESTRICTIONFOODID_"
			jdbcType="BIGINT" />
		<result property="description" column="DESCRIPTION_" jdbcType="VARCHAR" />
		<result property="createBy" column="CREATEBY_" jdbcType="VARCHAR" />
		<result property="createTime" column="CREATETIME_" jdbcType="TIMESTAMP" />
		<result property="updateBy" column="UPDATEBY_" jdbcType="VARCHAR" />
		<result property="updateTime" column="UPDATETIME_" jdbcType="TIMESTAMP" />
	</resultMap>


	<insert id="insertFoodRestriction" parameterType="com.glaf.heathcare.domain.FoodRestriction">
		insert into HEALTH_FOOD_RESTRICTION
		<trim prefix="(" suffix=")" suffixOverrides=",">
			ID_
			<if test="foodId != null">
				,FOODID_
			</if>
			<if test="restrictionFoodId != null">
				,RESTRICTIONFOODID_
			</if>
			<if test="description != null">
				,DESCRIPTION_
			</if>
			<if test="createBy != null">
				,CREATEBY_
			</if>
			<if test="createTime != null">
				,CREATETIME_
			</if>
			<if test="updateBy != null">
				,UPDATEBY_
			</if>
			<if test="updateTime != null">
				,UPDATETIME_
			</if>
		</trim>

		<trim prefix=" values (" suffix=")" suffixOverrides=",">
			#{id, jdbcType=BIGINT}

			<if test="foodId != null">
				,#{foodId, jdbcType=BIGINT}
			</if>
			<if test="restrictionFoodId != null">
				,#{restrictionFoodId, jdbcType=BIGINT}
			</if>
			<if test="description != null">
				,#{description, jdbcType=VARCHAR}
			</if>
			<if test="createBy != null">
				,#{createBy, jdbcType=VARCHAR}
			</if>
			<if test="createTime != null">
				,#{createTime, jdbcType=TIMESTAMP}
			</if>
			<if test="updateBy != null">
				,#{updateBy, jdbcType=VARCHAR}
			</if>
			<if test="updateTime != null">
				,#{updateTime, jdbcType=TIMESTAMP}
			</if>
		</trim>
	</insert>


	<insert id="bulkInsertFoodRestriction" parameterType="java.util.List">
		insert into HEALTH_FOOD_RESTRICTION (
		ID_
		,FOODID_
		,RESTRICTIONFOODID_
		,DESCRIPTION_
		,CREATEBY_
		,CREATETIME_
		,UPDATEBY_
		,UPDATETIME_
		) values
		<foreach collection="list" item="foodRestriction" index="index"
			separator=",">
			(
			#{foodRestriction.id, jdbcType=BIGINT}
			,#{foodRestriction.foodId, jdbcType=BIGINT}
			,#{foodRestriction.restrictionFoodId, jdbcType=BIGINT}
			,#{foodRestriction.description, jdbcType=VARCHAR}
			,#{foodRestriction.createBy, jdbcType=VARCHAR}
			,#{foodRestriction.createTime, jdbcType=TIMESTAMP}
			,#{foodRestriction.updateBy, jdbcType=VARCHAR}
			,#{foodRestriction.updateTime, jdbcType=TIMESTAMP}
			)
		</foreach>
	</insert>


	<insert id="bulkInsertFoodRestriction_oracle" parameterType="java.util.List">
		INSERT ALL
		<foreach collection="list" item="foodRestriction" index="index">
			insert into HEALTH_FOOD_RESTRICTION (
			ID_
			,FOODID_
			,RESTRICTIONFOODID_
			,DESCRIPTION_
			,CREATEBY_
			,CREATETIME_
			,UPDATEBY_
			,UPDATETIME_
			) values (
			#{foodRestriction.id, jdbcType=BIGINT}
			,#{foodRestriction.foodId,
			jdbcType=BIGINT}
			,#{foodRestriction.restrictionFoodId,
			jdbcType=BIGINT}
			,#{foodRestriction.description, jdbcType=VARCHAR}
			,#{foodRestriction.createBy, jdbcType=VARCHAR}
			,#{foodRestriction.createTime, jdbcType=TIMESTAMP}
			,#{foodRestriction.updateBy, jdbcType=VARCHAR}
			,#{foodRestriction.updateTime, jdbcType=TIMESTAMP}
			)
		</foreach>
		SELECT * FROM dual
	</insert>


	<update id="updateFoodRestriction" parameterType="com.glaf.heathcare.domain.FoodRestriction">
		update HEALTH_FOOD_RESTRICTION
		set
		<trim prefix="" suffix="" suffixOverrides=",">
			<if test="description != null">
				DESCRIPTION_ = #{description, jdbcType=VARCHAR},
			</if>
			<if test="updateBy != null">
				UPDATEBY_ = #{updateBy, jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				UPDATETIME_ = #{updateTime, jdbcType=TIMESTAMP},
			</if>
		</trim>
		where
		ID_ = #{id, jdbcType=BIGINT}

	</update>


	<delete id="deleteFoodRestrictionById" parameterType="long">
		delete from
		HEALTH_FOOD_RESTRICTION
		where ID_ = #{id}
	</delete>


	<select id="getFoodRestrictionById" parameterType="long"
		resultMap="foodRestrictionResultMap">
		select * from HEALTH_FOOD_RESTRICTION where ID_ = #{id}
	</select>


	<select id="getFoodRestrictions" parameterType="com.glaf.heathcare.query.FoodRestrictionQuery"
		resultMap="foodRestrictionResultMap">
		select distinct E.*
		<include refid="selectFoodRestrictionsSql" />
		<choose>
			<when test="orderBy != null">
				order by ${orderBy}
			</when>
			<otherwise>
				order by E.ID_ desc
			</otherwise>
		</choose>
	</select>


	<select id="getFoodRestrictionCount" parameterType="com.glaf.heathcare.query.FoodRestrictionQuery"
		resultType="int">
		select count(*)
		<include refid="selectFoodRestrictionsSql" />
	</select>


	<sql id="selectFoodRestrictionsSql">

		from HEALTH_FOOD_RESTRICTION E

		<where>
			1 = 1

			<if test="foodId != null">
				and E.FOODID_ = #{foodId}
			</if>

			<if test="foodIds != null and foodIds.size() &gt; 0">
				and E.FOODID_ IN
				<foreach item="x_foodId" index="index" collection="foodIds"
					open="(" separator="," close=")">
					#{x_foodId}
				</foreach>
			</if>

		</where>
	</sql>

</mapper>