<?xml version="1.0" encoding="UTF-8" ?> 

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.glaf.heathcare.mapper.GradeMedicalExaminationCountMapper">

	<resultMap id="gradeMedicalExaminationCountResultMap"
		type="com.glaf.heathcare.domain.GradeMedicalExaminationCount">
		<id property="id" column="ID_" jdbcType="BIGINT" />
		<result property="checkId" column="CHECKID_" jdbcType="VARCHAR" />
		<result property="tenantId" column="TENANTID_" jdbcType="VARCHAR" />
		<result property="gradeId" column="GRADEID_" jdbcType="VARCHAR" />
		<result property="female" column="FEMALE_" jdbcType="INTEGER" />
		<result property="male" column="MALE_" jdbcType="INTEGER" />
		<result property="personCount" column="PERSONCOUNT_" jdbcType="INTEGER" />
		<result property="checkPerson" column="CHECKPERSON_" jdbcType="INTEGER" />
		<result property="checkPercent" column="CHECKPERCENT_"
			jdbcType="DOUBLE" />
		<result property="growthRatePerson" column="GROWTHRATEPERSON_"
			jdbcType="INTEGER" />
		<result property="growthRatePersonPercent" column="GROWTHRATEPERSONPERCENT_"
			jdbcType="DOUBLE" />
		<result property="weightLow" column="WEIGHTLOW_" jdbcType="INTEGER" />
		<result property="weightSkinny" column="WEIGHTSKINNY_"
			jdbcType="INTEGER" />
		<result property="weightRetardation" column="WEIGHTRETARDATION_"
			jdbcType="INTEGER" />
		<result property="weightSevereMalnutrition" column="WEIGHTSEVEREMALNUTRITION_"
			jdbcType="INTEGER" />
		<result property="overWeight" column="OVERWEIGHT_" jdbcType="INTEGER" />
		<result property="weightObesityLow" column="WEIGHTOBESITYLOW_"
			jdbcType="INTEGER" />
		<result property="weightObesityMid" column="WEIGHTOBESITYMID_"
			jdbcType="INTEGER" />
		<result property="weightObesityHigh" column="WEIGHTOBESITYHIGH_"
			jdbcType="INTEGER" />
		<result property="anemiaCheck" column="ANEMIACHECK_" jdbcType="INTEGER" />
		<result property="anemiaCheckNormal" column="ANEMIACHECKNORMAL_"
			jdbcType="INTEGER" />
		<result property="anemiaCheckNormalPercent" column="ANEMIACHECKNORMALPERCENT_"
			jdbcType="DOUBLE" />
		<result property="anemiaLow" column="ANEMIALOW_" jdbcType="INTEGER" />
		<result property="anemiaMid" column="ANEMIAMID_" jdbcType="INTEGER" />
		<result property="anemiaHigh" column="ANEMIAHIGH_" jdbcType="INTEGER" />
		<result property="bloodLead" column="BLOODLEAD_" jdbcType="INTEGER" />
		<result property="year" column="YEAR_" jdbcType="INTEGER" />
		<result property="semester" column="SEMESTER_" jdbcType="INTEGER" />
		<result property="fullDay" column="FULLDAY_" jdbcType="INTEGER" />
		<result property="sortNo" column="SORTNO_" jdbcType="INTEGER" />
	</resultMap>


	<insert id="insertGradeMedicalExaminationCount"
		parameterType="com.glaf.heathcare.domain.GradeMedicalExaminationCount">
		insert into HEALTH_MEDICAL_EXAMINATIONCOUNT
		<trim prefix="(" suffix=")" suffixOverrides=",">
			ID_
			<if test="checkId != null">
				,CHECKID_
			</if>
			<if test="tenantId != null">
				,TENANTID_
			</if>
			<if test="gradeId != null">
				,GRADEID_
			</if>
			<if test="female != null">
				,FEMALE_
			</if>
			<if test="male != null">
				,MALE_
			</if>
			<if test="personCount != null">
				,PERSONCOUNT_
			</if>
			<if test="checkPerson != null">
				,CHECKPERSON_
			</if>
			<if test="checkPercent != null">
				,CHECKPERCENT_
			</if>
			<if test="growthRatePerson != null">
				,GROWTHRATEPERSON_
			</if>
			<if test="growthRatePersonPercent != null">
				,GROWTHRATEPERSONPERCENT_
			</if>
			<if test="weightLow != null">
				,WEIGHTLOW_
			</if>
			<if test="weightSkinny != null">
				,WEIGHTSKINNY_
			</if>
			<if test="weightRetardation != null">
				,WEIGHTRETARDATION_
			</if>
			<if test="weightSevereMalnutrition != null">
				,WEIGHTSEVEREMALNUTRITION_
			</if>
			<if test="overWeight != null">
				,OVERWEIGHT_
			</if>
			<if test="weightObesityLow != null">
				,WEIGHTOBESITYLOW_
			</if>
			<if test="weightObesityMid != null">
				,WEIGHTOBESITYMID_
			</if>
			<if test="weightObesityHigh != null">
				,WEIGHTOBESITYHIGH_
			</if>
			<if test="anemiaCheck != null">
				,ANEMIACHECK_
			</if>
			<if test="anemiaCheckNormal != null">
				,ANEMIACHECKNORMAL_
			</if>
			<if test="anemiaCheckNormalPercent != null">
				,ANEMIACHECKNORMALPERCENT_
			</if>
			<if test="anemiaLow != null">
				,ANEMIALOW_
			</if>
			<if test="anemiaMid != null">
				,ANEMIAMID_
			</if>
			<if test="anemiaHigh != null">
				,ANEMIAHIGH_
			</if>
			<if test="bloodLead != null">
				,BLOODLEAD_
			</if>
			<if test="year != null">
				,YEAR_
			</if>
			<if test="semester != null">
				,SEMESTER_
			</if>
			<if test="fullDay != null">
				,FULLDAY_
			</if>
			<if test="sortNo != null">
				,SORTNO_
			</if>
		</trim>

		<trim prefix=" values (" suffix=")" suffixOverrides=",">
			#{id, jdbcType=BIGINT}

			<if test="checkId != null">
				,#{checkId, jdbcType=VARCHAR}
			</if>
			<if test="tenantId != null">
				,#{tenantId, jdbcType=VARCHAR}
			</if>
			<if test="gradeId != null">
				,#{gradeId, jdbcType=VARCHAR}
			</if>
			<if test="female != null">
				,#{female, jdbcType=INTEGER}
			</if>
			<if test="male != null">
				,#{male, jdbcType=INTEGER}
			</if>
			<if test="personCount != null">
				,#{personCount, jdbcType=INTEGER}
			</if>
			<if test="checkPerson != null">
				,#{checkPerson, jdbcType=INTEGER}
			</if>
			<if test="checkPercent != null">
				,#{checkPercent, jdbcType=DOUBLE}
			</if>
			<if test="growthRatePerson != null">
				,#{growthRatePerson, jdbcType=INTEGER}
			</if>
			<if test="growthRatePersonPercent != null">
				,#{growthRatePersonPercent, jdbcType=DOUBLE}
			</if>
			<if test="weightLow != null">
				,#{weightLow, jdbcType=INTEGER}
			</if>
			<if test="weightSkinny != null">
				,#{weightSkinny, jdbcType=INTEGER}
			</if>
			<if test="weightRetardation != null">
				,#{weightRetardation, jdbcType=INTEGER}
			</if>
			<if test="weightSevereMalnutrition != null">
				,#{weightSevereMalnutrition, jdbcType=INTEGER}
			</if>
			<if test="overWeight != null">
				,#{overWeight, jdbcType=INTEGER}
			</if>
			<if test="weightObesityLow != null">
				,#{weightObesityLow, jdbcType=INTEGER}
			</if>
			<if test="weightObesityMid != null">
				,#{weightObesityMid, jdbcType=INTEGER}
			</if>
			<if test="weightObesityHigh != null">
				,#{weightObesityHigh, jdbcType=INTEGER}
			</if>
			<if test="anemiaCheck != null">
				,#{anemiaCheck, jdbcType=INTEGER}
			</if>
			<if test="anemiaCheckNormal != null">
				,#{anemiaCheckNormal, jdbcType=INTEGER}
			</if>
			<if test="anemiaCheckNormalPercent != null">
				,#{anemiaCheckNormalPercent, jdbcType=DOUBLE}
			</if>
			<if test="anemiaLow != null">
				,#{anemiaLow, jdbcType=INTEGER}
			</if>
			<if test="anemiaMid != null">
				,#{anemiaMid, jdbcType=INTEGER}
			</if>
			<if test="anemiaHigh != null">
				,#{anemiaHigh, jdbcType=INTEGER}
			</if>
			<if test="bloodLead != null">
				,#{bloodLead, jdbcType=INTEGER}
			</if>
			<if test="year != null">
				,#{year, jdbcType=INTEGER}
			</if>
			<if test="semester != null">
				,#{semester, jdbcType=INTEGER}
			</if>
			<if test="fullDay != null">
				,#{fullDay, jdbcType=INTEGER}
			</if>
			<if test="sortNo != null">
				,#{sortNo, jdbcType=INTEGER}
			</if>
		</trim>
	</insert>


	<insert id="bulkInsertGradeMedicalExaminationCount"
		parameterType="java.util.List">
		insert into HEALTH_MEDICAL_EXAMINATIONCOUNT (
		ID_
		,CHECKID_
		,TENANTID_
		,GRADEID_
		,FEMALE_
		,MALE_
		,PERSONCOUNT_
		,CHECKPERSON_
		,CHECKPERCENT_
		,GROWTHRATEPERSON_
		,GROWTHRATEPERSONPERCENT_
		,WEIGHTLOW_
		,WEIGHTSKINNY_
		,WEIGHTRETARDATION_
		,WEIGHTSEVEREMALNUTRITION_
		,OVERWEIGHT_
		,WEIGHTOBESITYLOW_
		,WEIGHTOBESITYMID_
		,WEIGHTOBESITYHIGH_
		,ANEMIACHECK_
		,ANEMIACHECKNORMAL_
		,ANEMIACHECKNORMALPERCENT_
		,ANEMIALOW_
		,ANEMIAMID_
		,ANEMIAHIGH_
		,BLOODLEAD_
		,YEAR_
		,SEMESTER_
		,FULLDAY_
		,SORTNO_
		) values
		<foreach collection="list" item="gradeMedicalExaminationCount"
			index="index" separator=",">
			(
			#{gradeMedicalExaminationCount.id,
			jdbcType=BIGINT}
			,#{gradeMedicalExaminationCount.checkId,
			jdbcType=VARCHAR}
			,#{gradeMedicalExaminationCount.tenantId,
			jdbcType=VARCHAR}
			,#{gradeMedicalExaminationCount.gradeId,
			jdbcType=VARCHAR}
			,#{gradeMedicalExaminationCount.female,
			jdbcType=INTEGER}
			,#{gradeMedicalExaminationCount.male,
			jdbcType=INTEGER}
			,#{gradeMedicalExaminationCount.personCount,
			jdbcType=INTEGER}
			,#{gradeMedicalExaminationCount.checkPerson,
			jdbcType=INTEGER}
			,#{gradeMedicalExaminationCount.checkPercent,
			jdbcType=DOUBLE}
			,#{gradeMedicalExaminationCount.growthRatePerson,
			jdbcType=INTEGER}
			,#{gradeMedicalExaminationCount.growthRatePersonPercent,
			jdbcType=DOUBLE}
			,#{gradeMedicalExaminationCount.weightLow,
			jdbcType=INTEGER}
			,#{gradeMedicalExaminationCount.weightSkinny,
			jdbcType=INTEGER}
			,#{gradeMedicalExaminationCount.weightRetardation,
			jdbcType=INTEGER}
			,#{gradeMedicalExaminationCount.weightSevereMalnutrition,
			jdbcType=INTEGER}
			,#{gradeMedicalExaminationCount.overWeight,
			jdbcType=INTEGER}
			,#{gradeMedicalExaminationCount.weightObesityLow,
			jdbcType=INTEGER}
			,#{gradeMedicalExaminationCount.weightObesityMid,
			jdbcType=INTEGER}
			,#{gradeMedicalExaminationCount.weightObesityHigh,
			jdbcType=INTEGER}
			,#{gradeMedicalExaminationCount.anemiaCheck,
			jdbcType=INTEGER}
			,#{gradeMedicalExaminationCount.anemiaCheckNormal,
			jdbcType=INTEGER}
			,#{gradeMedicalExaminationCount.anemiaCheckNormalPercent,
			jdbcType=DOUBLE}
			,#{gradeMedicalExaminationCount.anemiaLow,
			jdbcType=INTEGER}
			,#{gradeMedicalExaminationCount.anemiaMid,
			jdbcType=INTEGER}
			,#{gradeMedicalExaminationCount.anemiaHigh,
			jdbcType=INTEGER}
			,#{gradeMedicalExaminationCount.bloodLead,
			jdbcType=INTEGER}
			,#{gradeMedicalExaminationCount.year,
			jdbcType=INTEGER}
			,#{gradeMedicalExaminationCount.semester,
			jdbcType=INTEGER}
			,#{gradeMedicalExaminationCount.fullDay,
			jdbcType=INTEGER}
			,#{gradeMedicalExaminationCount.sortNo,
			jdbcType=INTEGER}
			)
		</foreach>
	</insert>


	<insert id="bulkInsertGradeMedicalExaminationCount_oracle"
		parameterType="java.util.List">
		INSERT ALL
		<foreach collection="list" item="gradeMedicalExaminationCount"
			index="index">
			insert into HEALTH_MEDICAL_EXAMINATIONCOUNT (
			ID_
			,CHECKID_
			,TENANTID_
			,GRADEID_
			,FEMALE_
			,MALE_
			,PERSONCOUNT_
			,CHECKPERSON_
			,CHECKPERCENT_
			,GROWTHRATEPERSON_
			,GROWTHRATEPERSONPERCENT_
			,WEIGHTLOW_
			,WEIGHTSKINNY_
			,WEIGHTRETARDATION_
			,WEIGHTSEVEREMALNUTRITION_
			,OVERWEIGHT_
			,WEIGHTOBESITYLOW_
			,WEIGHTOBESITYMID_
			,WEIGHTOBESITYHIGH_
			,ANEMIACHECK_
			,ANEMIACHECKNORMAL_
			,ANEMIACHECKNORMALPERCENT_
			,ANEMIALOW_
			,ANEMIAMID_
			,ANEMIAHIGH_
			,BLOODLEAD_
			,YEAR_
			,SEMESTER_
			,FULLDAY_
			,SORTNO_
			) values (
			#{gradeMedicalExaminationCount.id,
			jdbcType=BIGINT}
			,#{gradeMedicalExaminationCount.checkId,
			jdbcType=VARCHAR}
			,#{gradeMedicalExaminationCount.tenantId,
			jdbcType=VARCHAR}
			,#{gradeMedicalExaminationCount.gradeId,
			jdbcType=VARCHAR}
			,#{gradeMedicalExaminationCount.female,
			jdbcType=INTEGER}
			,#{gradeMedicalExaminationCount.male,
			jdbcType=INTEGER}
			,#{gradeMedicalExaminationCount.personCount,
			jdbcType=INTEGER}
			,#{gradeMedicalExaminationCount.checkPerson,
			jdbcType=INTEGER}
			,#{gradeMedicalExaminationCount.checkPercent,
			jdbcType=DOUBLE}
			,#{gradeMedicalExaminationCount.growthRatePerson,
			jdbcType=INTEGER}
			,#{gradeMedicalExaminationCount.growthRatePersonPercent,
			jdbcType=DOUBLE}
			,#{gradeMedicalExaminationCount.weightLow,
			jdbcType=INTEGER}
			,#{gradeMedicalExaminationCount.weightSkinny,
			jdbcType=INTEGER}
			,#{gradeMedicalExaminationCount.weightRetardation,
			jdbcType=INTEGER}
			,#{gradeMedicalExaminationCount.weightSevereMalnutrition,
			jdbcType=INTEGER}
			,#{gradeMedicalExaminationCount.overWeight,
			jdbcType=INTEGER}
			,#{gradeMedicalExaminationCount.weightObesityLow,
			jdbcType=INTEGER}
			,#{gradeMedicalExaminationCount.weightObesityMid,
			jdbcType=INTEGER}
			,#{gradeMedicalExaminationCount.weightObesityHigh,
			jdbcType=INTEGER}
			,#{gradeMedicalExaminationCount.anemiaCheck,
			jdbcType=INTEGER}
			,#{gradeMedicalExaminationCount.anemiaCheckNormal,
			jdbcType=INTEGER}
			,#{gradeMedicalExaminationCount.anemiaCheckNormalPercent,
			jdbcType=DOUBLE}
			,#{gradeMedicalExaminationCount.anemiaLow,
			jdbcType=INTEGER}
			,#{gradeMedicalExaminationCount.anemiaMid,
			jdbcType=INTEGER}
			,#{gradeMedicalExaminationCount.anemiaHigh,
			jdbcType=INTEGER}
			,#{gradeMedicalExaminationCount.bloodLead,
			jdbcType=INTEGER}
			,#{gradeMedicalExaminationCount.year,
			jdbcType=INTEGER}
			,#{gradeMedicalExaminationCount.semester,
			jdbcType=INTEGER}
			,#{gradeMedicalExaminationCount.fullDay,
			jdbcType=INTEGER}
			,#{gradeMedicalExaminationCount.sortNo,
			jdbcType=INTEGER}
			)
		</foreach>
		SELECT * FROM dual
	</insert>


	<delete id="deleteGradeMedicalExaminationCountById"
		parameterType="long">
		delete from HEALTH_MEDICAL_EXAMINATIONCOUNT
		where ID_ =
		#{id}
	</delete>


	<delete id="deleteGradeMedicalExaminationCountByCheckId"
		parameterType="string">
		delete from HEALTH_MEDICAL_EXAMINATIONCOUNT
		where
		CHECKID_ = #{checkId}
	</delete>


	<select id="getGradeMedicalExaminationCountById" parameterType="long"
		resultMap="gradeMedicalExaminationCountResultMap">
		select * from HEALTH_MEDICAL_EXAMINATIONCOUNT where ID_ =
		#{id}
	</select>


	<select id="getGradeMedicalExaminationCounts"
		parameterType="com.glaf.heathcare.query.GradeMedicalExaminationCountQuery"
		resultMap="gradeMedicalExaminationCountResultMap">
		select distinct E.*
		<include refid="selectGradeMedicalExaminationCountsSql" />
		<choose>
			<when test="orderBy != null">
				order by ${orderBy}
			</when>
			<otherwise>
				order by E.ID_ desc
			</otherwise>
		</choose>
	</select>


	<select id="getGradeMedicalExaminationCountCount"
		parameterType="com.glaf.heathcare.query.GradeMedicalExaminationCountQuery"
		resultType="int">
		select count(*)
		<include refid="selectGradeMedicalExaminationCountsSql" />
	</select>


	<sql id="selectGradeMedicalExaminationCountsSql">

		from HEALTH_MEDICAL_EXAMINATIONCOUNT E

		<where>
			1 = 1

			<if test="checkId != null and checkId != '' ">
				and E.CHECKID_ = #{checkId}
			</if>

			<if test="checkIds != null and checkIds.size() &gt; 0">
				and E.CHECKID_ IN
				<foreach item="x_checkId" index="index" collection="checkIds"
					open="(" separator="," close=")">
					#{x_checkId}
				</foreach>
			</if>

			<if test="tenantId != null and tenantId != '' ">
				and E.TENANTID_ = #{tenantId}
			</if>

			<if test="tenantIds != null and tenantIds.size() &gt; 0">
				and E.TENANTID_ IN
				<foreach item="x_tenantId" index="index" collection="tenantIds"
					open="(" separator="," close=")">
					#{x_tenantId}
				</foreach>
			</if>

			<if test="gradeId != null and gradeId != '' ">
				and E.GRADEID_ = #{gradeId}
			</if>

			<if test="gradeIds != null and gradeIds.size() &gt; 0">
				and E.GRADEID_ IN
				<foreach item="x_gradeId" index="index" collection="gradeIds"
					open="(" separator="," close=")">
					#{x_gradeId}
				</foreach>
			</if>

			<if test="year != null">
				and E.YEAR_ = #{year}
			</if>

			<if test="years != null and years.size() &gt; 0">
				and E.YEAR_ IN
				<foreach item="x_year" index="index" collection="years"
					open="(" separator="," close=")">
					#{x_year}
				</foreach>
			</if>

		</where>
	</sql>

</mapper>