<?xml version="1.0" encoding="UTF-8" ?> 

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.glaf.heathcare.mapper.MedicalExaminationMapper">

	<resultMap id="medicalExaminationResultMap" type="com.glaf.heathcare.domain.MedicalExamination">
		<id property="id" column="ID_" jdbcType="BIGINT" />
		<result property="batchId" column="BATCHID_" jdbcType="BIGINT" />
		<result property="checkId" column="CHECKID_" jdbcType="VARCHAR" />
		<result property="tenantId" column="TENANTID_" jdbcType="VARCHAR" />
		<result property="gradeId" column="GRADEID_" jdbcType="VARCHAR" />
		<result property="personId" column="PERSONID_" jdbcType="VARCHAR" />
		<result property="name" column="NAME_" jdbcType="VARCHAR" />
		<result property="sex" column="SEX_" jdbcType="VARCHAR" />
		<result property="height" column="HEIGHT_" jdbcType="DOUBLE" />
		<result property="heightIncrement" column="HEIGHTINCREMENT_"
			jdbcType="DOUBLE" />
		<result property="heightLevel" column="HEIGHTLEVEL_" jdbcType="INTEGER" />
		<result property="heightEvaluate" column="HEIGHTEVALUATE_"
			jdbcType="VARCHAR" />
		<result property="weight" column="WEIGHT_" jdbcType="DOUBLE" />
		<result property="weightIncrement" column="WEIGHTINCREMENT_"
			jdbcType="DOUBLE" />
		<result property="weightLevel" column="WEIGHTLEVEL_" jdbcType="INTEGER" />
		<result property="weightEvaluate" column="WEIGHTEVALUATE_"
			jdbcType="VARCHAR" />
		<result property="weightHeightPercent" column="WEIGHTHEIGHTPERCENT_"
			jdbcType="DOUBLE" />
		<result property="bmi" column="BMI_" jdbcType="DOUBLE" />
		<result property="bmiIndex" column="BMIINDEX_" jdbcType="DOUBLE" />
		<result property="bmiEvaluate" column="BMIEVALUATE_" jdbcType="VARCHAR" />
		<result property="obesityIndex" column="OBESITYINDEX_"
			jdbcType="DOUBLE" />
		<result property="allergy" column="ALLERGY_" jdbcType="VARCHAR" />
		<result property="eyeLeft" column="EYELEFT_" jdbcType="VARCHAR" />
		<result property="eyeLeftRemark" column="EYELEFTREMARK_"
			jdbcType="VARCHAR" />
		<result property="eyeRight" column="EYERIGHT_" jdbcType="VARCHAR" />
		<result property="eyeRightRemark" column="EYERIGHTREMARK_"
			jdbcType="VARCHAR" />
		<result property="eyesightLeft" column="EYESIGHTLEFT_"
			jdbcType="DOUBLE" />
		<result property="eyesightRight" column="EYESIGHTRIGHT_"
			jdbcType="DOUBLE" />
		<result property="earLeft" column="EARLEFT_" jdbcType="VARCHAR" />
		<result property="earLeftRemark" column="EARLEFTREMARK_"
			jdbcType="VARCHAR" />
		<result property="earRight" column="EARRIGHT_" jdbcType="VARCHAR" />
		<result property="earRightRemark" column="EARRIGHTREMARK_"
			jdbcType="VARCHAR" />
		<result property="tooth" column="TOOTH_" jdbcType="INTEGER" />
		<result property="saprodontia" column="SAPRODONTIA_" jdbcType="INTEGER" />
		<result property="head" column="HEAD_" jdbcType="VARCHAR" />
		<result property="headRemark" column="HEADREMARK_" jdbcType="VARCHAR" />
		<result property="thorax" column="THORAX_" jdbcType="VARCHAR" />
		<result property="thoraxRemark" column="THORAXREMARK_"
			jdbcType="VARCHAR" />
		<result property="spine" column="SPINE_" jdbcType="VARCHAR" />
		<result property="spineRemark" column="SPINEREMARK_" jdbcType="VARCHAR" />
		<result property="pharyngeal" column="PHARYNGEAL_" jdbcType="VARCHAR" />
		<result property="pharyngealRemark" column="PHARYNGEALREMARK_"
			jdbcType="VARCHAR" />
		<result property="cardiopulmonary" column="CARDIOPULMONARY_"
			jdbcType="VARCHAR" />
		<result property="cardiopulmonaryRemark" column="CARDIOPULMONARYREMARK_"
			jdbcType="VARCHAR" />
		<result property="hepatolienal" column="HEPATOLIENAL_"
			jdbcType="VARCHAR" />
		<result property="hepatolienalRemark" column="HEPATOLIENALREMARK_"
			jdbcType="VARCHAR" />
		<result property="pudendum" column="PUDENDUM_" jdbcType="VARCHAR" />
		<result property="pudendumRemark" column="PUDENDUMREMARK_"
			jdbcType="VARCHAR" />
		<result property="skin" column="SKIN_" jdbcType="VARCHAR" />
		<result property="skinRemark" column="SKINREMARK_" jdbcType="VARCHAR" />
		<result property="lymphoid" column="LYMPHOID_" jdbcType="VARCHAR" />
		<result property="lymphoidRemark" column="LYMPHOIDREMARK_"
			jdbcType="VARCHAR" />
		<result property="bregma" column="BREGMA_" jdbcType="VARCHAR" />
		<result property="bregmaRemark" column="BREGMAREMARK_"
			jdbcType="VARCHAR" />
		<result property="oralogy" column="ORALOGY_" jdbcType="VARCHAR" />
		<result property="oralogyRemark" column="ORALOGYREMARK_"
			jdbcType="VARCHAR" />
		<result property="tonsil" column="TONSIL_" jdbcType="VARCHAR" />
		<result property="tonsilRemark" column="TONSILREMARK_"
			jdbcType="VARCHAR" />
		<result property="bone" column="BONE_" jdbcType="VARCHAR" />
		<result property="boneRemark" column="BONEREMARK_" jdbcType="VARCHAR" />
		<result property="birthDefect" column="BIRTHDEFECT_" jdbcType="VARCHAR" />
		<result property="hemoglobin" column="HEMOGLOBIN_" jdbcType="VARCHAR" />
		<result property="hemoglobinValue" column="HEMOGLOBIN_VALUE_"
			jdbcType="DOUBLE" />
		<result property="alt" column="ALT_" jdbcType="VARCHAR" />
		<result property="altValue" column="ALT_VALUE_" jdbcType="DOUBLE" />
		<result property="hbsab" column="HBSAB_" jdbcType="VARCHAR" />
		<result property="hbsabValue" column="HBSAB_VALUE_" jdbcType="DOUBLE" />
		<result property="sgpt" column="SGPT_" jdbcType="VARCHAR" />
		<result property="hvaigm" column="HVAIGM_" jdbcType="VARCHAR" />
		<result property="lymphoid" column="LYMPHOID_" jdbcType="VARCHAR" />
		<result property="bregma" column="BREGMA_" jdbcType="VARCHAR" />
		<result property="oralogy" column="ORALOGY_" jdbcType="VARCHAR" />
		<result property="tonsil" column="TONSIL_" jdbcType="VARCHAR" />
		<result property="bone" column="BONE_" jdbcType="VARCHAR" />
		<result property="birthDefect" column="BIRTHDEFECT_" jdbcType="VARCHAR" />
		<result property="type" column="TYPE_" jdbcType="VARCHAR" />
		<result property="healthEvaluate" column="HEALTHEVALUATE_"
			jdbcType="VARCHAR" />
		<result property="checkDate" column="CHECKDATE_" jdbcType="TIMESTAMP" />
		<result property="checkDoctor" column="CHECKDOCTOR_" jdbcType="VARCHAR" />
		<result property="checkDoctorId" column="CHECKDOCTORID_"
			jdbcType="VARCHAR" />
		<result property="checkResult" column="CHECKRESULT_" jdbcType="VARCHAR" />
		<result property="checkOrganization" column="CHECKORGANIZATION_"
			jdbcType="VARCHAR" />
		<result property="checkOrganizationId" column="CHECKORGANIZATIONID_"
			jdbcType="BIGINT" />
		<result property="doctorSuggest" column="DOCTORSUGGEST_"
			jdbcType="VARCHAR" />
		<result property="year" column="YEAR_" jdbcType="INTEGER" />
		<result property="month" column="MONTH_" jdbcType="INTEGER" />
		<result property="ageOfTheMoon" column="AGEOFTHEMOON_"
			jdbcType="INTEGER" />
		<result property="remark" column="REMARK_" jdbcType="VARCHAR" />
		<result property="confirmBy" column="CONFIRMBY_" jdbcType="VARCHAR" />
		<result property="confirmTime" column="CONFIRMTIME_" jdbcType="TIMESTAMP" />
		<result property="createBy" column="CREATEBY_" jdbcType="VARCHAR" />
		<result property="createTime" column="CREATETIME_" jdbcType="TIMESTAMP" />
	</resultMap>


	<insert id="insertMedicalExamination" parameterType="com.glaf.heathcare.domain.MedicalExamination">
		insert into HEALTH_MEDICAL_EXAMINATION
		<trim prefix="(" suffix=")" suffixOverrides=",">
			ID_
			<if test="batchId != null">
				,BATCHID_
			</if>
			<if test="checkId != null">
				,CHECKID_
			</if>
			<if test="tenantId != null">
				,TENANTID_
			</if>
			<if test="gradeId != null">
				,GRADEID_
			</if>
			<if test="personId != null">
				,PERSONID_
			</if>
			<if test="name != null">
				,NAME_
			</if>
			<if test="sex != null">
				,SEX_
			</if>
			<if test="height != null">
				,HEIGHT_
			</if>
			<if test="heightIncrement != null">
				,HEIGHTINCREMENT_
			</if>
			<if test="heightLevel != null">
				,HEIGHTLEVEL_
			</if>
			<if test="heightEvaluate != null">
				,HEIGHTEVALUATE_
			</if>
			<if test="weight != null">
				,WEIGHT_
			</if>
			<if test="weightIncrement != null">
				,WEIGHTINCREMENT_
			</if>
			<if test="weightLevel != null">
				,WEIGHTLEVEL_
			</if>
			<if test="weightEvaluate != null">
				,WEIGHTEVALUATE_
			</if>
			<if test="weightHeightPercent != null">
				,WEIGHTHEIGHTPERCENT_
			</if>
			<if test="bmi != null">
				,BMI_
			</if>
			<if test="bmiIndex != null">
				,BMIINDEX_
			</if>
			<if test="bmiEvaluate != null">
				,BMIEVALUATE_
			</if>
			<if test="obesityIndex != null">
				,OBESITYINDEX_
			</if>
			<if test="allergy != null">
				,ALLERGY_
			</if>
			<if test="eyeLeft != null">
				,EYELEFT_
			</if>
			<if test="eyeRight != null">
				,EYERIGHT_
			</if>
			<if test="eyesightLeft != null">
				,EYESIGHTLEFT_
			</if>
			<if test="eyesightRight != null">
				,EYESIGHTRIGHT_
			</if>
			<if test="earLeft != null">
				,EARLEFT_
			</if>
			<if test="earRight != null">
				,EARRIGHT_
			</if>
			<if test="tooth != null">
				,TOOTH_
			</if>
			<if test="saprodontia != null">
				,SAPRODONTIA_
			</if>
			<if test="head != null">
				,HEAD_
			</if>
			<if test="thorax != null">
				,THORAX_
			</if>
			<if test="spine != null">
				,SPINE_
			</if>
			<if test="pharyngeal != null">
				,PHARYNGEAL_
			</if>
			<if test="cardiopulmonary != null">
				,CARDIOPULMONARY_
			</if>
			<if test="hepatolienal != null">
				,HEPATOLIENAL_
			</if>
			<if test="pudendum != null">
				,PUDENDUM_
			</if>
			<if test="skin != null">
				,SKIN_
			</if>
			<if test="hemoglobin != null">
				,HEMOGLOBIN_
			</if>
			<if test="alt != null">
				,ALT_
			</if>
			<if test="hbsab != null">
				,HBSAB_
			</if>
			<if test="sgpt != null">
				,SGPT_
			</if>
			<if test="hvaigm != null">
				,HVAIGM_
			</if>
			<if test="lymphoid != null">
				,LYMPHOID_
			</if>
			<if test="bregma != null">
				,BREGMA_
			</if>
			<if test="oralogy != null">
				,ORALOGY_
			</if>
			<if test="tonsil != null">
				,TONSIL_
			</if>
			<if test="bone != null">
				,BONE_
			</if>
			<if test="birthDefect != null">
				,BIRTHDEFECT_
			</if>
			<if test="type != null">
				,TYPE_
			</if>
			<if test="healthEvaluate != null">
				,HEALTHEVALUATE_
			</if>
			<if test="checkDate != null">
				,CHECKDATE_
			</if>
			<if test="checkDoctor != null">
				,CHECKDOCTOR_
			</if>
			<if test="checkDoctorId != null">
				,CHECKDOCTORID_
			</if>
			<if test="checkResult != null">
				,CHECKRESULT_
			</if>
			<if test="checkOrganization != null">
				,CHECKORGANIZATION_
			</if>
			<if test="checkOrganizationId != null">
				,CHECKORGANIZATIONID_
			</if>
			<if test="doctorSuggest != null">
				,DOCTORSUGGEST_
			</if>
			<if test="year != null">
				,YEAR_
			</if>
			<if test="month != null">
				,MONTH_
			</if>
			<if test="ageOfTheMoon != null">
				,AGEOFTHEMOON_
			</if>
			<if test="remark != null">
				,REMARK_
			</if>
			<if test="confirmBy != null">
				,CONFIRMBY_
			</if>
			<if test="confirmTime != null">
				,CONFIRMTIME_
			</if>
			<if test="createBy != null">
				,CREATEBY_
			</if>
			<if test="createTime != null">
				,CREATETIME_
			</if>
		</trim>

		<trim prefix=" values (" suffix=")" suffixOverrides=",">
			#{id, jdbcType=BIGINT}

			<if test="batchId != null">
				,#{batchId, jdbcType=BIGINT}
			</if>
			<if test="checkId != null">
				,#{checkId, jdbcType=VARCHAR}
			</if>
			<if test="tenantId != null">
				,#{tenantId, jdbcType=VARCHAR}
			</if>
			<if test="gradeId != null">
				,#{gradeId, jdbcType=VARCHAR}
			</if>
			<if test="personId != null">
				,#{personId, jdbcType=VARCHAR}
			</if>
			<if test="name != null">
				,#{name, jdbcType=VARCHAR}
			</if>
			<if test="sex != null">
				,#{sex, jdbcType=VARCHAR}
			</if>
			<if test="height != null">
				,#{height, jdbcType=DOUBLE}
			</if>
			<if test="heightIncrement != null">
				,#{heightIncrement, jdbcType=DOUBLE}
			</if>
			<if test="heightLevel != null">
				,#{heightLevel, jdbcType=INTEGER}
			</if>
			<if test="heightEvaluate != null">
				,#{heightEvaluate, jdbcType=VARCHAR}
			</if>
			<if test="weight != null">
				,#{weight, jdbcType=DOUBLE}
			</if>
			<if test="weightIncrement != null">
				,#{weightIncrement, jdbcType=DOUBLE}
			</if>
			<if test="weightLevel != null">
				,#{weightLevel, jdbcType=INTEGER}
			</if>
			<if test="weightEvaluate != null">
				,#{weightEvaluate, jdbcType=VARCHAR}
			</if>
			<if test="weightHeightPercent != null">
				,#{weightHeightPercent, jdbcType=DOUBLE}
			</if>
			<if test="bmi != null">
				,#{bmi, jdbcType=DOUBLE}
			</if>
			<if test="bmiIndex != null">
				,#{bmiIndex, jdbcType=DOUBLE}
			</if>
			<if test="bmiEvaluate != null">
				,#{bmiEvaluate, jdbcType=VARCHAR}
			</if>
			<if test="obesityIndex != null">
				,#{obesityIndex, jdbcType=DOUBLE}
			</if>
			<if test="allergy != null">
				,#{allergy, jdbcType=VARCHAR}
			</if>
			<if test="eyeLeft != null">
				,#{eyeLeft, jdbcType=VARCHAR}
			</if>
			<if test="eyeRight != null">
				,#{eyeRight, jdbcType=VARCHAR}
			</if>
			<if test="eyesightLeft != null">
				,#{eyesightLeft, jdbcType=DOUBLE}
			</if>
			<if test="eyesightRight != null">
				,#{eyesightRight, jdbcType=DOUBLE}
			</if>
			<if test="earLeft != null">
				,#{earLeft, jdbcType=VARCHAR}
			</if>
			<if test="earRight != null">
				,#{earRight, jdbcType=VARCHAR}
			</if>
			<if test="tooth != null">
				,#{tooth, jdbcType=INTEGER}
			</if>
			<if test="saprodontia != null">
				,#{saprodontia, jdbcType=INTEGER}
			</if>
			<if test="head != null">
				,#{head, jdbcType=VARCHAR}
			</if>
			<if test="thorax != null">
				,#{thorax, jdbcType=VARCHAR}
			</if>
			<if test="spine != null">
				,#{spine, jdbcType=VARCHAR}
			</if>
			<if test="pharyngeal != null">
				,#{pharyngeal, jdbcType=VARCHAR}
			</if>
			<if test="cardiopulmonary != null">
				,#{cardiopulmonary, jdbcType=VARCHAR}
			</if>
			<if test="hepatolienal != null">
				,#{hepatolienal, jdbcType=VARCHAR}
			</if>
			<if test="pudendum != null">
				,#{pudendum, jdbcType=VARCHAR}
			</if>
			<if test="skin != null">
				,#{skin, jdbcType=VARCHAR}
			</if>
			<if test="hemoglobin != null">
				,#{hemoglobin, jdbcType=VARCHAR}
			</if>
			<if test="alt != null">
				,#{alt, jdbcType=VARCHAR}
			</if>
			<if test="hbsab != null">
				,#{hbsab, jdbcType=VARCHAR}
			</if>
			<if test="sgpt != null">
				,#{sgpt, jdbcType=VARCHAR}
			</if>
			<if test="hvaigm != null">
				,#{hvaigm, jdbcType=VARCHAR}
			</if>
			<if test="lymphoid != null">
				,#{lymphoid, jdbcType=VARCHAR}
			</if>
			<if test="bregma != null">
				,#{bregma, jdbcType=VARCHAR}
			</if>
			<if test="oralogy != null">
				,#{oralogy, jdbcType=VARCHAR}
			</if>
			<if test="tonsil != null">
				,#{tonsil, jdbcType=VARCHAR}
			</if>
			<if test="bone != null">
				,#{bone, jdbcType=VARCHAR}
			</if>
			<if test="birthDefect != null">
				,#{birthDefect, jdbcType=VARCHAR}
			</if>
			<if test="type != null">
				,#{type, jdbcType=VARCHAR}
			</if>
			<if test="healthEvaluate != null">
				,#{healthEvaluate, jdbcType=VARCHAR}
			</if>
			<if test="checkDate != null">
				,#{checkDate, jdbcType=TIMESTAMP}
			</if>
			<if test="checkDoctor != null">
				,#{checkDoctor, jdbcType=VARCHAR}
			</if>
			<if test="checkDoctorId != null">
				,#{checkDoctorId, jdbcType=VARCHAR}
			</if>
			<if test="checkResult != null">
				,#{checkResult, jdbcType=VARCHAR}
			</if>
			<if test="checkOrganization != null">
				,#{checkOrganization, jdbcType=VARCHAR}
			</if>
			<if test="checkOrganizationId != null">
				,#{checkOrganizationId, jdbcType=BIGINT}
			</if>
			<if test="doctorSuggest != null">
				,#{doctorSuggest, jdbcType=VARCHAR}
			</if>
			<if test="year != null">
				,#{year, jdbcType=INTEGER}
			</if>
			<if test="month != null">
				,#{month, jdbcType=INTEGER}
			</if>
			<if test="ageOfTheMoon != null">
				,#{ageOfTheMoon, jdbcType=INTEGER}
			</if>
			<if test="remark != null">
				,#{remark, jdbcType=VARCHAR}
			</if>
			<if test="confirmBy != null">
				,#{confirmBy, jdbcType=VARCHAR}
			</if>
			<if test="confirmTime != null">
				,#{confirmTime, jdbcType=TIMESTAMP}
			</if>
			<if test="createBy != null">
				,#{createBy, jdbcType=VARCHAR}
			</if>
			<if test="createTime != null">
				,#{createTime, jdbcType=TIMESTAMP}
			</if>
		</trim>
	</insert>


	<insert id="bulkInsertMedicalExamination" parameterType="java.util.List">
		insert into HEALTH_MEDICAL_EXAMINATION (
		ID_
		,BATCHID_
		,CHECKID_
		,TENANTID_
		,GRADEID_
		,PERSONID_
		,NAME_
		,SEX_
		,HEIGHT_
		,HEIGHTINCREMENT_
		,HEIGHTLEVEL_
		,HEIGHTEVALUATE_
		,WEIGHT_
		,WEIGHTINCREMENT_
		,WEIGHTLEVEL_
		,WEIGHTEVALUATE_
		,WEIGHTHEIGHTPERCENT_
		,BMI_
		,BMIINDEX_
		,BMIEVALUATE_
		,OBESITYINDEX_
		,ALLERGY_
		,EYELEFT_
		,EYELEFTREMARK_
		,EYERIGHT_
		,EYERIGHTREMARK_
		,EYESIGHTLEFT_
		,EYESIGHTRIGHT_
		,EARLEFT_
		,EARLEFTREMARK_
		,EARRIGHT_
		,EARRIGHTREMARK_
		,TOOTH_
		,SAPRODONTIA_
		,HEAD_
		,HEADREMARK_
		,THORAX_
		,THORAXREMARK_
		,SPINE_
		,SPINEREMARK_
		,PHARYNGEAL_
		,PHARYNGEALREMARK_
		,CARDIOPULMONARY_
		,CARDIOPULMONARYREMARK_
		,HEPATOLIENAL_
		,HEPATOLIENALREMARK_
		,PUDENDUM_
		,PUDENDUMREMARK_
		,SKIN_
		,SKINREMARK_
		,LYMPHOID_
		,LYMPHOIDREMARK_
		,BREGMA_
		,BREGMAREMARK_
		,ORALOGY_
		,ORALOGYREMARK_
		,TONSIL_
		,TONSILREMARK_
		,BONE_
		,BONEREMARK_
		,BIRTHDEFECT_
		,HEMOGLOBIN_
		,HEMOGLOBIN_VALUE_
		,ALT_
		,ALT_VALUE_
		,HBSAB_
		,HBSAB_VALUE_
		,SGPT_
		,HVAIGM_
		,TYPE_
		,CHECKDATE_
		,CHECKDOCTOR_
		,CHECKDOCTORID_
		,CHECKRESULT_
		,CHECKORGANIZATION_
		,CHECKORGANIZATIONID_
		,DOCTORSUGGEST_
		,HEALTHEVALUATE_
		,YEAR_
		,MONTH_
		,AGEOFTHEMOON_
		,REMARK_
		,CONFIRMBY_
		,CONFIRMTIME_
		,CREATEBY_
		,CREATETIME_
		) values
		<foreach collection="list" item="medicalExamination" index="index"
			separator=",">
			(
			#{medicalExamination.id, jdbcType=BIGINT}
			,#{medicalExamination.batchId, jdbcType=BIGINT}
			,#{medicalExamination.checkId, jdbcType=VARCHAR}
			,#{medicalExamination.tenantId, jdbcType=VARCHAR}
			,#{medicalExamination.gradeId, jdbcType=VARCHAR}
			,#{medicalExamination.personId, jdbcType=VARCHAR}
			,#{medicalExamination.name, jdbcType=VARCHAR}
			,#{medicalExamination.sex, jdbcType=VARCHAR}
			,#{medicalExamination.height, jdbcType=DOUBLE}
			,#{medicalExamination.heightIncrement, jdbcType=DOUBLE}
			,#{medicalExamination.heightLevel, jdbcType=INTEGER}
			,#{medicalExamination.heightEvaluate, jdbcType=VARCHAR}
			,#{medicalExamination.weight, jdbcType=DOUBLE}
			,#{medicalExamination.weightIncrement, jdbcType=DOUBLE}
			,#{medicalExamination.weightLevel, jdbcType=INTEGER}
			,#{medicalExamination.weightEvaluate, jdbcType=VARCHAR}
			,#{medicalExamination.weightHeightPercent, jdbcType=DOUBLE}
			,#{medicalExamination.bmi, jdbcType=DOUBLE}
			,#{medicalExamination.bmiIndex, jdbcType=DOUBLE}
			,#{medicalExamination.bmiEvaluate, jdbcType=VARCHAR}
			,#{medicalExamination.obesityIndex, jdbcType=DOUBLE}
			,#{medicalExamination.allergy, jdbcType=VARCHAR}
			,#{medicalExamination.eyeLeft, jdbcType=VARCHAR}
			,#{medicalExamination.eyeLeftRemark, jdbcType=VARCHAR}
			,#{medicalExamination.eyeRight, jdbcType=VARCHAR}
			,#{medicalExamination.eyeRightRemark, jdbcType=VARCHAR}
			,#{medicalExamination.eyesightLeft, jdbcType=DOUBLE}
			,#{medicalExamination.eyesightRight, jdbcType=DOUBLE}
			,#{medicalExamination.earLeft, jdbcType=VARCHAR}
			,#{medicalExamination.earLeftRemark, jdbcType=VARCHAR}
			,#{medicalExamination.earRight, jdbcType=VARCHAR}
			,#{medicalExamination.earRightRemark, jdbcType=VARCHAR}
			,#{medicalExamination.tooth, jdbcType=INTEGER}
			,#{medicalExamination.saprodontia, jdbcType=INTEGER}
			,#{medicalExamination.head, jdbcType=VARCHAR}
			,#{medicalExamination.headRemark, jdbcType=VARCHAR}
			,#{medicalExamination.thorax, jdbcType=VARCHAR}
			,#{medicalExamination.thoraxRemark, jdbcType=VARCHAR}
			,#{medicalExamination.spine, jdbcType=VARCHAR}
			,#{medicalExamination.spineRemark, jdbcType=VARCHAR}
			,#{medicalExamination.pharyngeal, jdbcType=VARCHAR}
			,#{medicalExamination.pharyngealRemark, jdbcType=VARCHAR}
			,#{medicalExamination.cardiopulmonary, jdbcType=VARCHAR}
			,#{medicalExamination.cardiopulmonaryRemark, jdbcType=VARCHAR}
			,#{medicalExamination.hepatolienal, jdbcType=VARCHAR}
			,#{medicalExamination.hepatolienalRemark, jdbcType=VARCHAR}
			,#{medicalExamination.pudendum, jdbcType=VARCHAR}
			,#{medicalExamination.pudendumRemark, jdbcType=VARCHAR}
			,#{medicalExamination.skin, jdbcType=VARCHAR}
			,#{medicalExamination.skinRemark, jdbcType=VARCHAR}
			,#{medicalExamination.lymphoid, jdbcType=VARCHAR}
			,#{medicalExamination.lymphoidRemark, jdbcType=VARCHAR}
			,#{medicalExamination.bregma, jdbcType=VARCHAR}
			,#{medicalExamination.bregmaRemark, jdbcType=VARCHAR}
			,#{medicalExamination.oralogy, jdbcType=VARCHAR}
			,#{medicalExamination.oralogyRemark, jdbcType=VARCHAR}
			,#{medicalExamination.tonsil, jdbcType=VARCHAR}
			,#{medicalExamination.tonsilRemark, jdbcType=VARCHAR}
			,#{medicalExamination.bone, jdbcType=VARCHAR}
			,#{medicalExamination.boneRemark, jdbcType=VARCHAR}
			,#{medicalExamination.birthDefect, jdbcType=VARCHAR}
			,#{medicalExamination.hemoglobin, jdbcType=VARCHAR}
			,#{medicalExamination.hemoglobinValue, jdbcType=DOUBLE}
			,#{medicalExamination.alt, jdbcType=VARCHAR}
			,#{medicalExamination.altValue, jdbcType=DOUBLE}
			,#{medicalExamination.hbsab, jdbcType=VARCHAR}
			,#{medicalExamination.hbsabValue, jdbcType=DOUBLE}
			,#{medicalExamination.sgpt, jdbcType=VARCHAR}
			,#{medicalExamination.hvaigm, jdbcType=VARCHAR}
			,#{medicalExamination.type, jdbcType=VARCHAR}
			,#{medicalExamination.checkDate, jdbcType=TIMESTAMP}
			,#{medicalExamination.checkDoctor, jdbcType=VARCHAR}
			,#{medicalExamination.checkDoctorId, jdbcType=VARCHAR}
			,#{medicalExamination.checkResult, jdbcType=VARCHAR}
			,#{medicalExamination.checkOrganization, jdbcType=VARCHAR}
			,#{medicalExamination.checkOrganizationId, jdbcType=BIGINT}
			,#{medicalExamination.doctorSuggest, jdbcType=VARCHAR}
			,#{medicalExamination.healthEvaluate, jdbcType=VARCHAR}
			,#{medicalExamination.year, jdbcType=INTEGER}
			,#{medicalExamination.month, jdbcType=INTEGER}
			,#{medicalExamination.ageOfTheMoon, jdbcType=INTEGER}
			,#{medicalExamination.remark, jdbcType=VARCHAR}
			,#{medicalExamination.confirmBy, jdbcType=VARCHAR}
			,#{medicalExamination.confirmTime, jdbcType=TIMESTAMP}
			,#{medicalExamination.createBy, jdbcType=VARCHAR}
			,#{medicalExamination.createTime, jdbcType=TIMESTAMP}
			)
		</foreach>
	</insert>


	<insert id="bulkInsertMedicalExamination_oracle" parameterType="java.util.List">
		INSERT ALL
		<foreach collection="list" item="medicalExamination" index="index">
			insert into HEALTH_MEDICAL_EXAMINATION (
			ID_
			,BATCHID_
			,CHECKID_
			,TENANTID_
			,GRADEID_
			,PERSONID_
			,NAME_
			,SEX_
			,HEIGHT_
			,HEIGHTINCREMENT_
			,HEIGHTLEVEL_
			,HEIGHTEVALUATE_
			,WEIGHT_
			,WEIGHTINCREMENT_
			,WEIGHTLEVEL_
			,WEIGHTEVALUATE_
			,WEIGHTHEIGHTPERCENT_
			,BMI_
			,BMIINDEX_
			,BMIEVALUATE_
			,OBESITYINDEX_
			,ALLERGY_
			,EYELEFT_
			,EYELEFTREMARK_
			,EYERIGHT_
			,EYERIGHTREMARK_
			,EYESIGHTLEFT_
			,EYESIGHTRIGHT_
			,EARLEFT_
			,EARLEFTREMARK_
			,EARRIGHT_
			,EARRIGHTREMARK_
			,TOOTH_
			,SAPRODONTIA_
			,HEAD_
			,HEADREMARK_
			,THORAX_
			,THORAXREMARK_
			,SPINE_
			,SPINEREMARK_
			,PHARYNGEAL_
			,PHARYNGEALREMARK_
			,CARDIOPULMONARY_
			,CARDIOPULMONARYREMARK_
			,HEPATOLIENAL_
			,HEPATOLIENALREMARK_
			,PUDENDUM_
			,PUDENDUMREMARK_
			,SKIN_
			,SKINREMARK_
			,LYMPHOID_
			,LYMPHOIDREMARK_
			,BREGMA_
			,BREGMAREMARK_
			,ORALOGY_
			,ORALOGYREMARK_
			,TONSIL_
			,TONSILREMARK_
			,BONE_
			,BONEREMARK_
			,BIRTHDEFECT_
			,HEMOGLOBIN_
			,HEMOGLOBIN_VALUE_
			,ALT_
			,ALT_VALUE_
			,HBSAB_
			,HBSAB_VALUE_
			,SGPT_
			,HVAIGM_
			,TYPE_
			,CHECKDATE_
			,CHECKDOCTOR_
			,CHECKDOCTORID_
			,CHECKRESULT_
			,CHECKORGANIZATION_
			,CHECKORGANIZATIONID_
			,DOCTORSUGGEST_
			,HEALTHEVALUATE_
			,YEAR_
			,MONTH_
			,AGEOFTHEMOON_
			,REMARK_
			,CONFIRMBY_
			,CONFIRMTIME_
			,CREATEBY_
			,CREATETIME_
			) values (
			#{medicalExamination.id, jdbcType=BIGINT}
			,#{medicalExamination.batchId, jdbcType=BIGINT}
			,#{medicalExamination.checkId, jdbcType=VARCHAR}
			,#{medicalExamination.tenantId, jdbcType=VARCHAR}
			,#{medicalExamination.gradeId, jdbcType=VARCHAR}
			,#{medicalExamination.personId, jdbcType=VARCHAR}
			,#{medicalExamination.name, jdbcType=VARCHAR}
			,#{medicalExamination.sex, jdbcType=VARCHAR}
			,#{medicalExamination.height, jdbcType=DOUBLE}
			,#{medicalExamination.heightIncrement, jdbcType=DOUBLE}
			,#{medicalExamination.heightLevel, jdbcType=INTEGER}
			,#{medicalExamination.heightEvaluate, jdbcType=VARCHAR}
			,#{medicalExamination.weight, jdbcType=DOUBLE}
			,#{medicalExamination.weightIncrement, jdbcType=DOUBLE}
			,#{medicalExamination.weightLevel, jdbcType=INTEGER}
			,#{medicalExamination.weightEvaluate, jdbcType=VARCHAR}
			,#{medicalExamination.weightHeightPercent, jdbcType=DOUBLE}
			,#{medicalExamination.bmi, jdbcType=DOUBLE}
			,#{medicalExamination.bmiIndex, jdbcType=DOUBLE}
			,#{medicalExamination.bmiEvaluate, jdbcType=VARCHAR}
			,#{medicalExamination.obesityIndex, jdbcType=DOUBLE}
			,#{medicalExamination.allergy, jdbcType=VARCHAR}
			,#{medicalExamination.eyeLeft, jdbcType=VARCHAR}
			,#{medicalExamination.eyeLeftRemark, jdbcType=VARCHAR}
			,#{medicalExamination.eyeRight, jdbcType=VARCHAR}
			,#{medicalExamination.eyeRightRemark, jdbcType=VARCHAR}
			,#{medicalExamination.eyesightLeft, jdbcType=DOUBLE}
			,#{medicalExamination.eyesightRight, jdbcType=DOUBLE}
			,#{medicalExamination.earLeft, jdbcType=VARCHAR}
			,#{medicalExamination.earLeftRemark, jdbcType=VARCHAR}
			,#{medicalExamination.earRight, jdbcType=VARCHAR}
			,#{medicalExamination.earRightRemark, jdbcType=VARCHAR}
			,#{medicalExamination.tooth, jdbcType=INTEGER}
			,#{medicalExamination.saprodontia, jdbcType=INTEGER}
			,#{medicalExamination.head, jdbcType=VARCHAR}
			,#{medicalExamination.headRemark, jdbcType=VARCHAR}
			,#{medicalExamination.thorax, jdbcType=VARCHAR}
			,#{medicalExamination.thoraxRemark, jdbcType=VARCHAR}
			,#{medicalExamination.spine, jdbcType=VARCHAR}
			,#{medicalExamination.spineRemark, jdbcType=VARCHAR}
			,#{medicalExamination.pharyngeal, jdbcType=VARCHAR}
			,#{medicalExamination.pharyngealRemark, jdbcType=VARCHAR}
			,#{medicalExamination.cardiopulmonary, jdbcType=VARCHAR}
			,#{medicalExamination.cardiopulmonaryRemark, jdbcType=VARCHAR}
			,#{medicalExamination.hepatolienal, jdbcType=VARCHAR}
			,#{medicalExamination.hepatolienalRemark, jdbcType=VARCHAR}
			,#{medicalExamination.pudendum, jdbcType=VARCHAR}
			,#{medicalExamination.pudendumRemark, jdbcType=VARCHAR}
			,#{medicalExamination.skin, jdbcType=VARCHAR}
			,#{medicalExamination.skinRemark, jdbcType=VARCHAR}
			,#{medicalExamination.lymphoid, jdbcType=VARCHAR}
			,#{medicalExamination.lymphoidRemark, jdbcType=VARCHAR}
			,#{medicalExamination.bregma, jdbcType=VARCHAR}
			,#{medicalExamination.bregmaRemark, jdbcType=VARCHAR}
			,#{medicalExamination.oralogy, jdbcType=VARCHAR}
			,#{medicalExamination.oralogyRemark, jdbcType=VARCHAR}
			,#{medicalExamination.tonsil, jdbcType=VARCHAR}
			,#{medicalExamination.tonsilRemark, jdbcType=VARCHAR}
			,#{medicalExamination.bone, jdbcType=VARCHAR}
			,#{medicalExamination.boneRemark, jdbcType=VARCHAR}
			,#{medicalExamination.birthDefect, jdbcType=VARCHAR}
			,#{medicalExamination.hemoglobin, jdbcType=VARCHAR}
			,#{medicalExamination.hemoglobinValue, jdbcType=DOUBLE}
			,#{medicalExamination.alt, jdbcType=VARCHAR}
			,#{medicalExamination.altValue, jdbcType=DOUBLE}
			,#{medicalExamination.hbsab, jdbcType=VARCHAR}
			,#{medicalExamination.hbsabValue, jdbcType=DOUBLE}
			,#{medicalExamination.sgpt, jdbcType=VARCHAR}
			,#{medicalExamination.hvaigm, jdbcType=VARCHAR}
			,#{medicalExamination.type, jdbcType=VARCHAR}
			,#{medicalExamination.checkDate, jdbcType=TIMESTAMP}
			,#{medicalExamination.checkDoctor, jdbcType=VARCHAR}
			,#{medicalExamination.checkDoctorId, jdbcType=VARCHAR}
			,#{medicalExamination.checkResult, jdbcType=VARCHAR}
			,#{medicalExamination.checkOrganization, jdbcType=VARCHAR}
			,#{medicalExamination.checkOrganizationId, jdbcType=BIGINT}
			,#{medicalExamination.doctorSuggest, jdbcType=VARCHAR}
			,#{medicalExamination.healthEvaluate, jdbcType=VARCHAR}
			,#{medicalExamination.year, jdbcType=INTEGER}
			,#{medicalExamination.month, jdbcType=INTEGER}
			,#{medicalExamination.ageOfTheMoon, jdbcType=INTEGER}
			,#{medicalExamination.remark, jdbcType=VARCHAR}
			,#{medicalExamination.confirmBy, jdbcType=VARCHAR}
			,#{medicalExamination.confirmTime, jdbcType=TIMESTAMP}
			,#{medicalExamination.createBy, jdbcType=VARCHAR}
			,#{medicalExamination.createTime, jdbcType=TIMESTAMP}
			)
		</foreach>
		SELECT * FROM dual
	</insert>


	<update id="updateMedicalExamination" parameterType="com.glaf.heathcare.domain.MedicalExamination">
		update HEALTH_MEDICAL_EXAMINATION
		set
		<trim prefix="" suffix="" suffixOverrides=",">
			<if test="height != null">
				HEIGHT_ = #{height, jdbcType=DOUBLE},
			</if>
			<if test="heightIncrement != null">
				HEIGHTINCREMENT_ = #{heightIncrement, jdbcType=DOUBLE},
			</if>
			<if test="heightLevel != null">
				HEIGHTLEVEL_ = #{heightLevel, jdbcType=INTEGER},
			</if>
			<if test="heightEvaluate != null">
				HEIGHTEVALUATE_ = #{heightEvaluate, jdbcType=VARCHAR},
			</if>
			<if test="weight != null">
				WEIGHT_ = #{weight, jdbcType=DOUBLE},
			</if>
			<if test="weightIncrement != null">
				WEIGHTINCREMENT_ = #{weightIncrement, jdbcType=DOUBLE},
			</if>
			<if test="weightLevel != null">
				WEIGHTLEVEL_ = #{weightLevel, jdbcType=INTEGER},
			</if>
			<if test="weightEvaluate != null">
				WEIGHTEVALUATE_ = #{weightEvaluate, jdbcType=VARCHAR},
			</if>
			<if test="weightHeightPercent != null">
				WEIGHTHEIGHTPERCENT_ = #{weightHeightPercent,
				jdbcType=DOUBLE},
			</if>
			<if test="bmi != null">
				BMI_ = #{bmi, jdbcType=DOUBLE},
			</if>
			<if test="bmiIndex != null">
				BMIINDEX_ = #{bmiIndex, jdbcType=DOUBLE},
			</if>
			<if test="bmiEvaluate != null">
				BMIEVALUATE_ = #{bmiEvaluate, jdbcType=VARCHAR},
			</if>
			<if test="obesityIndex != null">
				OBESITYINDEX_ = #{obesityIndex, jdbcType=DOUBLE},
			</if>
			<if test="allergy != null">
				ALLERGY_ = #{allergy, jdbcType=VARCHAR},
			</if>
			<if test="eyeLeft != null">
				EYELEFT_ = #{eyeLeft, jdbcType=VARCHAR},
			</if>
			<if test="eyeLeftRemark != null">
				EYELEFTREMARK_ = #{eyeLeftRemark, jdbcType=VARCHAR},
			</if>
			<if test="eyeRight != null">
				EYERIGHT_ = #{eyeRight, jdbcType=VARCHAR},
			</if>
			<if test="eyeRightRemark != null">
				EYERIGHTREMARK_ = #{eyeRightRemark, jdbcType=VARCHAR},
			</if>
			<if test="eyesightLeft != null">
				EYESIGHTLEFT_ = #{eyesightLeft, jdbcType=DOUBLE},
			</if>
			<if test="eyesightRight != null">
				EYESIGHTRIGHT_ = #{eyesightRight, jdbcType=DOUBLE},
			</if>
			<if test="earLeft != null">
				EARLEFT_ = #{earLeft, jdbcType=VARCHAR},
			</if>
			<if test="earLeftRemark != null">
				EARLEFTREMARK_ = #{earLeftRemark, jdbcType=VARCHAR},
			</if>
			<if test="earRight != null">
				EARRIGHT_ = #{earRight, jdbcType=VARCHAR},
			</if>
			<if test="earRightRemark != null">
				EARRIGHTREMARK_ = #{earRightRemark, jdbcType=VARCHAR},
			</if>
			<if test="tooth != null">
				TOOTH_ = #{tooth, jdbcType=INTEGER},
			</if>
			<if test="saprodontia != null">
				SAPRODONTIA_ = #{saprodontia, jdbcType=INTEGER},
			</if>
			<if test="head != null">
				HEAD_ = #{head, jdbcType=VARCHAR},
			</if>
			<if test="headRemark != null">
				HEADREMARK_ = #{headRemark, jdbcType=VARCHAR},
			</if>
			<if test="thorax != null">
				THORAX_ = #{thorax, jdbcType=VARCHAR},
			</if>
			<if test="thoraxRemark != null">
				THORAXREMARK_ = #{thoraxRemark, jdbcType=VARCHAR},
			</if>
			<if test="spine != null">
				SPINE_ = #{spine, jdbcType=VARCHAR},
			</if>
			<if test="spineRemark != null">
				SPINEREMARK_ = #{spineRemark, jdbcType=VARCHAR},
			</if>
			<if test="pharyngeal != null">
				PHARYNGEAL_ = #{pharyngeal, jdbcType=VARCHAR},
			</if>
			<if test="pharyngealRemark != null">
				PHARYNGEALREMARK_ = #{pharyngealRemark,
				jdbcType=VARCHAR},
			</if>
			<if test="cardiopulmonary != null">
				CARDIOPULMONARY_ = #{cardiopulmonary, jdbcType=VARCHAR},
			</if>
			<if test="cardiopulmonaryRemark != null">
				CARDIOPULMONARYREMARK_ = #{cardiopulmonaryRemark,
				jdbcType=VARCHAR},
			</if>
			<if test="hepatolienal != null">
				HEPATOLIENAL_ = #{hepatolienal, jdbcType=VARCHAR},
			</if>
			<if test="hepatolienalRemark != null">
				HEPATOLIENALREMARK_ = #{hepatolienalRemark,
				jdbcType=VARCHAR},
			</if>
			<if test="pudendum != null">
				PUDENDUM_ = #{pudendum, jdbcType=VARCHAR},
			</if>
			<if test="pudendumRemark != null">
				PUDENDUMREMARK_ = #{pudendumRemark, jdbcType=VARCHAR},
			</if>
			<if test="skin != null">
				SKIN_ = #{skin, jdbcType=VARCHAR},
			</if>
			<if test="skinRemark != null">
				SKINREMARK_ = #{skinRemark, jdbcType=VARCHAR},
			</if>
			<if test="lymphoid != null">
				LYMPHOID_ = #{lymphoid, jdbcType=VARCHAR},
			</if>
			<if test="lymphoidRemark != null">
				LYMPHOIDREMARK_ = #{lymphoidRemark, jdbcType=VARCHAR},
			</if>
			<if test="bregma != null">
				BREGMA_ = #{bregma, jdbcType=VARCHAR},
			</if>
			<if test="bregmaRemark != null">
				BREGMAREMARK_ = #{bregmaRemark, jdbcType=VARCHAR},
			</if>
			<if test="oralogy != null">
				ORALOGY_ = #{oralogy, jdbcType=VARCHAR},
			</if>
			<if test="oralogyRemark != null">
				ORALOGYREMARK_ = #{oralogyRemark, jdbcType=VARCHAR},
			</if>
			<if test="tonsil != null">
				TONSIL_ = #{tonsil, jdbcType=VARCHAR},
			</if>
			<if test="tonsilRemark != null">
				TONSILREMARK_ = #{tonsilRemark, jdbcType=VARCHAR},
			</if>
			<if test="bone != null">
				BONE_ = #{bone, jdbcType=VARCHAR},
			</if>
			<if test="boneRemark != null">
				BONEREMARK_ = #{boneRemark, jdbcType=VARCHAR},
			</if>
			<if test="birthDefect != null">
				BIRTHDEFECT_ = #{birthDefect, jdbcType=VARCHAR},
			</if>
			<if test="hemoglobin != null">
				HEMOGLOBIN_ = #{hemoglobin, jdbcType=VARCHAR},
			</if>
			<if test="hemoglobinValue != null">
				HEMOGLOBIN_VALUE_ = #{hemoglobinValue, jdbcType=DOUBLE},
			</if>
			<if test="alt != null">
				ALT_ = #{alt, jdbcType=VARCHAR},
			</if>
			<if test="altValue != null">
				ALT_VALUE_ = #{altValue, jdbcType=DOUBLE},
			</if>
			<if test="hbsab != null">
				HBSAB_ = #{hbsab, jdbcType=VARCHAR},
			</if>
			<if test="hbsabValue != null">
				HBSAB_VALUE_ = #{hbsabValue, jdbcType=DOUBLE},
			</if>
			<if test="sgpt != null">
				SGPT_ = #{sgpt, jdbcType=VARCHAR},
			</if>
			<if test="hvaigm != null">
				HVAIGM_ = #{hvaigm, jdbcType=VARCHAR},
			</if>
			<if test="lymphoid != null">
				LYMPHOID_ = #{lymphoid, jdbcType=VARCHAR},
			</if>
			<if test="bregma != null">
				BREGMA_ = #{bregma, jdbcType=VARCHAR},
			</if>
			<if test="oralogy != null">
				ORALOGY_ = #{oralogy, jdbcType=VARCHAR},
			</if>
			<if test="tonsil != null">
				TONSIL_ = #{tonsil, jdbcType=VARCHAR},
			</if>
			<if test="bone != null">
				BONE_ = #{bone, jdbcType=VARCHAR},
			</if>
			<if test="birthDefect != null">
				BIRTHDEFECT_ = #{birthDefect, jdbcType=VARCHAR},
			</if>
			<if test="healthEvaluate != null">
				HEALTHEVALUATE_ = #{healthEvaluate, jdbcType=VARCHAR},
			</if>
			<if test="checkDate != null">
				CHECKDATE_ = #{checkDate, jdbcType=TIMESTAMP},
			</if>
			<if test="checkDoctor != null">
				CHECKDOCTOR_ = #{checkDoctor, jdbcType=VARCHAR},
			</if>
			<if test="checkDoctorId != null">
				CHECKDOCTORID_ = #{checkDoctorId, jdbcType=VARCHAR},
			</if>
			<if test="checkResult != null">
				CHECKRESULT_ = #{checkResult, jdbcType=VARCHAR},
			</if>
			<if test="checkOrganization != null">
				CHECKORGANIZATION_ = #{checkOrganization,
				jdbcType=VARCHAR},
			</if>
			<if test="checkOrganizationId != null">
				CHECKORGANIZATIONID_ = #{checkOrganizationId,
				jdbcType=BIGINT},
			</if>
			<if test="doctorSuggest != null">
				DOCTORSUGGEST_ = #{doctorSuggest, jdbcType=VARCHAR},
			</if>
			<if test="year != null">
				YEAR_ = #{year, jdbcType=INTEGER},
			</if>
			<if test="month != null">
				MONTH_ = #{month, jdbcType=INTEGER},
			</if>
			<if test="ageOfTheMoon != null">
				AGEOFTHEMOON_ = #{ageOfTheMoon, jdbcType=INTEGER},
			</if>
			<if test="remark != null">
				REMARK_ = #{remark, jdbcType=VARCHAR},
			</if>
			<if test="confirmBy != null">
				CONFIRMBY_ = #{confirmBy, jdbcType=VARCHAR},
			</if>
			<if test="confirmTime != null">
				CONFIRMTIME_ = #{confirmTime, jdbcType=TIMESTAMP},
			</if>
		</trim>
		where
		ID_ = #{id, jdbcType=BIGINT}

	</update>


	<delete id="deleteMedicalExaminationById" parameterType="long">
		delete
		from HEALTH_MEDICAL_EXAMINATION
		where ID_ = #{id}
	</delete>


	<select id="getMedicalExaminationById" parameterType="long"
		resultMap="medicalExaminationResultMap">
		select * from HEALTH_MEDICAL_EXAMINATION where ID_ = #{id}
	</select>


	<select id="getMedicalExaminations" parameterType="com.glaf.heathcare.query.MedicalExaminationQuery"
		resultMap="medicalExaminationResultMap">
		select distinct E.*
		<include refid="selectMedicalExaminationsSql" />
		<choose>
			<when test="orderBy != null">
				order by ${orderBy}
			</when>
			<otherwise>
				order by E.CHECKDATE_ desc
			</otherwise>
		</choose>
	</select>


	<select id="getMedicalExaminationCount" parameterType="com.glaf.heathcare.query.MedicalExaminationQuery"
		resultType="int">
		select count(*)
		<include refid="selectMedicalExaminationsSql" />
	</select>


	<sql id="selectMedicalExaminationsSql">

		from HEALTH_MEDICAL_EXAMINATION E

		<where>
			1 = 1

			<if test="batchId != null">
				and E.BATCHID_ = #{batchId}
			</if>

			<if test="checkId != null and checkId != '' ">
				and E.CHECKID_ = #{checkId}
			</if>

			<if test="tenantId != null and tenantId != '' ">
				and E.TENANTID_ = #{tenantId}
			</if>

			<if test="tenantIds != null and tenantIds.size() &gt; 0">
				and E.TENANTID_ IN
				<foreach item="x_tenantId" index="index" collection="tenantIds"
					open="(" separator="," close=")">
					#{x_tenantId}
				</foreach>
			</if>

			<if test="gradeId != null and gradeId != '' ">
				and E.GRADEID_ = #{gradeId}
			</if>

			<if test="gradeIds != null and gradeIds.size() &gt; 0">
				and E.GRADEID_ IN
				<foreach item="x_gradeId" index="index" collection="gradeIds"
					open="(" separator="," close=")">
					#{x_gradeId}
				</foreach>
			</if>

			<if test="personId != null and personId != '' ">
				and E.PERSONID_ = #{personId}
			</if>

			<if test="personIds != null and personIds.size() &gt; 0">
				and E.PERSONID_ IN
				<foreach item="x_personId" index="index" collection="personIds"
					open="(" separator="," close=")">
					#{x_personId}
				</foreach>
			</if>

			<if test="nameLike != null and nameLike != '' ">
				and E.NAME_ like #{nameLike}
			</if>

			<if test="sex != null and sex != '' ">
				and E.SEX_ = #{sex}
			</if>

			<if test="heightGreaterThanOrEqual != null">
				and E.HEIGHT_ &gt;= #{heightGreaterThanOrEqual}
			</if>

			<if test="heightLessThanOrEqual != null">
				and E.HEIGHT_ &lt;= #{heightLessThanOrEqual}
			</if>

			<if test="weightGreaterThanOrEqual != null">
				and E.WEIGHT_ &gt;= #{weightGreaterThanOrEqual}
			</if>

			<if test="weightLessThanOrEqual != null">
				and E.WEIGHT_ &lt;= #{weightLessThanOrEqual}
			</if>

			<if test="weightHeightPercentGreaterThanOrEqual != null">
				and E.WEIGHTHEIGHTPERCENT_ &gt;=
				#{weightHeightPercentGreaterThanOrEqual}
			</if>

			<if test="weightHeightPercentLessThanOrEqual != null">
				and E.WEIGHTHEIGHTPERCENT_ &lt;=
				#{weightHeightPercentLessThanOrEqual}
			</if>

			<if test="bmiGreaterThanOrEqual != null">
				and E.BMI_ &gt;= #{bmiGreaterThanOrEqual}
			</if>

			<if test="bmiLessThanOrEqual != null">
				and E.BMI_ &lt;= #{bmiLessThanOrEqual}
			</if>

			<if test="allergy != null and allergy != '' ">
				and E.ALLERGY_ = #{allergy}
			</if>

			<if test="allergyLike != null and allergyLike != '' ">
				and E.ALLERGY_ like #{allergyLike}
			</if>

			<if test="eyeLeft != null and eyeLeft != '' ">
				and E.EYELEFT_ = #{eyeLeft}
			</if>

			<if test="eyeLeftLike != null and eyeLeftLike != '' ">
				and E.EYELEFT_ like #{eyeLeftLike}
			</if>

			<if test="eyeRight != null and eyeRight != '' ">
				and E.EYERIGHT_ = #{eyeRight}
			</if>

			<if test="eyeRightLike != null and eyeRightLike != '' ">
				and E.EYERIGHT_ like #{eyeRightLike}
			</if>

			<if test="eyesightLeftGreaterThanOrEqual != null">
				and E.EYESIGHTLEFT_ &gt;=
				#{eyesightLeftGreaterThanOrEqual}
			</if>

			<if test="eyesightLeftLessThanOrEqual != null">
				and E.EYESIGHTLEFT_ &lt;= #{eyesightLeftLessThanOrEqual}
			</if>

			<if test="eyesightRightGreaterThanOrEqual != null">
				and E.EYESIGHTRIGHT_ &gt;=
				#{eyesightRightGreaterThanOrEqual}
			</if>

			<if test="eyesightRightLessThanOrEqual != null">
				and E.EYESIGHTRIGHT_ &lt;=
				#{eyesightRightLessThanOrEqual}
			</if>

			<if test="earLeft != null and earLeft != '' ">
				and E.EARLEFT_ = #{earLeft}
			</if>

			<if test="earLeftLike != null and earLeftLike != '' ">
				and E.EARLEFT_ like #{earLeftLike}
			</if>

			<if test="earRight != null and earRight != '' ">
				and E.EARRIGHT_ = #{earRight}
			</if>

			<if test="earRightLike != null and earRightLike != '' ">
				and E.EARRIGHT_ like #{earRightLike}
			</if>

			<if test="saprodontia != null">
				and E.SAPRODONTIA_ = #{saprodontia}
			</if>

			<if test="saprodontiaGreaterThanOrEqual != null">
				and E.SAPRODONTIA_ &gt;= #{saprodontiaGreaterThanOrEqual}
			</if>

			<if test="saprodontiaLessThanOrEqual != null">
				and E.SAPRODONTIA_ &lt;= #{saprodontiaLessThanOrEqual}
			</if>

			<if test="head != null and head != '' ">
				and E.HEAD_ = #{head}
			</if>

			<if test="headLike != null and headLike != '' ">
				and E.HEAD_ like #{headLike}
			</if>

			<if test="thorax != null and thorax != '' ">
				and E.THORAX_ = #{thorax}
			</if>

			<if test="thoraxLike != null and thoraxLike != '' ">
				and E.THORAX_ like #{thoraxLike}
			</if>

			<if test="spine != null and spine != '' ">
				and E.SPINE_ = #{spine}
			</if>

			<if test="spineLike != null and spineLike != '' ">
				and E.SPINE_ like #{spineLike}
			</if>

			<if test="pharyngeal != null and pharyngeal != '' ">
				and E.PHARYNGEAL_ = #{pharyngeal}
			</if>

			<if test="pharyngealLike != null and pharyngealLike != '' ">
				and E.PHARYNGEAL_ like #{pharyngealLike}
			</if>

			<if test="cardiopulmonary != null and cardiopulmonary != '' ">
				and E.CARDIOPULMONARY_ = #{cardiopulmonary}
			</if>

			<if test="cardiopulmonaryLike != null and cardiopulmonaryLike != '' ">
				and E.CARDIOPULMONARY_ like #{cardiopulmonaryLike}
			</if>

			<if test="hepatolienal != null and hepatolienal != '' ">
				and E.HEPATOLIENAL_ = #{hepatolienal}
			</if>

			<if test="hepatolienalLike != null and hepatolienalLike != '' ">
				and E.HEPATOLIENAL_ like #{hepatolienalLike}
			</if>

			<if test="pudendum != null and pudendum != '' ">
				and E.PUDENDUM_ = #{pudendum}
			</if>

			<if test="pudendumLike != null and pudendumLike != '' ">
				and E.PUDENDUM_ like #{pudendumLike}
			</if>

			<if test="skin != null and skin != '' ">
				and E.SKIN_ = #{skin}
			</if>

			<if test="skinLike != null and skinLike != '' ">
				and E.SKIN_ like #{skinLike}
			</if>

			<if test="hemoglobin != null and hemoglobin != '' ">
				and E.HEMOGLOBIN_ = #{hemoglobin}
			</if>

			<if test="hemoglobinLike != null and hemoglobinLike != '' ">
				and E.HEMOGLOBIN_ like #{hemoglobinLike}
			</if>

			<if test="alt != null and alt != '' ">
				and E.ALT_ = #{alt}
			</if>

			<if test="altLike != null and altLike != '' ">
				and E.ALT_ like #{altLike}
			</if>

			<if test="type != null and type != '' ">
				and E.TYPE_ = #{type}
			</if>

			<if test="checkDateGreaterThanOrEqual != null">
				and E.CHECKDATE_ &gt;= #{checkDateGreaterThanOrEqual}
			</if>

			<if test="checkDateLessThanOrEqual != null">
				and E.CHECKDATE_ &lt;= #{checkDateLessThanOrEqual}
			</if>

			<if test="checkDoctor != null and checkDoctor != '' ">
				and E.CHECKDOCTOR_ = #{checkDoctor}
			</if>

			<if test="checkDoctorLike != null and checkDoctorLike != '' ">
				and E.CHECKDOCTOR_ like #{checkDoctorLike}
			</if>

			<if test="checkDoctorId != null and checkDoctorId != '' ">
				and E.CHECKDOCTORID_ = #{checkDoctorId}
			</if>

			<if test="checkDoctorIdLike != null and checkDoctorIdLike != '' ">
				and E.CHECKDOCTORID_ like #{checkDoctorIdLike}
			</if>

			<if test="checkResult != null and checkResult != '' ">
				and E.CHECKRESULT_ = #{checkResult}
			</if>

			<if test="checkResultLike != null and checkResultLike != '' ">
				and E.CHECKRESULT_ like #{checkResultLike}
			</if>

			<if test="checkOrganization != null and checkOrganization != '' ">
				and E.CHECKORGANIZATION_ = #{checkOrganization}
			</if>

			<if test="checkOrganizationLike != null and checkOrganizationLike != '' ">
				and E.CHECKORGANIZATION_ like #{checkOrganizationLike}
			</if>

			<if test="checkOrganizationId != null">
				and E.CHECKORGANIZATIONID_ = #{checkOrganizationId}
			</if>

			<if
				test="checkOrganizationIds != null and checkOrganizationIds.size() &gt; 0">
				and E.CHECKORGANIZATIONID_ IN
				<foreach item="x_checkOrganizationId" index="index"
					collection="checkOrganizationIds" open="(" separator="," close=")">
					#{x_checkOrganizationId}
				</foreach>
			</if>

			<if test="doctorSuggest != null and doctorSuggest != '' ">
				and E.DOCTORSUGGEST_ = #{doctorSuggest}
			</if>

			<if test="doctorSuggestLike != null and doctorSuggestLike != '' ">
				and E.DOCTORSUGGEST_ like #{doctorSuggestLike}
			</if>

			<if test="year != null">
				and E.YEAR_ = #{year}
			</if>

			<if test="years != null and years.size() &gt; 0">
				and E.YEAR_ IN
				<foreach item="x_year" index="index" collection="years"
					open="(" separator="," close=")">
					#{x_year}
				</foreach>
			</if>

			<if test="month != null">
				and E.MONTH_ = #{month}
			</if>

			<if test="months != null and months.size() &gt; 0">
				and E.MONTH_ IN
				<foreach item="x_month" index="index" collection="months"
					open="(" separator="," close=")">
					#{x_month}
				</foreach>
			</if>

			<if test="remarkLike != null and remarkLike != '' ">
				and E.REMARK_ like #{remarkLike}
			</if>

			<if test="confirmBy != null and confirmBy != '' ">
				and E.CONFIRMBY_ = #{confirmBy}
			</if>

			<if test="confirmTimeGreaterThanOrEqual != null">
				and E.CONFIRMTIME_ &gt;= #{confirmTimeGreaterThanOrEqual}
			</if>

			<if test="confirmTimeLessThanOrEqual != null">
				and E.CONFIRMTIME_ &lt;= #{confirmTimeLessThanOrEqual}
			</if>

			<if test="createBy != null and createBy != '' ">
				and E.CREATEBY_ = #{createBy}
			</if>

			<if test="createTimeGreaterThanOrEqual != null">
				and E.CREATETIME_ &gt;= #{createTimeGreaterThanOrEqual}
			</if>

			<if test="createTimeLessThanOrEqual != null">
				and E.CREATETIME_ &lt;= #{createTimeLessThanOrEqual}
			</if>

		</where>
	</sql>

</mapper>