<?xml version="1.0" encoding="UTF-8" ?> 

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.glaf.heathcare.mapper.PersonMapper">

	<resultMap id="personResultMap" type="com.glaf.heathcare.domain.Person">
		<id property="id" column="ID_" jdbcType="VARCHAR" />
		<result property="tenantId" column="TENANTID_" jdbcType="VARCHAR" />
		<result property="gradeId" column="GRADEID_" jdbcType="VARCHAR" />
		<result property="name" column="NAME_" jdbcType="VARCHAR" />
		<result property="idCardNo" column="IDCARDNO_" jdbcType="VARCHAR" />
		<result property="patriarch" column="PATRIARCH_" jdbcType="VARCHAR" />
		<result property="telephone" column="TELEPHONE_" jdbcType="VARCHAR" />
		<result property="province" column="PROVINCE_" jdbcType="VARCHAR" />
		<result property="provinceId" column="PROVINCEID_" jdbcType="BIGINT" />
		<result property="city" column="CITY_" jdbcType="VARCHAR" />
		<result property="cityId" column="CITYID_" jdbcType="BIGINT" />
		<result property="area" column="AREA_" jdbcType="VARCHAR" />
		<result property="areaId" column="AREAID_" jdbcType="BIGINT" />
		<result property="town" column="TOWN_" jdbcType="VARCHAR" />
		<result property="townId" column="TOWNID_" jdbcType="BIGINT" />
		<result property="homeAddress" column="HOMEADDRESS_" jdbcType="VARCHAR" />
		<result property="birthAddress" column="BIRTHADDRESS_"
			jdbcType="VARCHAR" />
		<result property="sex" column="SEX_" jdbcType="VARCHAR" />
		<result property="birthday" column="BIRTHDAY_" jdbcType="TIMESTAMP" />
		<result property="year" column="YEAR_" jdbcType="INTEGER" />
		<result property="joinDate" column="JOINDATE_" jdbcType="TIMESTAMP" />
		<result property="healthCondition" column="HEALTHCONDITION_"
			jdbcType="VARCHAR" />
		<result property="allergy" column="ALLERGY_" jdbcType="VARCHAR" />
		<result property="feedingHistory" column="FEEDINGHISTORY_"
			jdbcType="VARCHAR" />
		<result property="previousHistory" column="PREVIOUSHISTORY_"
			jdbcType="VARCHAR" />
		<result property="foodAllergy" column="FOODALLERGY_" jdbcType="VARCHAR" />
		<result property="medicineAllergy" column="MEDICINEALLERGY_"
			jdbcType="VARCHAR" />
		<result property="height" column="HEIGHT_" jdbcType="DOUBLE" />
		<result property="weight" column="WEIGHT_" jdbcType="DOUBLE" />
		<result property="father" column="FATHER_" jdbcType="VARCHAR" />
		<result property="fatherCompany" column="FATHERCOMPANY_"
			jdbcType="VARCHAR" />
		<result property="fatherTelephone" column="FATHERTELEPHONE_"
			jdbcType="VARCHAR" />
		<result property="fatherWardship" column="FATHERWARDSHIP_"
			jdbcType="VARCHAR" />
		<result property="mother" column="MOTHER_" jdbcType="VARCHAR" />
		<result property="motherCompany" column="MOTHERCOMPANY_"
			jdbcType="VARCHAR" />
		<result property="motherTelephone" column="MOTHERTELEPHONE_"
			jdbcType="VARCHAR" />
		<result property="motherWardship" column="MOTHERWARDSHIP_"
			jdbcType="VARCHAR" />
		<result property="remark" column="REMARK_" jdbcType="VARCHAR" />
		<result property="createBy" column="CREATEBY_" jdbcType="VARCHAR" />
		<result property="createTime" column="CREATETIME_" jdbcType="TIMESTAMP" />
		<result property="updateBy" column="UPDATEBY_" jdbcType="VARCHAR" />
		<result property="updateTime" column="UPDATETIME_" jdbcType="TIMESTAMP" />
		<result property="deleteFlag" column="DELETEFLAG_" jdbcType="INTEGER" />
	</resultMap>


	<insert id="insertPerson" parameterType="com.glaf.heathcare.domain.Person">
		insert into HEALTH_PERSON
		<trim prefix="(" suffix=")" suffixOverrides=",">
			ID_
			<if test="tenantId != null">
				,TENANTID_
			</if>
			<if test="gradeId != null">
				,GRADEID_
			</if>
			<if test="name != null">
				,NAME_
			</if>
			<if test="idCardNo != null">
				,IDCARDNO_
			</if>
			<if test="patriarch != null">
				,PATRIARCH_
			</if>
			<if test="telephone != null">
				,TELEPHONE_
			</if>
			<if test="province != null">
				,PROVINCE_
			</if>
			<if test="provinceId != null">
				,PROVINCEID_
			</if>
			<if test="city != null">
				,CITY_
			</if>
			<if test="cityId != null">
				,CITYID_
			</if>
			<if test="area != null">
				,AREA_
			</if>
			<if test="areaId != null">
				,AREAID_
			</if>
			<if test="town != null">
				,TOWN_
			</if>
			<if test="townId != null">
				,TOWNID_
			</if>
			<if test="homeAddress != null">
				,HOMEADDRESS_
			</if>
			<if test="birthAddress != null">
				,BIRTHADDRESS_
			</if>
			<if test="sex != null">
				,SEX_
			</if>
			<if test="joinDate != null">
				,JOINDATE_
			</if>
			<if test="healthCondition != null">
				,HEALTHCONDITION_
			</if>
			<if test="allergy != null">
				,ALLERGY_
			</if>
			<if test="feedingHistory != null">
				,FEEDINGHISTORY_
			</if>
			<if test="previousHistory != null">
				,PREVIOUSHISTORY_
			</if>
			<if test="foodAllergy != null">
				,FOODALLERGY_
			</if>
			<if test="medicineAllergy != null">
				,MEDICINEALLERGY_
			</if>
			<if test="height != null">
				,HEIGHT_
			</if>
			<if test="weight != null">
				,WEIGHT_
			</if>
			<if test="father != null">
				,FATHER_
			</if>
			<if test="fatherCompany != null">
				,FATHERCOMPANY_
			</if>
			<if test="fatherTelephone != null">
				,FATHERTELEPHONE_
			</if>
			<if test="fatherWardship != null">
				,FATHERWARDSHIP_
			</if>
			<if test="mother != null">
				,MOTHER_
			</if>
			<if test="motherCompany != null">
				,MOTHERCOMPANY_
			</if>
			<if test="motherTelephone != null">
				,MOTHERTELEPHONE_
			</if>
			<if test="motherWardship != null">
				,MOTHERWARDSHIP_
			</if>
			<if test="birthday != null">
				,BIRTHDAY_
			</if>
			<if test="year != null">
				,YEAR_
			</if>
			<if test="remark != null">
				,REMARK_
			</if>
			<if test="createBy != null">
				,CREATEBY_
			</if>
			<if test="createTime != null">
				,CREATETIME_
			</if>
			<if test="updateBy != null">
				,UPDATEBY_
			</if>
			<if test="updateTime != null">
				,UPDATETIME_
			</if>
			<if test="deleteFlag != null">
				,DELETEFLAG_
			</if>
		</trim>

		<trim prefix=" values (" suffix=")" suffixOverrides=",">
			#{id, jdbcType=VARCHAR}

			<if test="tenantId != null">
				,#{tenantId, jdbcType=VARCHAR}
			</if>
			<if test="gradeId != null">
				,#{gradeId, jdbcType=VARCHAR}
			</if>
			<if test="name != null">
				,#{name, jdbcType=VARCHAR}
			</if>
			<if test="idCardNo != null">
				,#{idCardNo, jdbcType=VARCHAR}
			</if>
			<if test="patriarch != null">
				,#{patriarch, jdbcType=VARCHAR}
			</if>
			<if test="telephone != null">
				,#{telephone, jdbcType=VARCHAR}
			</if>
			<if test="province != null">
				,#{province, jdbcType=VARCHAR}
			</if>
			<if test="provinceId != null">
				,#{provinceId, jdbcType=BIGINT}
			</if>
			<if test="city != null">
				,#{city, jdbcType=VARCHAR}
			</if>
			<if test="cityId != null">
				,#{cityId, jdbcType=BIGINT}
			</if>
			<if test="area != null">
				,#{area, jdbcType=VARCHAR}
			</if>
			<if test="areaId != null">
				,#{areaId, jdbcType=BIGINT}
			</if>
			<if test="town != null">
				,#{town, jdbcType=VARCHAR}
			</if>
			<if test="townId != null">
				,#{townId, jdbcType=BIGINT}
			</if>
			<if test="homeAddress != null">
				,#{homeAddress, jdbcType=VARCHAR}
			</if>
			<if test="birthAddress != null">
				,#{birthAddress, jdbcType=VARCHAR}
			</if>
			<if test="sex != null">
				,#{sex, jdbcType=VARCHAR}
			</if>
			<if test="joinDate != null">
				,#{joinDate, jdbcType=TIMESTAMP}
			</if>
			<if test="healthCondition != null">
				,#{healthCondition, jdbcType=VARCHAR}
			</if>
			<if test="allergy != null">
				,#{allergy, jdbcType=VARCHAR}
			</if>
			<if test="feedingHistory != null">
				,#{feedingHistory, jdbcType=VARCHAR}
			</if>
			<if test="previousHistory != null">
				,#{previousHistory, jdbcType=VARCHAR}
			</if>
			<if test="foodAllergy != null">
				,#{foodAllergy, jdbcType=VARCHAR}
			</if>
			<if test="medicineAllergy != null">
				,#{medicineAllergy, jdbcType=VARCHAR}
			</if>
			<if test="height != null">
				,#{height, jdbcType=DOUBLE}
			</if>
			<if test="weight != null">
				,#{weight, jdbcType=DOUBLE}
			</if>
			<if test="father != null">
				,#{father, jdbcType=VARCHAR}
			</if>
			<if test="fatherCompany != null">
				,#{fatherCompany, jdbcType=VARCHAR}
			</if>
			<if test="fatherTelephone != null">
				,#{fatherTelephone, jdbcType=VARCHAR}
			</if>
			<if test="fatherWardship != null">
				,#{fatherWardship, jdbcType=VARCHAR}
			</if>
			<if test="mother != null">
				,#{mother, jdbcType=VARCHAR}
			</if>
			<if test="motherCompany != null">
				,#{motherCompany, jdbcType=VARCHAR}
			</if>
			<if test="motherTelephone != null">
				,#{motherTelephone, jdbcType=VARCHAR}
			</if>
			<if test="motherWardship != null">
				,#{motherWardship, jdbcType=VARCHAR}
			</if>
			<if test="birthday != null">
				,#{birthday, jdbcType=TIMESTAMP}
			</if>
			<if test="year != null">
				,#{year, jdbcType=INTEGER}
			</if>
			<if test="remark != null">
				,#{remark, jdbcType=VARCHAR}
			</if>
			<if test="createBy != null">
				,#{createBy, jdbcType=VARCHAR}
			</if>
			<if test="createTime != null">
				,#{createTime, jdbcType=TIMESTAMP}
			</if>
			<if test="updateBy != null">
				,#{updateBy, jdbcType=VARCHAR}
			</if>
			<if test="updateTime != null">
				,#{updateTime, jdbcType=TIMESTAMP}
			</if>
			<if test="deleteFlag != null">
				,#{deleteFlag, jdbcType=INTEGER}
			</if>
		</trim>
	</insert>


	<insert id="bulkInsertPerson" parameterType="java.util.List">
		insert into HEALTH_PERSON (
		ID_
		,TENANTID_
		,GRADEID_
		,NAME_
		,IDCARDNO_
		,PATRIARCH_
		,TELEPHONE_
		,PROVINCE_
		,PROVINCEID_
		,CITY_
		,CITYID_
		,AREA_
		,AREAID_
		,TOWN_
		,TOWNID_
		,HOMEADDRESS_
		,BIRTHADDRESS_
		,SEX_
		,JOINDATE_
		,HEALTHCONDITION_
		,ALLERGY_
		,FEEDINGHISTORY_
		,PREVIOUSHISTORY_
		,FOODALLERGY_
		,MEDICINEALLERGY_
		,HEIGHT_
		,WEIGHT_
		,FATHER_
		,FATHERCOMPANY_
		,FATHERTELEPHONE_
		,FATHERWARDSHIP_
		,MOTHER_
		,MOTHERCOMPANY_
		,MOTHERTELEPHONE_
		,MOTHERWARDSHIP_
		,BIRTHDAY_
		,YEAR_
		,REMARK_
		,CREATEBY_
		,CREATETIME_
		,UPDATEBY_
		,UPDATETIME_
		,DELETEFLAG_
		) values
		<foreach collection="list" item="person" index="index"
			separator=",">
			(
			#{person.id, jdbcType=VARCHAR}
			,#{person.tenantId,
			jdbcType=VARCHAR}
			,#{person.gradeId, jdbcType=VARCHAR}
			,#{person.name,
			jdbcType=VARCHAR}
			,#{person.idCardNo, jdbcType=VARCHAR}
			,#{person.patriarch, jdbcType=VARCHAR}
			,#{person.telephone,
			jdbcType=VARCHAR}
			,#{person.province, jdbcType=VARCHAR}
			,#{person.provinceId, jdbcType=BIGINT}
			,#{person.city,
			jdbcType=VARCHAR}
			,#{person.cityId, jdbcType=BIGINT}
			,#{person.area,
			jdbcType=VARCHAR}
			,#{person.areaId, jdbcType=BIGINT}
			,#{person.town,
			jdbcType=VARCHAR}
			,#{person.townId, jdbcType=BIGINT}
			,#{person.homeAddress, jdbcType=VARCHAR}
			,#{person.birthAddress,
			jdbcType=VARCHAR}
			,#{person.sex, jdbcType=VARCHAR}
			,#{person.joinDate,
			jdbcType=TIMESTAMP}
			,#{person.healthCondition, jdbcType=VARCHAR}
			,#{person.allergy, jdbcType=VARCHAR}
			,#{person.feedingHistory,
			jdbcType=VARCHAR}
			,#{person.previousHistory, jdbcType=VARCHAR}
			,#{person.foodAllergy, jdbcType=VARCHAR}
			,#{person.medicineAllergy,
			jdbcType=VARCHAR}
			,#{person.height, jdbcType=DOUBLE}
			,#{person.weight,
			jdbcType=DOUBLE}
			,#{person.father,
			jdbcType=VARCHAR}
			,#{person.fatherCompany, jdbcType=VARCHAR}
			,#{person.fatherTelephone,
			jdbcType=VARCHAR}
			,#{person.fatherWardship, jdbcType=VARCHAR}
			,#{person.mother,
			jdbcType=VARCHAR}
			,#{person.motherCompany,
			jdbcType=VARCHAR}
			,#{person.motherTelephone,
			jdbcType=VARCHAR}
			,#{person.motherWardship, jdbcType=VARCHAR}
			,#{person.birthday,
			jdbcType=TIMESTAMP}
			,#{person.year, jdbcType=INTEGER}
			,#{person.remark, jdbcType=VARCHAR}
			,#{person.createBy,
			jdbcType=VARCHAR}
			,#{person.createTime,
			jdbcType=TIMESTAMP}
			,#{person.updateBy, jdbcType=VARCHAR}
			,#{person.updateTime,
			jdbcType=TIMESTAMP}
			,#{person.deleteFlag,
			jdbcType=INTEGER}
			)
		</foreach>
	</insert>


	<insert id="bulkInsertPerson_oracle" parameterType="java.util.List">
		INSERT ALL
		<foreach collection="list" item="person" index="index">
			insert into
			HEALTH_PERSON (
			ID_
			,TENANTID_
			,GRADEID_
			,NAME_
			,IDCARDNO_
			,PATRIARCH_
			,TELEPHONE_
			,PROVINCE_
			,PROVINCEID_
			,CITY_
			,CITYID_
			,AREA_
			,AREAID_
			,TOWN_
			,TOWNID_
			,HOMEADDRESS_
			,BIRTHADDRESS_
			,SEX_
			,JOINDATE_
			,HEALTHCONDITION_
			,ALLERGY_
			,FEEDINGHISTORY_
			,PREVIOUSHISTORY_
			,FOODALLERGY_
			,MEDICINEALLERGY_
			,HEIGHT_
			,WEIGHT_
			,FATHER_
			,FATHERCOMPANY_
			,FATHERTELEPHONE_
			,FATHERWARDSHIP_
			,MOTHER_
			,MOTHERCOMPANY_
			,MOTHERTELEPHONE_
			,MOTHERWARDSHIP_
			,BIRTHDAY_
			,YEAR_
			,REMARK_
			,CREATEBY_
			,CREATETIME_
			,UPDATEBY_
			,UPDATETIME_
			,DELETEFLAG_
			) values (
			#{person.id,
			jdbcType=VARCHAR}
			,#{person.tenantId, jdbcType=VARCHAR}
			,#{person.gradeId,
			jdbcType=VARCHAR}
			,#{person.name, jdbcType=VARCHAR}
			,#{person.idCardNo, jdbcType=VARCHAR}
			,#{person.patriarch,
			jdbcType=VARCHAR}
			,#{person.telephone, jdbcType=VARCHAR}
			,#{person.province, jdbcType=VARCHAR}
			,#{person.provinceId,
			jdbcType=BIGINT}
			,#{person.city, jdbcType=VARCHAR}
			,#{person.cityId,
			jdbcType=BIGINT}
			,#{person.area, jdbcType=VARCHAR}
			,#{person.areaId,
			jdbcType=BIGINT}
			,#{person.town, jdbcType=VARCHAR}
			,#{person.townId,
			jdbcType=BIGINT}
			,#{person.homeAddress, jdbcType=VARCHAR}
			,#{person.birthAddress, jdbcType=VARCHAR}
			,#{person.sex,
			jdbcType=VARCHAR}
			,#{person.joinDate, jdbcType=TIMESTAMP}
			,#{person.healthCondition, jdbcType=VARCHAR}
			,#{person.allergy,
			jdbcType=VARCHAR}
			,#{person.feedingHistory, jdbcType=VARCHAR}
			,#{person.previousHistory, jdbcType=VARCHAR}
			,#{person.foodAllergy,
			jdbcType=VARCHAR}
			,#{person.medicineAllergy, jdbcType=VARCHAR}
			,#{person.height, jdbcType=DOUBLE}
			,#{person.weight, jdbcType=DOUBLE}
			,#{person.father, jdbcType=VARCHAR}
			,#{person.fatherCompany,
			jdbcType=VARCHAR}
			,#{person.fatherTelephone,
			jdbcType=VARCHAR}
			,#{person.fatherWardship, jdbcType=VARCHAR}
			,#{person.mother,
			jdbcType=VARCHAR}
			,#{person.motherCompany,
			jdbcType=VARCHAR}
			,#{person.motherTelephone,
			jdbcType=VARCHAR}
			,#{person.motherWardship,
			jdbcType=VARCHAR}
			,#{person.birthday, jdbcType=TIMESTAMP}
			,#{person.year,
			jdbcType=INTEGER}
			,#{person.remark, jdbcType=VARCHAR}
			,#{person.createBy, jdbcType=VARCHAR}
			,#{person.createTime,
			jdbcType=TIMESTAMP}
			,#{person.updateBy, jdbcType=VARCHAR}
			,#{person.updateTime, jdbcType=TIMESTAMP}
			,#{person.deleteFlag,
			jdbcType=INTEGER}
			)
		</foreach>
		SELECT * FROM dual
	</insert>


	<update id="updatePerson" parameterType="com.glaf.heathcare.domain.Person">
		update HEALTH_PERSON
		set
		<trim prefix="" suffix="" suffixOverrides=",">
			<if test="gradeId != null and gradeId != '' ">
				GRADEID_ = #{gradeId, jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				NAME_ = #{name, jdbcType=VARCHAR},
			</if>
			<if test="idCardNo != null and idCardNo != '' ">
				IDCARDNO_ = #{idCardNo, jdbcType=VARCHAR},
			</if>
			<if test="patriarch != null">
				PATRIARCH_ = #{patriarch, jdbcType=VARCHAR},
			</if>
			<if test="telephone != null">
				TELEPHONE_ = #{telephone, jdbcType=VARCHAR},
			</if>
			<if test="province != null">
				PROVINCE_ = #{province, jdbcType=VARCHAR},
			</if>
			<if test="provinceId != null">
				PROVINCEID_ = #{provinceId, jdbcType=BIGINT},
			</if>
			<if test="city != null">
				CITY_ = #{city, jdbcType=VARCHAR},
			</if>
			<if test="cityId != null">
				CITYID_ = #{cityId, jdbcType=BIGINT},
			</if>
			<if test="area != null">
				AREA_ = #{area, jdbcType=VARCHAR},
			</if>
			<if test="areaId != null">
				AREAID_ = #{areaId, jdbcType=BIGINT},
			</if>
			<if test="town != null">
				TOWN_ = #{town, jdbcType=VARCHAR},
			</if>
			<if test="townId != null">
				TOWNID_ = #{townId, jdbcType=BIGINT},
			</if>
			<if test="homeAddress != null">
				HOMEADDRESS_ = #{homeAddress, jdbcType=VARCHAR},
			</if>
			<if test="birthAddress != null">
				BIRTHADDRESS_ = #{birthAddress, jdbcType=VARCHAR},
			</if>
			<if test="sex != null">
				SEX_ = #{sex, jdbcType=VARCHAR},
			</if>
			<if test="birthday != null">
				BIRTHDAY_ = #{birthday, jdbcType=TIMESTAMP},
			</if>
			<if test="year != null">
				YEAR_ = #{year, jdbcType=INTEGER},
			</if>
			<if test="joinDate != null">
				JOINDATE_ = #{joinDate, jdbcType=TIMESTAMP},
			</if>
			<if test="healthCondition != null">
				HEALTHCONDITION_ = #{healthCondition, jdbcType=VARCHAR},
			</if>
			<if test="allergy != null">
				ALLERGY_ = #{allergy, jdbcType=VARCHAR},
			</if>
			<if test="feedingHistory != null">
				FEEDINGHISTORY_ = #{feedingHistory, jdbcType=VARCHAR},
			</if>
			<if test="previousHistory != null">
				PREVIOUSHISTORY_ = #{previousHistory, jdbcType=VARCHAR},
			</if>
			<if test="foodAllergy != null">
				FOODALLERGY_ = #{foodAllergy, jdbcType=VARCHAR},
			</if>
			<if test="medicineAllergy != null">
				MEDICINEALLERGY_ = #{medicineAllergy, jdbcType=VARCHAR},
			</if>
			<if test="height != null">
				HEIGHT_ = #{height, jdbcType=DOUBLE},
			</if>
			<if test="weight != null">
				WEIGHT_ = #{weight, jdbcType=DOUBLE},
			</if>
			<if test="father != null">
				FATHER_ = #{father, jdbcType=VARCHAR},
			</if>
			<if test="fatherCompany != null">
				FATHERCOMPANY_ = #{fatherCompany, jdbcType=VARCHAR},
			</if>
			<if test="fatherTelephone != null">
				FATHERTELEPHONE_ = #{fatherTelephone, jdbcType=VARCHAR},
			</if>
			<if test="fatherWardship != null">
				FATHERWARDSHIP_ = #{fatherWardship, jdbcType=VARCHAR},
			</if>
			<if test="mother != null">
				MOTHER_ = #{mother, jdbcType=VARCHAR},
			</if>
			<if test="motherCompany != null">
				MOTHERCOMPANY_ = #{motherCompany, jdbcType=VARCHAR},
			</if>
			<if test="motherTelephone != null">
				MOTHERTELEPHONE_ = #{motherTelephone, jdbcType=VARCHAR},
			</if>
			<if test="motherWardship != null">
				MOTHERWARDSHIP_ = #{motherWardship, jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				REMARK_ = #{remark, jdbcType=VARCHAR},
			</if>
			<if test="updateBy != null">
				UPDATEBY_ = #{updateBy, jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				UPDATETIME_ = #{updateTime, jdbcType=TIMESTAMP},
			</if>
			<if test="deleteFlag != null">
				DELETEFLAG_ = #{deleteFlag, jdbcType=INTEGER},
			</if>
		</trim>
		where
		ID_ = #{id, jdbcType=VARCHAR}

	</update>


	<delete id="deletePersonById" parameterType="string">
		delete from
		HEALTH_PERSON
		where ID_ = #{id}
	</delete>


	<select id="getPersonById" parameterType="string" resultMap="personResultMap">
		select * from HEALTH_PERSON where ID_ = #{id}
	</select>


	<select id="getPersonByCode" parameterType="string" resultMap="personResultMap">
		select * from HEALTH_PERSON where IDCARDNO_ = #{code}
	</select>


	<select id="getPersons" parameterType="com.glaf.heathcare.query.PersonQuery"
		resultMap="personResultMap">
		select distinct E.*
		<include refid="selectPersonsSql" />
		<choose>
			<when test="orderBy != null">
				order by ${orderBy}
			</when>
			<otherwise>
				order by E.CREATETIME_ desc
			</otherwise>
		</choose>
	</select>


	<select id="getPersonCount" parameterType="com.glaf.heathcare.query.PersonQuery"
		resultType="int">
		select count(*)
		<include refid="selectPersonsSql" />
	</select>


	<sql id="selectPersonsSql">

		from HEALTH_PERSON E

		<where>
			1 = 1

			<if test="tenantId != null and tenantId != '' ">
				and E.TENANTID_ = #{tenantId}
			</if>

			<if test="tenantIds != null and tenantIds.size() &gt; 0">
				and E.TENANTID_ IN
				<foreach item="x_tenantId" index="index" collection="tenantIds"
					open="(" separator="," close=")">
					#{x_tenantId}
				</foreach>
			</if>

			<if test="gradeId != null and gradeId != '' ">
				and E.GRADEID_ = #{gradeId}
			</if>

			<if test="gradeIds != null and gradeIds.size() &gt; 0">
				and E.GRADEID_ IN
				<foreach item="x_gradeId" index="index" collection="gradeIds"
					open="(" separator="," close=")">
					#{x_gradeId}
				</foreach>
			</if>

			<if test="name != null and name != '' ">
				and E.NAME_ = #{name}
			</if>

			<if test="nameLike != null and nameLike != '' ">
				and E.NAME_ like #{nameLike}
			</if>

			<if test="idCardNo != null and idCardNo != '' ">
				and E.IDCARDNO_ = #{idCardNo}
			</if>

			<if test="idCardNoLike != null and idCardNoLike != '' ">
				and E.IDCARDNO_ like #{idCardNoLike}
			</if>

			<if test="patriarchLike != null and patriarchLike != '' ">
				and E.PATRIARCH_ like #{patriarchLike}
			</if>

			<if test="telephone != null and telephone != '' ">
				and E.TELEPHONE_ = #{telephone}
			</if>

			<if test="telephoneLike != null and telephoneLike != '' ">
				and E.TELEPHONE_ like #{telephoneLike}
			</if>

			<if test="province != null and province != '' ">
				and E.PROVINCE_ = #{province}
			</if>

			<if test="provinceId != null">
				and E.PROVINCEID_ = #{provinceId}
			</if>

			<if test="city != null and city != '' ">
				and E.CITY_ = #{city}
			</if>

			<if test="cityId != null">
				and E.CITYID_ = #{cityId}
			</if>

			<if test="area != null and area != '' ">
				and E.AREA_ = #{area}
			</if>

			<if test="areaId != null">
				and E.AREAID_ = #{areaId}
			</if>

			<if test="town != null and town != '' ">
				and E.TOWN_ = #{town}
			</if>

			<if test="townId != null">
				and E.TOWNID_ = #{townId}
			</if>

			<if test="homeAddress != null and homeAddress != '' ">
				and E.HOMEADDRESS_ = #{homeAddress}
			</if>

			<if test="homeAddressLike != null and homeAddressLike != '' ">
				and E.HOMEADDRESS_ like #{homeAddressLike}
			</if>

			<if test="birthAddress != null and birthAddress != '' ">
				and E.BIRTHADDRESS_ = #{birthAddress}
			</if>

			<if test="birthAddressLike != null and birthAddressLike != '' ">
				and E.BIRTHADDRESS_ like #{birthAddressLike}
			</if>

			<if test="sex != null and sex != '' ">
				and E.SEX_ = #{sex}
			</if>

			<if test="birthdayGreaterThanOrEqual != null">
				and E.BIRTHDAY_ &gt;= #{birthdayGreaterThanOrEqual}
			</if>

			<if test="birthdayLessThanOrEqual != null">
				and E.BIRTHDAY_ &lt;= #{birthdayLessThanOrEqual}
			</if>

			<if test="year != null">
				and E.YEAR_ = #{year}
			</if>

			<if test="yearGreaterThanOrEqual != null">
				and E.YEAR_ &gt;= #{yearGreaterThanOrEqual}
			</if>

			<if test="yearLessThanOrEqual != null">
				and E.YEAR_ &lt;= #{yearLessThanOrEqual}
			</if>

			<if test="remarkLike != null and remarkLike != '' ">
				and E.REMARK_ like #{remarkLike}
			</if>

			<if test="createBy != null and createBy != '' ">
				and E.CREATEBY_ = #{createBy}
			</if>

			<if test="createTimeGreaterThanOrEqual != null">
				and E.CREATETIME_ &gt;= #{createTimeGreaterThanOrEqual}
			</if>

			<if test="createTimeLessThanOrEqual != null">
				and E.CREATETIME_ &lt;= #{createTimeLessThanOrEqual}
			</if>

			<if test="deleteFlag != null">
				and E.DELETEFLAG_ = #{deleteFlag}
			</if>

		</where>
	</sql>

</mapper>