<?xml version="1.0" encoding="UTF-8" ?> 

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.glaf.heathcare.mapper.PersonSicknessMapper">

	<resultMap id="personSicknessResultMap" type="com.glaf.heathcare.domain.PersonSickness">
		<id property="id" column="ID_" jdbcType="VARCHAR" />
		<result property="tenantId" column="TENANTID_" jdbcType="VARCHAR" />
		<result property="gradeId" column="GRADEID_" jdbcType="VARCHAR" />
		<result property="personId" column="PERSONID_" jdbcType="VARCHAR" />
		<result property="name" column="NAME_" jdbcType="VARCHAR" />
		<result property="sickness" column="SICKNESS_" jdbcType="VARCHAR" />
		<result property="infectiousFlag" column="INFECTIOUSFLAG_"
			jdbcType="VARCHAR" />
		<result property="infectiousDisease" column="INFECTIOUSDISEASE_"
			jdbcType="VARCHAR" />
		<result property="discoverTime" column="DISCOVERTIME_"
			jdbcType="TIMESTAMP" />
		<result property="reportTime" column="REPORTTIME_" jdbcType="TIMESTAMP" />
		<result property="reportOrg" column="REPORTORG_" jdbcType="VARCHAR" />
		<result property="reportResponsible" column="REPORTRESPONSIBLE_"
			jdbcType="VARCHAR" />
		<result property="reportWay" column="REPORTWAY_" jdbcType="VARCHAR" />
		<result property="supervisionOpinion" column="SUPERVISIONOPINION_"
			jdbcType="VARCHAR" />
		<result property="confirmTime" column="CONFIRMTIME_" jdbcType="TIMESTAMP" />
		<result property="receiver1" column="RECEIVER1_" jdbcType="VARCHAR" />
		<result property="receiveOrg1" column="RECEIVEORG1_" jdbcType="VARCHAR" />
		<result property="receiver2" column="RECEIVER2_" jdbcType="VARCHAR" />
		<result property="receiveOrg2" column="RECEIVEORG2_" jdbcType="VARCHAR" />
		<result property="symptom" column="SYMPTOM_" jdbcType="VARCHAR" />
		<result property="treat" column="TREAT_" jdbcType="VARCHAR" />
		<result property="hospital" column="HOSPITAL_" jdbcType="VARCHAR" />
		<result property="clinicTime" column="CLINICTIME_" jdbcType="TIMESTAMP" />
		<result property="result" column="RESULT_" jdbcType="VARCHAR" />
		<result property="remark" column="REMARK_" jdbcType="VARCHAR" />
		<result property="year" column="YEAR_" jdbcType="INTEGER" />
		<result property="month" column="MONTH_" jdbcType="INTEGER" />
		<result property="createBy" column="CREATEBY_" jdbcType="VARCHAR" />
		<result property="createTime" column="CREATETIME_" jdbcType="TIMESTAMP" />
	</resultMap>


	<insert id="insertPersonSickness" parameterType="com.glaf.heathcare.domain.PersonSickness">
		insert into HEALTH_PERSON_SICKNESS
		<trim prefix="(" suffix=")" suffixOverrides=",">
			ID_
			<if test="tenantId != null">
				,TENANTID_
			</if>
			<if test="gradeId != null">
				,GRADEID_
			</if>
			<if test="personId != null">
				,PERSONID_
			</if>
			<if test="name != null">
				,NAME_
			</if>
			<if test="sickness != null">
				,SICKNESS_
			</if>
			<if test="infectiousFlag != null">
				,INFECTIOUSFLAG_
			</if>
			<if test="infectiousDisease != null">
				,INFECTIOUSDISEASE_
			</if>
			<if test="discoverTime != null">
				,DISCOVERTIME_
			</if>
			<if test="reportTime != null">
				,REPORTTIME_
			</if>
			<if test="reportOrg != null">
				,REPORTORG_
			</if>
			<if test="reportResponsible != null">
				,REPORTRESPONSIBLE_
			</if>
			<if test="reportWay != null">
				,REPORTWAY_
			</if>
			<if test="supervisionOpinion != null">
				,SUPERVISIONOPINION_
			</if>
			<if test="confirmTime != null">
				,CONFIRMTIME_
			</if>
			<if test="receiver1 != null">
				,RECEIVER1_
			</if>
			<if test="receiveOrg1 != null">
				,RECEIVEORG1_
			</if>
			<if test="receiver2 != null">
				,RECEIVER2_
			</if>
			<if test="receiveOrg2 != null">
				,RECEIVEORG2_
			</if>
			<if test="symptom != null">
				,SYMPTOM_
			</if>
			<if test="treat != null">
				,TREAT_
			</if>
			<if test="hospital != null">
				,HOSPITAL_
			</if>
			<if test="clinicTime != null">
				,CLINICTIME_
			</if>
			<if test="result != null">
				,RESULT_
			</if>
			<if test="remark != null">
				,REMARK_
			</if>
			<if test="year != null">
				,YEAR_
			</if>
			<if test="month != null">
				,MONTH_
			</if>
			<if test="createBy != null">
				,CREATEBY_
			</if>
			<if test="createTime != null">
				,CREATETIME_
			</if>
		</trim>

		<trim prefix=" values (" suffix=")" suffixOverrides=",">
			#{id, jdbcType=VARCHAR}

			<if test="tenantId != null">
				,#{tenantId, jdbcType=VARCHAR}
			</if>
			<if test="gradeId != null">
				,#{gradeId, jdbcType=VARCHAR}
			</if>
			<if test="personId != null">
				,#{personId, jdbcType=VARCHAR}
			</if>
			<if test="name != null">
				,#{name, jdbcType=VARCHAR}
			</if>
			<if test="sickness != null">
				,#{sickness, jdbcType=VARCHAR}
			</if>
			<if test="infectiousFlag != null">
				,#{infectiousFlag, jdbcType=VARCHAR}
			</if>
			<if test="infectiousDisease != null">
				,#{infectiousDisease, jdbcType=VARCHAR}
			</if>
			<if test="discoverTime != null">
				,#{discoverTime, jdbcType=TIMESTAMP}
			</if>
			<if test="reportTime != null">
				,#{reportTime, jdbcType=TIMESTAMP}
			</if>
			<if test="reportOrg != null">
				,#{reportOrg, jdbcType=VARCHAR}
			</if>
			<if test="reportResponsible != null">
				,#{reportResponsible, jdbcType=VARCHAR}
			</if>
			<if test="reportWay != null">
				,#{reportWay, jdbcType=VARCHAR}
			</if>
			<if test="supervisionOpinion != null">
				,#{supervisionOpinion, jdbcType=VARCHAR}
			</if>
			<if test="confirmTime != null">
				,#{confirmTime, jdbcType=TIMESTAMP}
			</if>
			<if test="receiver1 != null">
				,#{receiver1, jdbcType=VARCHAR}
			</if>
			<if test="receiveOrg1 != null">
				,#{receiveOrg1, jdbcType=VARCHAR}
			</if>
			<if test="receiver2 != null">
				,#{receiver2, jdbcType=VARCHAR}
			</if>
			<if test="receiveOrg2 != null">
				,#{receiveOrg2, jdbcType=VARCHAR}
			</if>
			<if test="symptom != null">
				,#{symptom, jdbcType=VARCHAR}
			</if>
			<if test="treat != null">
				,#{treat, jdbcType=VARCHAR}
			</if>
			<if test="hospital != null">
				,#{hospital, jdbcType=VARCHAR}
			</if>
			<if test="clinicTime != null">
				,#{clinicTime, jdbcType=TIMESTAMP}
			</if>
			<if test="result != null">
				,#{result, jdbcType=VARCHAR}
			</if>
			<if test="remark != null">
				,#{remark, jdbcType=VARCHAR}
			</if>
			<if test="year != null">
				,#{year, jdbcType=INTEGER}
			</if>
			<if test="month != null">
				,#{month, jdbcType=INTEGER}
			</if>
			<if test="createBy != null">
				,#{createBy, jdbcType=VARCHAR}
			</if>
			<if test="createTime != null">
				,#{createTime, jdbcType=TIMESTAMP}
			</if>
		</trim>
	</insert>


	<insert id="bulkInsertPersonSickness" parameterType="java.util.List">
		insert into HEALTH_PERSON_SICKNESS (
		ID_
		,TENANTID_
		,GRADEID_
		,PERSONID_
		,NAME_
		,SICKNESS_
		,INFECTIOUSDISEASE_
		,INFECTIOUSFLAG_
		,DISCOVERTIME_
		,REPORTTIME_
		,REPORTORG_
		,REPORTRESPONSIBLE_
		,REPORTWAY_
		,SUPERVISIONOPINION_
		,CONFIRMTIME_
		,RECEIVER1_
		,RECEIVEORG1_
		,RECEIVER2_
		,RECEIVEORG2_
		,SYMPTOM_
		,TREAT_
		,HOSPITAL_
		,CLINICTIME_
		,RESULT_
		,REMARK_
		,YEAR_
		,MONTH_
		,CREATEBY_
		,CREATETIME_
		) values
		<foreach collection="list" item="personSickness" index="index"
			separator=",">
			(
			#{personSickness.id, jdbcType=VARCHAR}
			,#{personSickness.tenantId, jdbcType=VARCHAR}
			,#{personSickness.gradeId, jdbcType=VARCHAR}
			,#{personSickness.personId, jdbcType=VARCHAR}
			,#{personSickness.name,
			jdbcType=VARCHAR}
			,#{personSickness.sickness, jdbcType=VARCHAR}
			,#{personSickness.infectiousDisease, jdbcType=VARCHAR}
			,#{personSickness.infectiousFlag, jdbcType=VARCHAR}
			,#{personSickness.discoverTime, jdbcType=TIMESTAMP}
			,#{personSickness.reportTime, jdbcType=TIMESTAMP}
			,#{personSickness.reportOrg, jdbcType=VARCHAR}
			,#{personSickness.reportResponsible, jdbcType=VARCHAR}
			,#{personSickness.reportWay, jdbcType=VARCHAR}
			,#{personSickness.supervisionOpinion, jdbcType=VARCHAR}
			,#{personSickness.confirmTime, jdbcType=TIMESTAMP}
			,#{personSickness.receiver1, jdbcType=VARCHAR}
			,#{personSickness.receiveOrg1, jdbcType=VARCHAR}
			,#{personSickness.receiver2, jdbcType=VARCHAR}
			,#{personSickness.receiveOrg2, jdbcType=VARCHAR}
			,#{personSickness.symptom, jdbcType=VARCHAR}
			,#{personSickness.treat,
			jdbcType=VARCHAR}
			,#{personSickness.hospital, jdbcType=VARCHAR}
			,#{personSickness.clinicTime, jdbcType=TIMESTAMP}
			,#{personSickness.result, jdbcType=VARCHAR}
			,#{personSickness.remark,
			jdbcType=VARCHAR}
			,#{personSickness.year, jdbcType=INTEGER}
			,#{personSickness.month, jdbcType=INTEGER}
			,#{personSickness.createBy, jdbcType=VARCHAR}
			,#{personSickness.createTime, jdbcType=TIMESTAMP}
			)
		</foreach>
	</insert>


	<insert id="bulkInsertPersonSickness_oracle" parameterType="java.util.List">
		INSERT ALL
		<foreach collection="list" item="personSickness" index="index">
			insert
			into HEALTH_PERSON_SICKNESS (
			ID_
			,TENANTID_
			,GRADEID_
			,PERSONID_
			,NAME_
			,SICKNESS_
			,INFECTIOUSDISEASE_
			,INFECTIOUSFLAG_
			,DISCOVERTIME_
			,REPORTTIME_
			,REPORTORG_
			,REPORTRESPONSIBLE_
			,REPORTWAY_
			,SUPERVISIONOPINION_
			,CONFIRMTIME_
			,RECEIVER1_
			,RECEIVEORG1_
			,RECEIVER2_
			,RECEIVEORG2_
			,SYMPTOM_
			,TREAT_
			,HOSPITAL_
			,CLINICTIME_
			,RESULT_
			,REMARK_
			,YEAR_
			,MONTH_
			,CREATEBY_
			,CREATETIME_
			) values
			(
			#{personSickness.id,
			jdbcType=VARCHAR}
			,#{personSickness.tenantId,
			jdbcType=VARCHAR}
			,#{personSickness.gradeId, jdbcType=VARCHAR}
			,#{personSickness.personId, jdbcType=VARCHAR}
			,#{personSickness.name,
			jdbcType=VARCHAR}
			,#{personSickness.sickness, jdbcType=VARCHAR}
			,#{personSickness.infectiousDisease, jdbcType=VARCHAR}
			,#{personSickness.infectiousFlag, jdbcType=VARCHAR}
			,#{personSickness.discoverTime, jdbcType=TIMESTAMP}
			,#{personSickness.reportTime, jdbcType=TIMESTAMP}
			,#{personSickness.reportOrg, jdbcType=VARCHAR}
			,#{personSickness.reportResponsible, jdbcType=VARCHAR}
			,#{personSickness.reportWay, jdbcType=VARCHAR}
			,#{personSickness.supervisionOpinion, jdbcType=VARCHAR}
			,#{personSickness.confirmTime, jdbcType=TIMESTAMP}
			,#{personSickness.receiver1, jdbcType=VARCHAR}
			,#{personSickness.receiveOrg1, jdbcType=VARCHAR}
			,#{personSickness.receiver2, jdbcType=VARCHAR}
			,#{personSickness.receiveOrg2, jdbcType=VARCHAR}
			,#{personSickness.symptom, jdbcType=VARCHAR}
			,#{personSickness.treat,
			jdbcType=VARCHAR}
			,#{personSickness.hospital, jdbcType=VARCHAR}
			,#{personSickness.clinicTime, jdbcType=TIMESTAMP}
			,#{personSickness.result, jdbcType=VARCHAR}
			,#{personSickness.remark,
			jdbcType=VARCHAR}
			,#{personSickness.year, jdbcType=INTEGER}
			,#{personSickness.month, jdbcType=INTEGER}
			,#{personSickness.createBy, jdbcType=VARCHAR}
			,#{personSickness.createTime, jdbcType=TIMESTAMP}
			)
		</foreach>
		SELECT * FROM dual
	</insert>


	<update id="updatePersonSickness" parameterType="com.glaf.heathcare.domain.PersonSickness">
		update HEALTH_PERSON_SICKNESS
		set
		<trim prefix="" suffix="" suffixOverrides=",">
			<if test="sickness != null">
				SICKNESS_ = #{sickness, jdbcType=VARCHAR},
			</if>
			<if test="infectiousFlag != null">
				INFECTIOUSFLAG_ = #{infectiousFlag, jdbcType=VARCHAR},
			</if>
			<if test="infectiousDisease != null">
				INFECTIOUSDISEASE_ = #{infectiousDisease,
				jdbcType=VARCHAR},
			</if>
			<if test="discoverTime != null">
				DISCOVERTIME_ = #{discoverTime, jdbcType=TIMESTAMP},
			</if>
			<if test="reportTime != null">
				REPORTTIME_ = #{reportTime, jdbcType=TIMESTAMP},
			</if>
			<if test="reportOrg != null">
				REPORTORG_ = #{reportOrg, jdbcType=VARCHAR},
			</if>
			<if test="reportResponsible != null">
				REPORTRESPONSIBLE_ = #{reportResponsible,
				jdbcType=VARCHAR},
			</if>
			<if test="reportWay != null">
				REPORTWAY_ = #{reportWay, jdbcType=VARCHAR},
			</if>
			<if test="supervisionOpinion != null">
				SUPERVISIONOPINION_ = #{supervisionOpinion,
				jdbcType=VARCHAR},
			</if>
			<if test="confirmTime != null">
				CONFIRMTIME_ = #{confirmTime, jdbcType=TIMESTAMP},
			</if>
			<if test="receiver1 != null">
				RECEIVER1_ = #{receiver1, jdbcType=VARCHAR},
			</if>
			<if test="receiveOrg1 != null">
				RECEIVEORG1_ = #{receiveOrg1, jdbcType=VARCHAR},
			</if>
			<if test="receiver2 != null">
				RECEIVER2_ = #{receiver2, jdbcType=VARCHAR},
			</if>
			<if test="receiveOrg2 != null">
				RECEIVEORG2_ = #{receiveOrg2, jdbcType=VARCHAR},
			</if>
			<if test="symptom != null">
				SYMPTOM_ = #{symptom, jdbcType=VARCHAR},
			</if>
			<if test="treat != null">
				TREAT_ = #{treat, jdbcType=VARCHAR},
			</if>
			<if test="hospital != null">
				HOSPITAL_ = #{hospital, jdbcType=VARCHAR},
			</if>
			<if test="clinicTime != null">
				CLINICTIME_ = #{clinicTime, jdbcType=TIMESTAMP},
			</if>
			<if test="result != null">
				RESULT_ = #{result, jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				REMARK_ = #{remark, jdbcType=VARCHAR},
			</if>
		</trim>
		where
		ID_ = #{id, jdbcType=VARCHAR}

	</update>


	<delete id="deletePersonSicknessById" parameterType="string">
		delete from
		HEALTH_PERSON_SICKNESS
		where ID_ = #{id}
	</delete>


	<select id="getPersonSicknessById" parameterType="string"
		resultMap="personSicknessResultMap">
		select * from HEALTH_PERSON_SICKNESS where ID_ = #{id}
	</select>


	<select id="getPersonSicknesss" parameterType="com.glaf.heathcare.query.PersonSicknessQuery"
		resultMap="personSicknessResultMap">
		select distinct E.*
		<include refid="selectPersonSicknesssSql" />
		<choose>
			<when test="orderBy != null">
				order by ${orderBy}
			</when>
			<otherwise>
				order by E.CREATETIME_ desc
			</otherwise>
		</choose>
	</select>


	<select id="getPersonSicknessCount" parameterType="com.glaf.heathcare.query.PersonSicknessQuery"
		resultType="int">
		select count(*)
		<include refid="selectPersonSicknesssSql" />
	</select>


	<sql id="selectPersonSicknesssSql">

		from HEALTH_PERSON_SICKNESS E

		<where>
			1 = 1

			<if test="tenantId != null and tenantId != '' ">
				and E.TENANTID_ = #{tenantId}
			</if>

			<if test="tenantIds != null and tenantIds.size() &gt; 0">
				and E.TENANTID_ IN
				<foreach item="x_tenantId" index="index" collection="tenantIds"
					open="(" separator="," close=")">
					#{x_tenantId}
				</foreach>
			</if>

			<if test="gradeId != null and gradeId != '' ">
				and E.GRADEID_ = #{gradeId}
			</if>

			<if test="gradeIds != null and gradeIds.size() &gt; 0">
				and E.GRADEID_ IN
				<foreach item="x_gradeId" index="index" collection="gradeIds"
					open="(" separator="," close=")">
					#{x_gradeId}
				</foreach>
			</if>

			<if test="personId != null and personId != '' ">
				and E.PERSONID_ = #{personId}
			</if>

			<if test="personIds != null and personIds.size() &gt; 0">
				and E.PERSONID_ IN
				<foreach item="x_personId" index="index" collection="personIds"
					open="(" separator="," close=")">
					#{x_personId}
				</foreach>
			</if>

			<if test="sickness != null and sickness != '' ">
				and E.SICKNESS_ = #{sickness}
			</if>

			<if test="sicknessLike != null and sicknessLike != '' ">
				and E.SICKNESS_ like #{sicknessLike}
			</if>

			<if test="infectiousFlag != null and infectiousFlag != '' ">
				and E.INFECTIOUSFLAG_ = #{infectiousFlag}
			</if>

			<if test="discoverTimeGreaterThanOrEqual != null">
				and E.DISCOVERTIME_ &gt;=
				#{discoverTimeGreaterThanOrEqual}
			</if>

			<if test="discoverTimeLessThanOrEqual != null">
				and E.DISCOVERTIME_ &lt;= #{discoverTimeLessThanOrEqual}
			</if>

			<if test="reportTimeGreaterThanOrEqual != null">
				and E.REPORTTIME_ &gt;= #{reportTimeGreaterThanOrEqual}
			</if>

			<if test="reportTimeLessThanOrEqual != null">
				and E.REPORTTIME_ &lt;= #{reportTimeLessThanOrEqual}
			</if>

			<if test="confirmTimeGreaterThanOrEqual != null">
				and E.CONFIRMTIME_ &gt;= #{confirmTimeGreaterThanOrEqual}
			</if>

			<if test="confirmTimeLessThanOrEqual != null">
				and E.CONFIRMTIME_ &lt;= #{confirmTimeLessThanOrEqual}
			</if>

			<if test="receiver1 != null and receiver1 != '' ">
				and E.RECEIVER1_ = #{receiver1}
			</if>

			<if test="receiver1Like != null and receiver1Like != '' ">
				and E.RECEIVER1_ like #{receiver1Like}
			</if>

			<if test="receiveOrg1 != null and receiveOrg1 != '' ">
				and E.RECEIVEORG1_ = #{receiveOrg1}
			</if>

			<if test="receiveOrg1Like != null and receiveOrg1Like != '' ">
				and E.RECEIVEORG1_ like #{receiveOrg1Like}
			</if>

			<if test="receiver2 != null and receiver2 != '' ">
				and E.RECEIVER2_ = #{receiver2}
			</if>

			<if test="receiver2Like != null and receiver2Like != '' ">
				and E.RECEIVER2_ like #{receiver2Like}
			</if>

			<if test="receiveOrg2 != null and receiveOrg2 != '' ">
				and E.RECEIVEORG2_ = #{receiveOrg2}
			</if>

			<if test="receiveOrg2Like != null and receiveOrg2Like != '' ">
				and E.RECEIVEORG2_ like #{receiveOrg2Like}
			</if>

			<if test="treat != null and treat != '' ">
				and E.TREAT_ = #{treat}
			</if>

			<if test="treatLike != null and treatLike != '' ">
				and E.TREAT_ like #{treatLike}
			</if>

			<if test="hospital != null and hospital != '' ">
				and E.HOSPITAL_ = #{hospital}
			</if>

			<if test="hospitalLike != null and hospitalLike != '' ">
				and E.HOSPITAL_ like #{hospitalLike}
			</if>

			<if test="clinicTimeGreaterThanOrEqual != null">
				and E.CLINICTIME_ &gt;= #{clinicTimeGreaterThanOrEqual}
			</if>

			<if test="clinicTimeLessThanOrEqual != null">
				and E.CLINICTIME_ &lt;= #{clinicTimeLessThanOrEqual}
			</if>

			<if test="result != null and result != '' ">
				and E.RESULT_ = #{result}
			</if>

			<if test="resultLike != null and resultLike != '' ">
				and E.RESULT_ like #{resultLike}
			</if>

			<if test="remarkLike != null and remarkLike != '' ">
				and E.REMARK_ like #{remarkLike}
			</if>

			<if test="year != null">
				and E.YEAR_ = #{year}
			</if>

			<if test="month != null">
				and E.MONTH_ = #{month}
			</if>

			<if test="createBy != null and createBy != '' ">
				and E.CREATEBY_ = #{createBy}
			</if>

			<if test="createBys != null and createBys.size() &gt; 0">
				and E.CREATEBY_ IN
				<foreach item="x_createBy" index="index" collection="createBys"
					open="(" separator="," close=")">
					#{x_createBy}
				</foreach>
			</if>

			<if test="createTimeGreaterThanOrEqual != null">
				and E.CREATETIME_ &gt;= #{createTimeGreaterThanOrEqual}
			</if>

			<if test="createTimeLessThanOrEqual != null">
				and E.CREATETIME_ &lt;= #{createTimeLessThanOrEqual}
			</if>

		</where>
	</sql>

</mapper>