* {
	list-style: none; margin: 0px; padding: 0px;
}
body {
	margin: 0px; padding: 0px;
}
h1 {
	margin: 0px; padding: 0px;
}
h2 {
	margin: 0px; padding: 0px;
}
h3 {
	margin: 0px; padding: 0px;
}
h4 {
	margin: 0px; padding: 0px;
}
h5 {
	margin: 0px; padding: 0px;
}
h6 {
	margin: 0px; padding: 0px;
}
hr {
	margin: 0px; padding: 0px;
}
p {
	margin: 0px; padding: 0px;
}
blockquote {
	margin: 0px; padding: 0px;
}
dl {
	margin: 0px; padding: 0px;
}
dt {
	margin: 0px; padding: 0px;
}
dd {
	margin: 0px; padding: 0px;
}
ul {
	margin: 0px; padding: 0px;
}
ol {
	margin: 0px; padding: 0px;
}
li {
	margin: 0px; padding: 0px;
}
pre {
	margin: 0px; padding: 0px;
}
form {
	margin: 0px; padding: 0px;
}
fieldset {
	margin: 0px; padding: 0px;
}
legend {
	margin: 0px; padding: 0px;
}
button {
	margin: 0px; padding: 0px;
}
input {
	margin: 0px; padding: 0px;
}
textarea {
	margin: 0px; padding: 0px;
}
th {
	margin: 0px; padding: 0px;
}
td {
	margin: 0px; padding: 0px;
}
body {
	font: 12px/1.5 tahoma, arial, 宋体, sans-serif; font-size-adjust: none; font-stretch: normal;
}
button {
	font: 12px/1.5 tahoma, arial, 宋体, sans-serif; font-size-adjust: none; font-stretch: normal;
}
input {
	font: 12px/1.5 tahoma, arial, 宋体, sans-serif; font-size-adjust: none; font-stretch: normal;
}
select {
	font: 12px/1.5 tahoma, arial, 宋体, sans-serif; font-size-adjust: none; font-stretch: normal;
}
textarea {
	font: 12px/1.5 tahoma, arial, 宋体, sans-serif; font-size-adjust: none; font-stretch: normal;
}
h1 {
	font-size: 100%;
}
h2 {
	font-size: 100%;
}
h3 {
	font-size: 100%;
}
h4 {
	font-size: 100%;
}
h5 {
	font-size: 100%;
}
h6 {
	font-size: 100%;
}
address {
	font-style: normal;
}
cite {
	font-style: normal;
}
dfn {
	font-style: normal;
}
em {
	font-style: normal;
}
var {
	font-style: normal;
}
code {
	font-family: courier new, courier, monospace;
}
kbd {
	font-family: courier new, courier, monospace;
}
pre {
	font-family: courier new, courier, monospace;
}
samp {
	font-family: courier new, courier, monospace;
}
small {
	font-size: 12px;
}
ul {
	list-style: none;
}
ol {
	list-style: none;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
legend {
	color: rgb(0, 0, 0);
}
fieldset {
	border: 0px currentColor; border-image: none;
}
img {
	border: 0px currentColor; border-image: none;
}
button {
	font-size: 100%;
}
input {
	font-size: 100%;
}
select {
	font-size: 100%;
}
textarea {
	font-size: 100%;
}
table {
	border-collapse: collapse; border-spacing: 0;
}
.ks-clear::after {
	height: 0px; clear: both; display: block; content: "\20";
}
.clear::after {
	height: 0px; clear: both; display: block; content: "\20";
}
.ks-clear {
	
}
.clear {
	
}
.main {
	margin: 0px auto; padding: 30px 100px; width: 960px;
}
.main h1 {
	text-align: left; color: rgb(51, 51, 51); font-size: 36px; margin-bottom: 30px; border-bottom-color: rgb(238, 238, 238); border-bottom-width: 1px; border-bottom-style: solid;
}
.helps {
	margin-top: 40px;
}
.helps pre {
	margin: 10px 0px; padding: 20px; border: 1px solid rgb(231, 225, 205); border-image: none; overflow: auto; background-color: rgb(255, 253, 239);
}
.icon_lists {
	width: 100% !important;
}
.icon_lists li {
	list-style: none !important; width: 100px; height: 180px; text-align: center; float: left;
}
.icon_lists .icon {
	margin: 10px 0px; transition:font-size 0.25s ease-out; color: rgb(51, 51, 51); line-height: 100px; font-size: 42px; -webkit-transition: font-size 0.25s ease-out 0s; -moz-transition: font-size 0.25s ease-out 0s;
}
.icon_lists .icon:hover {
	font-size: 100px;
}
.markdown {
	color: rgb(102, 102, 102); line-height: 1.8; font-size: 14px;
}
.highlight {
	line-height: 1.5;
}
.markdown img {
	vertical-align: middle; max-width: 100%;
}
.markdown h1 {
	color: rgb(64, 64, 64); line-height: 40px; font-weight: 500; margin-bottom: 24px;
}
.markdown h2 {
	margin: 1.6em 0px 0.6em; color: rgb(64, 64, 64); clear: both; font-weight: 500;
}
.markdown h3 {
	margin: 1.6em 0px 0.6em; color: rgb(64, 64, 64); clear: both; font-weight: 500;
}
.markdown h4 {
	margin: 1.6em 0px 0.6em; color: rgb(64, 64, 64); clear: both; font-weight: 500;
}
.markdown h5 {
	margin: 1.6em 0px 0.6em; color: rgb(64, 64, 64); clear: both; font-weight: 500;
}
.markdown h6 {
	margin: 1.6em 0px 0.6em; color: rgb(64, 64, 64); clear: both; font-weight: 500;
}
.markdown h1 {
	font-size: 28px;
}
.markdown h2 {
	font-size: 22px;
}
.markdown h3 {
	font-size: 16px;
}
.markdown h4 {
	font-size: 14px;
}
.markdown h5 {
	font-size: 12px;
}
.markdown h6 {
	font-size: 12px;
}
.markdown hr {
	background: rgb(233, 233, 233); margin: 16px 0px; border: 0px currentColor; border-image: none; height: 1px; clear: both;
}
.markdown p {
	margin: 1em 0px;
}
.markdown pre {
	margin: 1em 0px;
}
.markdown > p {
	width: 80%;
}
.markdown > blockquote {
	width: 80%;
}
.markdown > .highlight {
	width: 80%;
}
.markdown > ol {
	width: 80%;
}
.markdown > ul {
	width: 80%;
}
.markdown ul > li {
	list-style: circle;
}
.markdown > ul li {
	padding-left: 4px; margin-left: 20px;
}
.markdown blockquote ul > li {
	padding-left: 4px; margin-left: 20px;
}
.markdown > ul li p {
	margin: 0.6em 0px;
}
.markdown > ol li p {
	margin: 0.6em 0px;
}
.markdown ol > li {
	list-style: decimal;
}
.markdown > ol li {
	padding-left: 4px; margin-left: 20px;
}
.markdown blockquote ol > li {
	padding-left: 4px; margin-left: 20px;
}
.markdown code {
	background: rgb(238, 238, 238); margin: 0px 3px; padding: 0px 5px; border-radius: 3px;
}
.markdown pre {
	background: rgb(247, 247, 247); padding: 20px; border-radius: 6px;
}
.markdown pre code {
	background: rgb(247, 247, 247); margin: 0px; border: currentColor; border-image: none;
}
.markdown strong {
	font-weight: 600;
}
.markdown b {
	font-weight: 600;
}
.markdown > table {
	border: 1px solid rgb(233, 233, 233); border-image: none; width: 95%; margin-bottom: 24px; border-collapse: collapse; border-spacing: 0px; empty-cells: show;
}
.markdown > table th {
	color: rgb(51, 51, 51); font-weight: 600; white-space: nowrap;
}
.markdown > table th {
	padding: 8px 16px; border: 1px solid rgb(233, 233, 233); border-image: none; text-align: left;
}
.markdown > table td {
	padding: 8px 16px; border: 1px solid rgb(233, 233, 233); border-image: none; text-align: left;
}
.markdown > table th {
	background: rgb(247, 247, 247);
}
.markdown blockquote {
	margin: 1em 0px; color: rgb(153, 153, 153); padding-left: 0.8em; font-size: 90%; font-style: italic; border-left-color: rgb(233, 233, 233); border-left-width: 4px; border-left-style: solid;
}
.markdown blockquote p {
	margin: 0px;
}
.markdown .anchor {
	transition:opacity 0.3s; margin-left: 8px; opacity: 0;
}
.markdown .waiting {
	color: rgb(204, 204, 204);
}
.markdown h1:hover .anchor {
	display: inline-block; opacity: 1;
}
.markdown h2:hover .anchor {
	display: inline-block; opacity: 1;
}
.markdown h3:hover .anchor {
	display: inline-block; opacity: 1;
}
.markdown h4:hover .anchor {
	display: inline-block; opacity: 1;
}
.markdown h5:hover .anchor {
	display: inline-block; opacity: 1;
}
.markdown h6:hover .anchor {
	display: inline-block; opacity: 1;
}
.markdown > br {
	clear: both;
}
.markdown > p > br {
	clear: both;
}
.hljs {
	background: white; padding: 0.5em; color: rgb(51, 51, 51); display: block; -ms-overflow-x: auto;
}
.hljs-comment {
	color: rgb(150, 152, 150);
}
.hljs-meta {
	color: rgb(150, 152, 150);
}
.hljs-string {
	color: rgb(223, 80, 0);
}
.hljs-variable {
	color: rgb(223, 80, 0);
}
.hljs-template-variable {
	color: rgb(223, 80, 0);
}
.hljs-strong {
	color: rgb(223, 80, 0);
}
.hljs-emphasis {
	color: rgb(223, 80, 0);
}
.hljs-quote {
	color: rgb(223, 80, 0);
}
.hljs-keyword {
	color: rgb(167, 29, 93);
}
.hljs-selector-tag {
	color: rgb(167, 29, 93);
}
.hljs-type {
	color: rgb(167, 29, 93);
}
.hljs-literal {
	color: rgb(0, 134, 179);
}
.hljs-symbol {
	color: rgb(0, 134, 179);
}
.hljs-bullet {
	color: rgb(0, 134, 179);
}
.hljs-attribute {
	color: rgb(0, 134, 179);
}
.hljs-section {
	color: rgb(99, 163, 92);
}
.hljs-name {
	color: rgb(99, 163, 92);
}
.hljs-tag {
	color: rgb(51, 51, 51);
}
.hljs-title {
	color: rgb(121, 93, 163);
}
.hljs-attr {
	color: rgb(121, 93, 163);
}
.hljs-selector-id {
	color: rgb(121, 93, 163);
}
.hljs-selector-class {
	color: rgb(121, 93, 163);
}
.hljs-selector-attr {
	color: rgb(121, 93, 163);
}
.hljs-selector-pseudo {
	color: rgb(121, 93, 163);
}
.hljs-addition {
	color: rgb(85, 165, 50); background-color: rgb(234, 255, 234);
}
.hljs-deletion {
	color: rgb(189, 44, 0); background-color: rgb(255, 236, 236);
}
.hljs-link {
	text-decoration: underline;
}
pre {
	background: rgb(255, 255, 255);
}
