<?xml version="1.0" encoding="UTF-8" ?> 

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.glaf.base.modules.sys.mapper.IdentityTokenMapper">

	<resultMap id="identityTokenResultMap" type="com.glaf.base.modules.sys.model.IdentityToken">
		<id property="id" column="ID_" jdbcType="VARCHAR" />
		<result property="userId" column="USERID_" jdbcType="VARCHAR" />
		<result property="clientIP" column="CLIENTIP_" jdbcType="VARCHAR" />
		<result property="signature" column="SIGNATURE_" jdbcType="VARCHAR" />
		<result property="token" column="TOKEN_" jdbcType="VARCHAR" />
		<result property="nonce" column="NONCE_" jdbcType="VARCHAR" />
		<result property="rand1" column="RAND1_" jdbcType="VARCHAR" />
		<result property="rand2" column="RAND2_" jdbcType="VARCHAR" />
		<result property="type" column="TYPE_" jdbcType="VARCHAR" />
		<result property="timeLive" column="TIMELIVE_" jdbcType="INTEGER" />
		<result property="timeMillis" column="TIMEMILLIS_" jdbcType="BIGINT" />
		<result property="createTime" column="CREATETIME_" jdbcType="TIMESTAMP" />
	</resultMap>


	<insert id="insertIdentityToken" parameterType="com.glaf.base.modules.sys.model.IdentityToken">
		insert into SYS_IDENTITY_TOKEN
		<trim prefix="(" suffix=")" suffixOverrides=",">
			ID_
			<if test="userId != null">
				,USERID_
			</if>
			<if test="clientIP != null">
				,CLIENTIP_
			</if>
			<if test="signature != null">
				,SIGNATURE_
			</if>
			<if test="token != null">
				,TOKEN_
			</if>
			<if test="nonce != null">
				,NONCE_
			</if>
			<if test="rand1 != null">
				,RAND1_
			</if>
			<if test="rand2 != null">
				,RAND2_
			</if>
			<if test="type != null">
				,TYPE_
			</if>
			<if test="timeLive != null">
				,TIMELIVE_
			</if>
			<if test="timeMillis != null">
				,TIMEMILLIS_
			</if>
			<if test="createTime != null">
				,CREATETIME_
			</if>
		</trim>

		<trim prefix=" values (" suffix=")" suffixOverrides=",">
			#{id, jdbcType=VARCHAR}

			<if test="userId != null">
				,#{userId, jdbcType=VARCHAR}
			</if>
			<if test="clientIP != null">
				,#{clientIP, jdbcType=VARCHAR}
			</if>
			<if test="signature != null">
				,#{signature, jdbcType=VARCHAR}
			</if>
			<if test="token != null">
				,#{token, jdbcType=VARCHAR}
			</if>
			<if test="nonce != null">
				,#{nonce, jdbcType=VARCHAR}
			</if>
			<if test="rand1 != null">
				,#{rand1, jdbcType=VARCHAR}
			</if>
			<if test="rand2 != null">
				,#{rand2, jdbcType=VARCHAR}
			</if>
			<if test="type != null">
				,#{type, jdbcType=VARCHAR}
			</if>
			<if test="timeLive != null">
				,#{timeLive, jdbcType=INTEGER}
			</if>
			<if test="timeMillis != null">
				,#{timeMillis, jdbcType=BIGINT}
			</if>
			<if test="createTime != null">
				,#{createTime, jdbcType=TIMESTAMP}
			</if>
		</trim>
	</insert>


	<update id="updateIdentityToken" parameterType="com.glaf.base.modules.sys.model.IdentityToken">
		update SYS_IDENTITY_TOKEN
		set
		<trim prefix="" suffix="" suffixOverrides=",">
			<if test="clientIP != null">
				CLIENTIP_ = #{clientIP, jdbcType=VARCHAR},
			</if>
			<if test="signature != null">
				SIGNATURE_ = #{signature, jdbcType=VARCHAR},
			</if>
			<if test="token != null">
				TOKEN_ = #{token, jdbcType=VARCHAR},
			</if>
			<if test="nonce != null">
				NONCE_ = #{nonce, jdbcType=VARCHAR},
			</if>
			<if test="timeLive != null">
				TIMELIVE_ = #{timeLive, jdbcType=INTEGER},
			</if>
			<if test="timeMillis != null">
				TIMEMILLIS_ = #{timeMillis, jdbcType=BIGINT},
			</if>
			<if test="createTime != null">
				CREATETIME_ = #{createTime, jdbcType=TIMESTAMP},
			</if>
		</trim>
		where
		ID_ = #{id, jdbcType=VARCHAR}

	</update>


	<delete id="deleteIdentityTokenById" parameterType="string">
		delete from
		SYS_IDENTITY_TOKEN
		where ID_ = #{id}
	</delete>


	<select id="getIdentityTokenById" parameterType="string"
		resultMap="identityTokenResultMap">
		select * from SYS_IDENTITY_TOKEN where ID_ = #{id}
	</select>


	<select id="getIdentityTokenByToken" parameterType="string"
		resultMap="identityTokenResultMap">
		select * from SYS_IDENTITY_TOKEN where TOKEN_ = #{token}
	</select>


	<select id="getIdentityTokens" parameterType="com.glaf.base.modules.sys.query.IdentityTokenQuery"
		resultMap="identityTokenResultMap">
		select distinct E.*
		<include refid="selectIdentityTokensSql" />
		<choose>
			<when test="orderBy != null">
				order by ${orderBy}
			</when>
			<otherwise>
				order by E.ID_ desc
			</otherwise>
		</choose>
	</select>


	<select id="getIdentityTokenCount" parameterType="com.glaf.base.modules.sys.query.IdentityTokenQuery"
		resultType="int">
		select count(*)
		<include refid="selectIdentityTokensSql" />
	</select>


	<sql id="selectIdentityTokensSql">

		from SYS_IDENTITY_TOKEN E

		<where>
			1 = 1

			<if test="userId != null and userId != '' ">
				and E.USERID_ = #{userId}
			</if>

			<if test="userIds != null and userIds.size() &gt; 0">
				and E.USERID_ IN
				<foreach item="x_userId" index="index" collection="userIds"
					open="(" separator="," close=")">
					#{x_userId}
				</foreach>
			</if>

			<if test="token != null and token != '' ">
				and E.TOKEN_ = #{token}
			</if>

			<if test="createTimeGreaterThanOrEqual != null">
				and E.CREATETIME_ &gt;= #{createTimeGreaterThanOrEqual}
			</if>

			<if test="createTimeLessThanOrEqual != null">
				and E.CREATETIME_ &lt;= #{createTimeLessThanOrEqual}
			</if>
		</where>
	</sql>

</mapper>