<?xml version="1.0" encoding="UTF-8" ?> 

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.glaf.base.modules.sys.mapper.SysApplicationMapper">

	<resultMap id="sysApplicationResultMap"
		type="com.glaf.base.modules.sys.model.SysApplication">
		<id property="id" column="ID" jdbcType="BIGINT" />
		<result property="name" column="NAME" jdbcType="VARCHAR" />
		<result property="namePinyin" column="NAMEPINYIN"
			jdbcType="VARCHAR" />
		<result property="desc" column="APPDESC" jdbcType="VARCHAR" />
		<result property="url" column="URL" jdbcType="VARCHAR" />
		<result property="code" column="CODE" jdbcType="VARCHAR" />
		<result property="discriminator" column="DISCRIMINATOR"
			jdbcType="VARCHAR" />
		<result property="icon" column="ICON" jdbcType="VARCHAR" />
		<result property="iconCls" column="ICONCLS" jdbcType="VARCHAR" />
		<result property="level" column="LEVEL" jdbcType="INTEGER" />
		<result property="treeId" column="TREEID" jdbcType="VARCHAR" />
		<result property="sort" column="SORTNO" jdbcType="INTEGER" />
		<result property="showMenu" column="SHOWMENU"
			jdbcType="INTEGER" />
		<result property="showType" column="SHOWTYPE"
			jdbcType="VARCHAR" />
		<result property="sysFlag" column="SYSFLAG_" jdbcType="VARCHAR" />
		<result property="parentId" column="PARENTID" jdbcType="BIGINT" />
		<result property="locked" column="LOCKED" jdbcType="INTEGER" />
		<result property="imagePath" column="IMAGEPATH"
			jdbcType="VARCHAR" />
		<result property="linkType" column="LINKTYPE"
			jdbcType="VARCHAR" />
		<result property="createDate" column="CREATEDATE"
			jdbcType="TIMESTAMP" />
		<result property="createBy" column="CREATEBY"
			jdbcType="VARCHAR" />
		<result property="updateBy" column="UPDATEBY"
			jdbcType="VARCHAR" />
		<result property="updateDate" column="UPDATEDATE"
			jdbcType="TIMESTAMP" />
		<result property="deleteFlag" column="DELETEFLAG"
			jdbcType="INTEGER" />
		<result property="deleteTime" column="DELETETIME"
			jdbcType="TIMESTAMP" />
	</resultMap>


	<resultMap id="realmInfoResultMap"
		type="com.glaf.base.modules.sys.model.RealmInfo">
		<result property="item" column="CODE" jdbcType="VARCHAR" />
		<result property="url" column="URL" jdbcType="VARCHAR" />
	</resultMap>


	<insert id="insertSysApplication"
		parameterType="com.glaf.base.modules.sys.model.SysApplication">
		insert into SYS_APPLICATION
		<trim prefix="(" suffix=")" suffixOverrides=",">
			ID
			<if test="name != null">
				,NAME
			</if>
			<if test="namePinyin != null">
				,NAMEPINYIN
			</if>
			<if test="code != null">
				,CODE
			</if>
			<if test="desc != null">
				,APPDESC
			</if>
			<if test="discriminator != null">
				,DISCRIMINATOR
			</if>
			<if test="treeId != null">
				,TREEID
			</if>
			<if test="icon != null">
				,ICON
			</if>
			<if test="iconCls != null">
				,ICONCLS
			</if>
			<if test="level != null">
				,LEVEL
			</if>
			<if test="url != null">
				,URL
			</if>
			<if test="sort != null">
				,SORTNO
			</if>
			<if test="showMenu != null">
				,SHOWMENU
			</if>
			<if test="showType != null">
				,SHOWTYPE
			</if>
			<if test="sysFlag != null">
				,SYSFLAG_
			</if>
			<if test="parentId != null">
				,PARENTID
			</if>
			<if test="locked != null">
				,LOCKED
			</if>
			<if test="imagePath != null">
				,IMAGEPATH
			</if>
			<if test="linkType != null">
				,LINKTYPE
			</if>
			<if test="createDate != null">
				,CREATEDATE
			</if>
			<if test="createBy != null">
				,CREATEBY
			</if>
			<if test="updateBy != null">
				,UPDATEBY
			</if>
			<if test="updateDate != null">
				,UPDATEDATE
			</if>
			<if test="deleteFlag != null">
				,DELETEFLAG
			</if>
			<if test="deleteTime != null">
				,DELETETIME
			</if>
		</trim>

		<trim prefix=" values (" suffix=")" suffixOverrides=",">
			#{id, jdbcType=BIGINT}

			<if test="name != null">
				,#{name, jdbcType=VARCHAR}
			</if>
			<if test="namePinyin != null">
				,#{namePinyin, jdbcType=VARCHAR}
			</if>
			<if test="code != null">
				,#{code, jdbcType=VARCHAR}
			</if>
			<if test="desc != null">
				,#{desc, jdbcType=VARCHAR}
			</if>
			<if test="discriminator != null">
				,#{discriminator, jdbcType=VARCHAR}
			</if>
			<if test="treeId != null">
				,#{treeId, jdbcType=VARCHAR}
			</if>
			<if test="icon != null">
				,#{icon, jdbcType=VARCHAR}
			</if>
			<if test="iconCls != null">
				,#{iconCls, jdbcType=VARCHAR}
			</if>
			<if test="level != null">
				,#{level, jdbcType=INTEGER}
			</if>
			<if test="url != null">
				,#{url, jdbcType=VARCHAR}
			</if>
			<if test="sort != null">
				,#{sort, jdbcType=INTEGER}
			</if>
			<if test="showMenu != null">
				,#{showMenu, jdbcType=INTEGER}
			</if>
			<if test="showType != null">
				,#{showType, jdbcType=VARCHAR}
			</if>
			<if test="sysFlag != null">
				,#{sysFlag, jdbcType=VARCHAR}
			</if>
			<if test="parentId != null">
				,#{parentId, jdbcType=BIGINT}
			</if>
			<if test="locked != null">
				,#{locked, jdbcType=INTEGER}
			</if>
			<if test="imagePath != null">
				,#{imagePath, jdbcType=VARCHAR}
			</if>
			<if test="linkType != null">
				,#{linkType, jdbcType=VARCHAR}
			</if>
			<if test="createDate != null">
				,#{createDate, jdbcType=TIMESTAMP}
			</if>
			<if test="createBy != null">
				,#{createBy, jdbcType=VARCHAR}
			</if>
			<if test="updateBy != null">
				,#{updateBy, jdbcType=VARCHAR}
			</if>
			<if test="updateDate != null">
				,#{updateDate, jdbcType=TIMESTAMP}
			</if>
			<if test="deleteFlag != null">
				,#{deleteFlag, jdbcType=INTEGER}
			</if>
			<if test="deleteTime != null">
				,#{deleteTime, jdbcType=TIMESTAMP}
			</if>
		</trim>
	</insert>


	<update id="updateSysApplication"
		parameterType="com.glaf.base.modules.sys.model.SysApplication">
		update SYS_APPLICATION
		set
		<trim prefix="" suffix="" suffixOverrides=",">
			<if test="name != null">
				NAME = #{name, jdbcType=VARCHAR},
			</if>
			<if test="namePinyin != null">
				NAMEPINYIN = #{namePinyin, jdbcType=VARCHAR},
			</if>
			<if test="code != null">
				CODE = #{code, jdbcType=VARCHAR},
			</if>
			<if test="desc != null">
				APPDESC = #{desc, jdbcType=VARCHAR},
			</if>
			<if test="discriminator != null">
				DISCRIMINATOR = #{discriminator, jdbcType=VARCHAR},
			</if>
			<if test="icon != null">
				ICON = #{icon, jdbcType=VARCHAR},
			</if>
			<if test="iconCls != null">
				ICONCLS = #{iconCls, jdbcType=VARCHAR},
			</if>
			<if test="level != null">
				LEVEL = #{level, jdbcType=INTEGER},
			</if>
			<if test="treeId != null">
				TREEID = #{treeId, jdbcType=VARCHAR},
			</if>
			<if test="url != null">
				URL = #{url, jdbcType=VARCHAR},
			</if>
			<if test="imagePath != null">
				IMAGEPATH = #{imagePath, jdbcType=VARCHAR},
			</if>
			<if test="sort != null">
				SORTNO = #{sort, jdbcType=INTEGER},
			</if>
			<if test="showMenu != null">
				SHOWMENU = #{showMenu, jdbcType=INTEGER},
			</if>
			<if test="showType != null">
				SHOWTYPE = #{showType, jdbcType=VARCHAR},
			</if>
			<if test="parentId != null">
				PARENTID = #{parentId, jdbcType=BIGINT},
			</if>
			<if test="locked != null">
				LOCKED = #{locked, jdbcType=INTEGER},
			</if>
			<if test="linkType != null">
				LINKTYPE = #{linkType, jdbcType=VARCHAR},
			</if>
			<if test="updateBy != null">
				UPDATEBY = #{updateBy, jdbcType=VARCHAR},
			</if>
			<if test="updateDate != null">
				UPDATEDATE = #{updateDate, jdbcType=TIMESTAMP},
			</if>
			<if test="deleteFlag != null">
				DELETEFLAG = #{deleteFlag, jdbcType=INTEGER},
			</if>
			<if test="deleteTime != null">
				DELETETIME = #{deleteTime, jdbcType=TIMESTAMP},
			</if>
		</trim>
		where
		ID = #{id, jdbcType=BIGINT}

	</update>


	<delete id="deleteSysApplicationById" parameterType="long">
		delete from
		SYS_APPLICATION
		where ID = #{id}
	</delete>


	<delete id="deleteSysApplications"
		parameterType="com.glaf.base.modules.sys.query.SysApplicationQuery">
		delete from SYS_APPLICATION
		where (
		ID IN
		<foreach item="x_rowId" index="index" collection="rowIds"
			open="(" separator="," close=")">
			#{x_rowId}
		</foreach>
		)
	</delete>


	<select id="getSysApplicationById" parameterType="long"
		resultMap="sysApplicationResultMap">
		select * from SYS_APPLICATION where ID = #{id}
	</select>


	<select id="getSysApplicationsByRoleId" parameterType="string"
		resultMap="sysApplicationResultMap">

		select E.* from SYS_APPLICATION E
		inner join
		SYS_APP_ACCESS A
		on
		E.ID = A.APPID
		where A.ROLEID = #{roleId}
		and
		E.LOCKED = 0
		and
		E.DELETEFLAG = 0

	</select>


	<select id="getSysApplicationsByRoleCode" parameterType="String"
		resultMap="sysApplicationResultMap">

		select E.* from SYS_APPLICATION E
		inner join
		SYS_APP_ACCESS A
		on
		E.ID = A.APPID
		where A.ROLEID in (
		select R.ID from
		SYS_ROLE R
		where
		R.CODE = #{roleCode}
		)
		and E.LOCKED = 0
		and E.DELETEFLAG
		= 0

	</select>


	<select id="getSysApplicationsByUserId" parameterType="String"
		resultMap="sysApplicationResultMap">

		select E.* from SYS_APPLICATION E
		inner join SYS_APP_ACCESS A
		on E.ID = A.APPID
		where A.ROLEID in (
		select UR.ROLEID
		from SYS_USER_ROLE
		UR
		where UR.USERID = #{userId}
		)
		and E.LOCKED = 0
		and E.DELETEFLAG = 0
		order by E.SORTNO asc

	</select>


	<select id="getRealmInfos" parameterType="map"
		resultMap="realmInfoResultMap">

		select
		E.URL, r.CODE from SYS_APPLICATION E
		inner join
		SYS_APP_ACCESS A
		on
		E.ID
		=
		A.APPID
		inner join SYS_ROLE R
		on A.ROLEID = R.ID
		where E.URL is
		not null
		and E.URL != ''
		and E.LOCKED = 0
		and E.DELETEFLAG
		= 0
		order by
		E.URL asc

	</select>


	<select id="getSysApplications"
		parameterType="com.glaf.base.modules.sys.query.SysApplicationQuery"
		resultMap="sysApplicationResultMap">
		select E.*
		<include refid="selectSysApplicationsSql" />
		<choose>
			<when test="orderBy != null">
				order by ${orderBy}
			</when>
			<otherwise>
				order by E.LOCKED asc, E.PARENTID, E.SORTNO asc, E.TREEID
				asc
			</otherwise>
		</choose>
	</select>


	<select id="getSysApplicationCount"
		parameterType="com.glaf.base.modules.sys.query.SysApplicationQuery"
		resultType="int">
		select count(*)
		<include refid="selectSysApplicationsSql" />
	</select>


	<sql id="selectSysApplicationsSql">

		from SYS_APPLICATION E

		<where>
			1 = 1

			<if test="parentId != null  ">
				and E.PARENTID = #{parentId}
			</if>

			<if test="parentIds != null and parentIds.size != 0">
				and E.PARENTID IN
				<foreach item="x_parentId" index="index"
					collection="parentIds" open="(" separator="," close=")">
					#{x_parentId}
				</foreach>
			</if>

			<if test="name != null and name != '' ">
				and E.NAME = #{name}
			</if>

			<if test="nameLike != null and nameLike != '' ">
				and E.NAME like #{nameLike}
			</if>

			<if test="namePinyinLike != null and namePinyinLike != '' ">
				and ( E.NAME like #{namePinyinLike} or E.NAMEPINYIN
				like
				#{namePinyinLike} )
			</if>

			<if test="code != null and code != '' ">
				and E.CODE = #{code}
			</if>

			<if test="codeLike != null and codeLike != '' ">
				and E.CODE like #{codeLike}
			</if>

			<if test="descLike != null and descLike != '' ">
				and E.APPDESC like #{descLike}
			</if>

			<if test="treeIdLeftLike != null and treeIdLeftLike != '' ">
				and E.TREEID like #{treeIdLeftLike}
			</if>

			<if test="treeIdLike != null and treeIdLike != '' ">
				and E.TREEID like #{treeIdLike}
			</if>

			<if test="treeIdRightLike != null and treeIdRightLike != '' ">
				and E.TREEID like #{treeIdRightLike}
			</if>

			<if test="urlLike != null and urlLike != '' ">
				and E.URL like #{urlLike}
			</if>

			<if test="sortGreaterThanOrEqual != null">
				and E.SORTNO &gt;= #{sortGreaterThanOrEqual}
			</if>

			<if test="sortGreaterThan != null">
				and E.SORTNO &gt; #{sortGreaterThan}
			</if>

			<if test="sortLessThanOrEqual != null">
				and E.SORTNO &lt;= #{sortLessThanOrEqual}
			</if>

			<if test="sortLessThan != null">
				and E.SORTNO &lt; #{sortLessThan}
			</if>

			<if test="showMenu != null">
				and E.SHOWMENU = #{showMenu}
			</if>

			<if test="sysFlag != null and sysFlag != '' ">
				and E.SYSFLAG_ = #{sysFlag}
			</if>

			<if test="locked != null">
				and E.LOCKED is not null
				and E.LOCKED = #{locked}
			</if>

			<if test="deleteFlag != null">
				and E.DELETEFLAG = #{deleteFlag}
			</if>

		</where>
	</sql>

</mapper>