/* @reset */
body,dl,dd,ul,ol,h1,h2,h3,h4,h5,h6,p,form,input,textarea,button,th,td{padding:0;margin:0;}
img,iframe{border:0;}
table{border-collapse:collapse;border-spacing:0;table-layout:fixed;}
ol,ul{list-style:none;}
h1,h2,h3,h4,h5,h6{font-weight:bold;font-size:100%;}
em,strong{font-weight:bold;font-style:normal;}
body,textarea,select,input{font:12px/1.14 "MicroSoft Yahei", "宋体",\5b8b\4f53;color:#000;}
a,button{cursor:pointer;}
a{color:#fff;text-decoration:none;}
a:hover,a:active{outline:0;}
body,html{width:100%;height:100%;overflow:hidden;}
/* @functional */
.f-cb{*zoom:1;}
.f-cb:after {clear:both;content: ".";display: block;height:0;overflow:hidden;}
/*色值
	color1：#00416d
	color2：#006d5b
	color3：#6c4800
    color4:#333
*/
/* @page */
.g-loginbox{position:relative;width:100%;height:100%;overflow:hidden;}
.p-login{position:relative;}
/* style-color1-head */
.p-login-1 .u-logo{width:420px;background-position:0 0;}
.p-login-1 .g-hd{background:#00416d;background:-webkit-linear-gradient(top,#004573,#003d66);background:-moz-linear-gradient(top,#004573,#003d66);}
.p-login-1 .m-hd .nav,.p-login-1 .m-hd .nav a{color:#99b3c5;}
.p-login-1 .m-hd .nav a:hover{color:#d5dee5;}
.p-login-1 .m-loginbg{background:#00416d;}
/* style-color1-form */
.p-login-1 .m-loginbox .u-ico-ticked{background-position:0 -520px;}
.p-login-1 .m-loginbox .u-loginbtn{background:#2f83ba;background:-webkit-linear-gradient(top,#3086bf,#2d7eb3);background:-moz-linear-gradient(top,#3086bf,#2d7eb3);}
.p-login-1 .m-loginbox .u-loginbtn:hover{background:#5492bb;background:-webkit-linear-gradient(top,#5695bf,#508cb3);background:-moz-linear-gradient(top,#5695bf,#508cb3);}
.p-login-1 .m-loginbox .u-abtn-1{color:#2d7eb3;}
/* style-color1-popup */
.p-login-1 .m-popup-service .box:hover .u-ico-yen{background-position:-30px -590px;}
.p-login-1 .m-popup-service .box:hover .u-ico-suggest{background-position:-30px -610px;}
.p-login-1 .m-popup-service .box:hover .u-ico-help{background-position:-30px -630px;}
/* style-color2-head */
.p-login-2 .u-logo{width:425px;background-position:0 -30px;}
.p-login-2 .g-hd{background:#006d5b;background:-webkit-linear-gradient(top,#007360,#006655);background:-moz-linear-gradient(top,#007360,#006655);}
.p-login-2 .m-hd .nav,.p-login-2 .m-hd .nav a{color:#a8c2bc;}
.p-login-2 .m-hd .nav a:hover{color:#b7ccc7;}
.p-login-2 .m-loginbg{background:#006d5b;}
/* style-color2-form */
.p-login-2 .m-loginbox .u-ico-ticked{background-position:-30px -520px;}
.p-login-2 .m-loginbox .u-loginbtn{background:#2eb9a2;background:-webkit-linear-gradient(top,#30bfa7,#2db39d);background:-moz-linear-gradient(top,#30bfa7,#2db39d);}
.p-login-2 .m-loginbox .u-loginbtn:hover{background:#53baa8;background:-webkit-linear-gradient(top,#56bfae,#50b4a3);background:-moz-linear-gradient(top,#56bfae,#50b4a3);}
.p-login-2 .m-loginbox .u-abtn-1{color:#2db39c;}
/* style-color2-popup */
.p-login-2 .m-popup-service .box:hover .u-ico-yen{background-position:-60px -590px;}
.p-login-2 .m-popup-service .box:hover .u-ico-suggest{background-position:-60px -610px;}
.p-login-2 .m-popup-service .box:hover .u-ico-help{background-position:-60px -630px;}
/* style-color3-head */
.p-login-3 .u-logo{width:458px;background-position:0 -60px;}
.p-login-3 .g-hd{background:#023a61;background:-webkit-linear-gradient(top,#04538a,#023a61);background:-moz-linear-gradient(top,#734c00,#664400);}
.p-login-3 .m-hd .nav,.p-login-3 .m-hd .nav a{color:#b7aa98;}
.p-login-3 .m-hd .nav a:hover{color:#ccc3b7;}
.p-login-3 .m-loginbg{background:#6c4800;}
/* style-color3-form */
.p-login-3 .m-loginbox .u-ico-ticked{background-position:-60px -520px;}
.p-login-3 .m-loginbox .u-loginbtn{background:#0674c1;background:-webkit-linear-gradient(top,#0674c1,#035085);background:-moz-linear-gradient(top,#bf8f30,#b3862d);}
.p-login-3 .m-loginbox .u-loginbtn:hover{background:#c6a158;background:-webkit-linear-gradient(top,#cca559,#c29e57);background:-moz-linear-gradient(top,#cca559,#c29e57);}
.p-login-3 .m-loginbox .u-abtn-1{color:#b3862d;}
/* style-color3-popup */
.p-login-3 .m-popup-service .box:hover .u-ico-yen{background-position:-90px -590px;}
.p-login-3 .m-popup-service .box:hover .u-ico-suggest{background-position:-90px -610px;}
.p-login-3 .m-popup-service .box:hover .u-ico-help{background-position:-90px -630px;}

/* @layout */
.g-hd{width:100%;z-index:9;}
.g-scroll{position:relative;width:103%;height:100%;overflow:auto;overflow-x: hidden;}
.g-bd{position:relative;width:100%;height:100%;z-index:2;}
.g-mnLoginout{width:790px;padding-top:60px;margin:0 auto;}
.g-ft{position:absolute;left:20px;bottom:20px;z-index:9;color:#fff;}
.g-ft-loginout{width: 100%;height:82px;bottom:0;left:0;padding-bottom:20px;background:#f7f7f7;border-top:1px solid #cfd0d0;}
.g-bgtxt{position:absolute;left:20px;bottom:130px;font-size:26px;line-height:32px;z-index:5;color:#fff;}
.g-bgauthor{position:absolute;right:20px;bottom:65px;z-index:5;color:#fff;opacity:0.8;filter:alpha(opacity=80);}
/* @unit */
.u-ico,.u-logo,.u-card,.m-hd .nav a.serviceIcon i{overflow:hidden;background:url(../img/sprite.png);_background:url(../img/sprite_png8.png);}
.u-logo{float:left; margin:2px 0 0 0; height: 48px;}
.u-logo a{display: block;width: 100%; height: 100%;}
.u-ico-tick{display:inline-block;width:12px;height:12px;vertical-align:-2px;_vertical-align:middle;background-position:0 -500px;box-shadow:1px 1px 1px rgba(0,0,0,0.3);}
.u-ico-ask{display:inline-block;width:12px;height:12px;margin-right:5px;vertical-align:-2px;_vertical-align:middle;background-position:0 -540px;}
.u-ico-triangle{display:inline-block;margin-left:2px;width:7px;height:4px;vertical-align:middle;background-position:0 -560px;}
.u-ico-warn{display:inline-block;margin-right:5px;width:25px;height:25px;vertical-align:middle;background-position:0px -470px;}
.u-ico-close{display:inline-block;width:15px;height:15px;vertical-align:middle;background-position:0 -570px;}
.u-ico-close:hover{background-position:-30px -570px;}
.u-ico-yen{display:inline-block;margin:9px 3px 9px 0;width:12px;height:16px;vertical-align:middle;background-position:0 -590px;}
.u-ico-suggest{display:inline-block;margin:9px 3px 9px 0;width:16px;height:16px;vertical-align:middle;background-position:0 -610px;}
.u-ico-help{display:inline-block;margin:8px 3px 8px 0;width:17px;height:18px;vertical-align:middle;background-position:0 -630px;}
/* common a */
.m-hd .nav a{position:relative;_display:inline-block;margin-left:52px;}
.m-hd .nav a.serviceIcon{padding-left:15px;}
.m-hd .nav a.serviceIcon i{position:absolute;top:50%;left:0;width:14px;height:14px;margin-top:-6px;background-position:-30px -540px;}
/* 关注帐号ico */
.u-card{display:block;width:68px;height:68px;margin:0 auto;margin-bottom:10px;border:1px solid #ddd;}
.u-card-weibo{background-position:0 -260px;}
.u-card-weixin{background-position:0 -330px;}
.u-card-yixin{background-position:0 -400px;}
/* 登陆按钮 */
.u-loginbtn{display:block;width:260px;height:40px;line-height:40px;text-align:center;color:#fff;font-size:16px;border:none;box-shadow:1px 1px 1px rgba(0,0,0,0.3)}
/* 注册/支付按钮 */
.u-abtn{display:block;width:120px;height:36px;line-height:36px;font-size:14px;text-align:center;box-shadow:1px 1px 1px rgba(0,0,0,0.3);background:#dedede;background:-webkit-linear-gradient(top,#eee,#dedede);background:-moz-linear-gradient(top,#eee,#dedede);text-shadow:1px 1px rgba(255,255,255,0.75);}
.u-abtn:hover{background:#ececec;background:-webkit-linear-gradient(top,#fcfcfc,#ececec);background:-moz-linear-gradient(top,#fcfcfc,#ececec);}
.u-abtn-1{float:left;}
.u-abtn-2{float:right;color:#666;}
/* jump Next */
.u-jumpNext{position:absolute;display:block;z-index:100;bottom:55px;left:52%;width:40px;margin-left:-20px;font-size:12px;color:#fff;}
.u-jumpNext img{display:block;margin:0 auto;width:26px;}
.u-jumpNext p{white-space:nowrap;margin-bottom:10px;}
.u-top{display:none;position:fixed;_position:absolute;bottom:100px;left:52%;margin-left:550px;z-index:101;width:48px;height:48px;background:#000;}
.u-top img{width:21px;height:25px;display:block;margin:12px auto;}
.u-top .cover{display:none;}
.u-top:hover .cover{display:block;position:absolute;top:0;left:0;width:40px;height:40px;padding:4px;text-align:center;font-style:normal;display:block;font-size:14px;line-height:20px;color:#999;}
.u-top:hover img{display:none;}
/* @module */
/* 头部 */
.m-hd{height:56px;line-height:56px;padding:0 18px;}
.m-hd .slogan{float:left;margin-left:9px;color:#e3e3e3;}
.m-hd .nav{float:right;}
/* 背景图片 */
.m-loginbg{position:absolute;width:100%;height:100%;z-index:4;}
/* 首页防伪框 */
.m-photoframe{display:none;position:absolute;top:0px;left:-80px;cursor:pointer;width:60px;height:60px;box-shadow:1px 1px 3px rgba(0, 0, 0, 0.2);}
.m-photoframe .perImg{width:60px;height:60px;}
/* 登陆框 */
.m-loginboxbg{position:absolute;left:52%;top:10%;z-index:6;margin-left:10%;width:320px;height:280px;filter:alpha(opacity=40);background:#000;background:rgba(0,0,0,0.4);box-shadow:0 0 5px rgba(0,0,0,0.3);border:1px solid rgba(255,255,255,0.3);}
.m-loginbox{display:block;position:absolute;left:52%;top:10%;z-index:7;margin-left:10%;width:320px;height:390px;color:#fff;}
.m-loginbox .lbinner{padding:30px 0 0 30px;font-size:12px;text-shadow:1px 1px rgba(0,0,0,0.2);}
.m-loginbox .line1{width:260px;height:40px;margin-bottom:25px;overflow:hidden;font-size:13px;font-weight:700;font-family:Verdana;box-shadow:1px 1px 1px rgba(0,0,0,0.3)}
.m-loginbox .ipt{outline:none;padding:10px;height:20px;line-height:20px;border:0;color:#333;font-size:13px;}
.m-loginbox .ipt-user{float:right;width:157px;font-family:Verdana;font-weight:700;}
.m-loginbox .domain{float:left;width:75px;padding-left:8px;height:40px;line-height:40px;text-align:left;background:#ececec;color:#999;text-shadow:1px 1px rgba(255,255,255,0.75);}
.m-loginbox .line2{margin-bottom:15px;width:260px;box-shadow:1px 1px 1px rgba(0,0,0,0.3)}
.m-loginbox .ipt-pwd{width:240px;}
.m-loginbox .ipt-replace{color:#999;font-weight:400;font-family:Microsoft Yahei;}
.m-loginbox .line3{margin-bottom:20px;width:260px;}
.m-loginbox .ssl{float:left;cursor:pointer;height:15px;line-height:14px;overflow:hidden;}
.m-loginbox .forgotpw{float:right;}
.m-loginbox .forgotpw:hover{color:#e6e6e6;}
.m-loginbox .line4{margin-bottom:15px;width:260px;}
.m-loginbox .line5{position:relative;margin-bottom:13px;height:19px;}
.m-loginbox .verbox{display:none;position:absolute;left:52px;top:17px;text-shadow:none;box-shadow:0px 0px 10px rgba(0,0,0,0.5)}
.m-loginbox .ver{display:block;width:90px;padding:0 10px;text-indent:5px;color:#666;background:#fff;background:rgba(255,255,255,0.9);}
.m-loginbox .ver span{display:block;height:32px;overflow:hidden;line-height:32px;border-top:1px solid #bbb;}
.m-loginbox .ver:hover{position:relative;background:#ddd;background:rgba(221,221,221,0.9);margin-bottom:-1px;}
.m-loginbox .ver:hover span{border-top:1px solid #ddd;border-top:1px solid rgba(221,221,221,0.9);height:33px;}
.m-loginbox .ver-0 span{font-size:14px;height:39px;line-height:41px;border-top:none;}
.m-loginbox .ver-0:hover span{border-top:none;height:40px;}
.m-loginbox .line6{width:260px;padding-bottom:25px;border-bottom:1px solid #bbb;border-bottom:1px solid rgba(255,255,255,0.5);}
.m-topiclist{margin-top:8px;line-height:20px;}
.m-topiclist a:hover{color:#e6e6e6;}
/* 脚步 */
.m-footer{color:#ddd;white-space:nowrap;text-shadow:1px 1px rgba(0,0,0,0.2);}
.m-footer a{color:#ddd;}
.m-footer a:hover{color:#fff;}
/* 弹窗 */
.m-popup{display:none;position:absolute;z-index:9;background:#fff;background:rgba(255,255,255,0.9);box-shadow:-1px 0px 3px rgba(0,0,0,0.4)}
.m-popup-loginout{border:1px solid #ccc;}
.m-popup .u-ico-close{position:absolute;right:10px;top:10px;}
.m-popup .arrow{position:absolute;border:11px dashed transparent;line-height:0;font-size:0;}
.m-popup-arrowtop .arrow{top:-22px;left:52%;margin-left:-12px;border-bottom:11px solid #fff\9;border-bottom:11px solid rgba(255,255,255,0.9);}
.m-popup .tt{font-size:14px;line-height:25px;color:#333;white-space:nowrap;}
.m-popup .ct a{color:#2d7eb3;text-decoration:underline;}
/* 帐号错误提示 */
.m-popup-warn{top:60px;right:310px;min-width:230px;padding:20px;box-shadow:-2px 1px 3px rgba(0,0,0,0.3)}
.m-popup-warn .arrow{top:50%;right:-22px;margin-top:-12px;border-left:11px solid #fff\9;border-left:11px solid rgba(255,255,255,0.9);}
.m-popup-warn .ct{margin-top:10px;padding-top:10px;padding-bottom:12px;border-top:1px solid #b8b8b8;color:#888;line-height:18px;}
.m-popup-warn-username{top:20px;right:310px;}
.m-popup-warn-password{top:85px;right:310px}
.m-popup-warn-block{padding:10px 20px;width:300px;top:0px;right:310px;}
/* 关注我们 */
.m-popup-card{right:20px;top:65px;padding:20px 10px 20px 20px;}
.m-popup-card .arrow{margin-left:0;_margin-left:-30px;}
.m-popup-card .inner{width:300px;}
.m-popup-card ul{padding:10px 0 0 0;}
.m-popup-card li{float:left;width:100px;text-align:center;}
/* 7x24管家服务弹窗 */
.m-popup-service{right:10px;top:65px;padding-top:15px;}
.m-popup-service .arrow{left:auto;right:30px;_right:60px;}
.m-popup-loginout .arrow{border:0;width:27px;height:13px;background:url(../img/nav2.png) no-repeat;top:-13px;}
.m-popup-service .tt{font-size:16px;font-weight:700;padding:0 15px;}
.m-popup-service .tt .thot{color:#cd1c16;}
.m-popup-service .ct{padding:2px 15px 10px 15px;width:300px;font-size:14px;color:#666;line-height:22px;}
.m-popup-service .telnum{font-weight:700;font-family:Arial;}
.m-popup-service .lkmore{font-size:12px;}
.m-popup-service .box{float:left;padding:6px 0;color:#666;background:#dfdfdf;background:rgba(221,221,221,0.9);}
.m-popup-service .boxct{width:110px;height:34px;line-height:34px;text-align:center;}
.m-popup-service .box:hover{background:none;color:#2d7eb3;}
.m-popup-service .box-1 .boxct{border-right:1px solid #e8e9ea;}
.m-popup-service .box-3{color:#cd1c16;}
.m-popup-service .box-3 .boxct{border-left:1px solid #e8e9ea;}

/* flash */
#flashArea,#flashArea embed{width:0;height:0;line-height:0;font-size:0;}

/* login 2.0 */
.m-section{overflow:hidden;}
.m-bd{position:relative;width:960px;margin:0 auto;}
.m-section-5{background:#111;zoom:1;position:relative;}
.m-section-4{padding-top:164px;}
.m-loadMain{background:url(../img/bg.jpg) no-repeat 50% 100%;_zoom:1;}

.g-ft1{padding:20px 0;}
.m-function{width:100%;}
.m-function li{padding:2px 0;width:239px;border-right:1px solid #ddd;text-align:center;float:left;}
.m-function li.last{border:0;}
.m-function li span{display:block;width:32px;height:32px;margin:0 auto 20px;background:url(../img/sprite2.png) no-repeat;}
.m-function li span.icon2{background-position:-42px 0;}
.m-function li span.icon3{background-position:-85px 0;}
.m-function li span.icon4{background-position:-129px 0;}
.m-function p{font-size:12px;color:#666;}
.m-function .tt{font-size:16px;margin-bottom:8px;line-height:16px;color:#333;}
.m-flink{text-align:center;color:#666;padding:27px 0;font-size:12px;line-height:24px;}
.m-flink a{color:#666;}

.m-indexcon{position:relative;zoom:1;}
.m-indexcon h3,.m-img h3{font-size:16px;line-height:36px;font-weight:normal;margin:10px 0 5px;}
.m-indexcon .say{line-height:24px;font-size:12px;word-break: break-all;}
.m-img .say{color:#666;}
.m-indexcon a.color{color:#b3862d}
.m-indexcon a.color2{color:#666}
.m-indexcon .tel{font-size:14px;color:#b5882d;padding:18px 0 25px;text-align:center;}
.m-indexcon .tel a{font-size:20px;font-family:"Georgia";color:#b5882d;cursor:default;}

.u-btn{color:#fff;display:block;width:150px;height:50px;color:#fff;float:left;margin-right:30px;line-height:50px;background:#ba8b2e;text-align:center;font-size:16px;}
.u-btn:hover{background:#c8a258}
.u-btn-1{margin-right:0;background:#999}
.u-btn-1:hover{background:#b9b9b9}

.m-tt{text-align:center;font-size:40px;font-weight:normal;color:#fff;line-height:48px;padding:50px 0 10px;}
.m-tt2{font-size: 24px;padding: 28px 0 20px;}
.m-section .desc{font-size:14px;color:#fff;padding:10px 0 70px;text-align:center;}
.m-btn{width:330px;margin:35px auto 0;}
.m-btn-1{width:330px;margin:0 auto;}

.u-privilege{padding-bottom:60px;}
.u-singleprivilege{display:block;width:260px;margin:0 30px;float:left;_display:inline;text-align:center;}
.u-singleprivilege h3{font-size:18px;line-height:36px;margin-top:10px;color:#fff;text-align:center;font-weight:normal;}
.u-singleprivilege .intro{font-size:14px;line-height:24px;color:#999;text-align:left;}
.u-singleprivilege:hover h3,.u-singleprivilege:hover .intro{color:#fff}

.u-link{text-align:center;margin:0 0 80px;}
.u-link-1{margin-top:40px;}
.u-link a{padding:0 15px;line-height:38px;color:#b98b2e;font-size:14px;border:1px solid #b98b2e;display:inline-block;text-align:center;}
.u-link a:hover{background:#b98b2e;color:#fff;}

.u-regNum{padding:50px 0;color:#999;text-align:center;font-size:16px;line-height:36px;}
/* 错误提示动画 */
.m-popup-warn-show{
  display:block;
  -webkit-animation: shake 0.6s ease 0.3s;
  -moz-animation: shake 0.6s ease 0.3s;
  -o-animation: shake 0.6s ease 0.3s;
  animation: shake 0.6s ease 0.3s;
}


/* loginout */
.m-relogin{height:44px;line-height: 44px;}
.m-relogin em{display:block;float:left;line-height:44px;font-size:24px;font-weight: normal;color:#333;padding-left:54px;background:url(../img/right.jpg) no-repeat 0 50%;}
.u-relogin{display: block;width: 79px;height:30px;float:left;border:1px solid #bfcacf;margin:7px 0;color:#333;font-size:14px;line-height: 30px;text-align: center;border-radius: 2px;background:#eff5f8;background:-webkit-linear-gradient(top,#ffffff,#e9eff3);background:-moz-linear-gradient(top,#ffffff,#e9eff3);background:-ms-linear-gradient(top,#ffffff,#e9eff3);vertical-align: middle;}
.m-spread{margin-top:20px;border-top:1px solid #cfd0d0;padding-top:60px;}
.u-spread,.u-spread img{display: block;width: 100%;max-height:400px;}
.u-spread{display: none;}