<?xml version="1.0" encoding="UTF-8" ?> 

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.glaf.global.ChartDataMapper">

	<select id="getHealthDietaryStatisticsData" resultType="java.util.HashMap" parameterType="java.util.HashMap">

		select TITLE_ as c , VALUE_ as v from health_dietary_statistics

		where  ( TYPE_ = #{type.stringVal} )

		<if test="tenantId != null">
			AND ( TENANTID_ = #{tenantId.stringVal} )
		</if>

		<if test="suitNo != null">
			AND ( SUITNO_ = #{suitNo.intVal} )
		</if>

		<if test="dayOfWeek != null">
			AND ( DAYOFWEEK_ = #{dayOfWeek.intVal} )
		</if>

		<if test="dayOfWeek == null">
			AND ( DAYOFWEEK_ = 9999 )
		</if>

		order by SORTNO_ asc

	</select>


	<select id="getHealthDietaryStatisticsData2" resultType="java.util.HashMap" parameterType="java.util.HashMap">

		select TITLE_ as c , VALUE_ as v from health_dietary_statistics

		where ( TYPE_ = #{type.stringVal} )

		<if test="tenantId != null">
			AND ( TENANTID_ = #{tenantId.stringVal} )
		</if>

		<if test="suitNo != null">
			AND ( SUITNO_ = #{suitNo.intVal} )
		</if>

		<if test="year != null">
			AND ( YEAR_ = #{year.intVal} )
		</if>

		<if test="semester != null">
			AND ( SEMESTER_ = #{semester.intVal} )
		</if>

		<if test="week != null">
			AND ( WEEK_ = #{week.intVal} )
		</if>

		order by SORTNO_ asc

	</select>

</mapper>